body{
	background:#f4f6fa;
}
.header{
	/*background-color:#333;*/
	background-image: url(../imgs/mainNew/bg_top.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	color: #333;
	height: 435px;
	line-height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
	box-shadow:3px 0 5px #b3b3b3;
	box-shadow: 0 4px 6px 0 rgba(179,179, 179, 0.16);
}
.logoImg {
	/*padding-left: 15px;*/
	padding-left: 30px;
	margin-top: 10px;
}
.righthWrap {
	float: right;
	height: 60px;
	position: relative;
	z-index: 1000;
	margin-right: 15px;
}
.userWrap {
	float: left;
}
.userShow>* {
	float: left;
	line-height: 60px;
}
.userShow {
	overflow: hidden;
	cursor:pointer;
}
#userName{
	color: #fff;
}
.userIcon {
	/* padding: 0 10px 0 13px; */
	border-radius: 50%;
	width: 30px;
	margin-right: 10px;
}
.userDownArrow {
	/*padding-top: 29px;*/
	/*padding-right: 15px;*/
	color: #fff;
}
.userDownList{
	display:none;
	background: #fff;
	box-shadow: 1px 1px 5px #ddd;
	position: relative;
	width: 100%;
	padding:5px 0;
}
.userDownList p:hover {
	color:#3780f1;
}

.active .userDownList{
	display:block;
}
.choice {
	line-height: 34px;
	padding: 0 10px;
	margin: 0;
	cursor: pointer;
}
.choice:hover{
	background:#eaf6fe;
}
.exitSys{
	/*border-left:1px solid #eafafb;*/
	width:30px;
	float:left;
	height:60px;
	cursor:pointer;
	/*background:transparent url(../imgs/main/exit.png) no-repeat center center;*/
	background:transparent url(../imgs/mainNew/exit.png) no-repeat center center;
	margin-left: 60px;
}
.sysMenu{
	float: right;
	width: 60px;
	margin-right: 10px;
	line-height:66px;
}
.sysMenu>i{

	cursor: pointer;
	color: #fff;
	font-size: 18px;
	padding: 0 20px;
}
#sysMenuList{
	min-width: 114px;
	box-shadow: 0px 10px 15px #999;
	top:50px;
	padding: 15px 10px;
	font-size: 14px;
}
#sysMenuList img{
	margin-right: 5px;
}
#sysMenuList>li{
	height: 30px;
	cursor: pointer;
	width: 100%;
	border-bottom: 1px solid #EAEDF1;
	line-height: 30px;
}
#sysMenuList>li>a{
	color: #333;
	padding: 5px 8px;
}
/*菜单文字不可选中*/
#sysMenuList>li>a, #folderMenuWrap>li, #menusWrap>li{
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
#sysMenuList>li>a:hover{
	color: #2855ED;
	background-color: #fff;
}
/*左侧菜单*/
#leftMenu{
	/*background:#131722;*/
	background:url(../imgs/mainNew/bg_daohang.png);
	width: 190px;
	position:fixed;
	top: 80px;
	left:0;
	bottom: 0;
	z-index:99;
	overflow-x: hidden;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
}
.ctrlBtn{
	width:100%;
	height:20px;
	/*border-bottom:1px solid #3d4757;*/
	text-align:center;
	cursor:pointer;
	margin: 15px 0;
	color: #6A6A6A;
}
.ctrlBtn>i{
	/*background: transparent url(../imgs/main/leftIcons.png) no-repeat;*/
	/*width: 20px;*/
	/*height: 20px;*/
	/*display: inline-block;*/
	/*margin-top: 8px;*/
}
.micon{
	background: transparent url(../imgs/main/leftIcons.png) no-repeat;
	position:relative;
	width: 30px;
	margin-left: 5px;
	height:100%;
	display:inline-block;
}
.workbenchIcon {
	background-position: -44px 7px;
}
.monitoringIcon {
	background-position: -28px -26px;
}
.createIcon {
	background-position: -71px 7px;
}
.rulePkgIcon{
	background-position: 4px -23px;
}
.menusWrap{
	margin:0;
	padding:0;
	padding-left:15px;
	font-size: 16px;
}
.menusWrap li{
	width:100%;
	/*color:#fff;*/
	color: #333;
	height: 50px;
	list-style:none;
	clear:both;
	cursor:pointer;
	margin: 20px 0;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.menusWrap li>span {
	line-height: 50px;
	max-width:138px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden;
}
.menusWrap li>.arr{
	width:15px;
	height:100%;
	background:transparent url(../imgs/mainNew/icon_zhankai.png) no-repeat center center;
	display:inline-block;
	float: right;
	margin-right: 10px;
}
#folderMenuWrap .folderNameSpan {
	padding-right: 40px;
}
/*创建向导的不展示*/
.menusWrap .addFolderLi>i{
	display: none;
}

.menusWrap li.active>.arr{
	background:transparent url(../imgs/mainNew/icon_zhedie.png) no-repeat center center;
}
.menusWrap li>*{
	float:left;
}
.menusWrap li.active{
	/*background:#23293c;*/
	color: #fff;
	background: linear-gradient(to right, #56b0b6 0%,#5abaa2 100%);

}

#folderMenuWrap li.active{
	color:#02BABC;
	background:none;
}
#folderMenuWrap li{
	position: relative;
}
#folderMenuWrap li>.sel{
	position: absolute;
	right:0;
}
.hover{
	background:#e5f8f8;
	color:#333 !important;
}
.hover>.arr{
	background:transparent url(../imgs/main/leftAr.png) no-repeat center center;
}
.nck{
	display: none;
}
.menuBorder{
	width: 4px;
	height: 100%;
}
.menuBorder_active{
	background: -webkit-linear-gradient(#9C42FC,#045BE9); /* Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#9C42FC,#045BE9); /* Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#9C42FC,#045BE9); /* Firefox 3.6 to 15 */
	background: linear-gradient(#9C42FC,#045BE9); /* 标准语法 (必须在最后) */
}
#page {
	position: fixed;
	left: 190px;
	right: 0;
	bottom: 0;
	top: 70px;
	z-index: 197;
	overflow-y: auto;
}
#pageHeader {
	display: flex;
	background: #fff;
	padding: 0 20px;
	margin: 10px;
	border-radius: 5px;
	align-items: center;
	justify-content: space-between;
}
#pageHeader p {
	line-height: 55px;
	font-size: 15px;
	font-weight: 600;
	color: #696666;
	margin-bottom: 0;
}
.workbentchCt{
	padding:0 15px;
}
.chart1{
	width:100%;
	height:280px;
}
.chart1,.chart2,.chart3{
	position:relative;
}
.chart2{
	width: 50%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom:20px;
	height:295px;
	margin-right: 25px;
	padding-right: 0 !important;
	padding-left: 10px;
}
.chart3{
	margin-right:0;
}
#chart3{

	width:100%;
	height:100%;
	background:#fff;

}
#chart2{
	width:100%;
}
.table1{
	height:50%;
	/*     height:400px; */
}
.table1{
	/*padding-top:10px;*/
	min-height:260px;
}
.chart1>div,.chart2>div,.table1>div{
	background:#fff;
	width:100%;
	height:100%;
	border-radius:15px;
	padding:10px 10px 0;
}
.table1>div{
	height:auto;
	padding: 10px 0;
}
#sysUserLoginContainer{
	background-color: #fff;
	height: 30px;
	line-height: 30px;
	margin: 10px;
}
#robotImgContainer{
	display: inline-block;
	padding: 0 10px 0 5px;
	background-color: #f3f6fb;
	vertical-align: top;
}
.tipWrap{
	margin:0;
	color: #3B4B6D;
	padding-left:15px;
	line-height:34px;
	font-size:11px;
	display: inline-block;
}
.uname{
	/*color:#0a79ca;*/
}
.col, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	/* padding-right: 5px; */
	/* padding-left: 5px; */
}
#exitLogin .modal-dialog {
	width: 300px;
}
#exitLogin .modal-body {
	text-align: center;
}
.tblWrap{
	min-height:260px;
	margin-bottom:10px;
}
.table1 .tblWrap{
	background-color: #F5F6FA;
}


/*mini menu css*/
.miniMenu #leftMenu {
	width: 55px;
}
.miniMenu .menusWrap {
	padding-left: 0;
}
.miniMenu .menusWrap li>span, .miniMenu .menusWrap li>.arr{
	display:none;
}
.miniMenu #page{
	left: 55px; /* 随着左侧mini menu的宽度变化 */
}
.miniMenu .menusWrap li > span{
	position: absolute;
	left: 46px;
	background: rgba(0,0,0,.6);
	padding: 0 10px;
	border-radius: 2px;
}
.miniMenu .menusWrap li:hover > span{
	display: block;
}
.miniMenu .menusWrap li>.arr{
	background:transparent url(../imgs/main/rightArrowGray.png) no-repeat center right;
	position: absolute;
	float:none;
	left: 40px;
	height:37px;
	width:6px;
}
.miniMenu .menusWrap li:hover>.arr{
	display:block;
}
.miniMenu .ctrlBtn{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); /* Opera */
}
.miniMenu .ctrlBtn>i{
	background-position:-22px 0;
}
.cm-tableTopSearch .cm-searchGroup {
	padding-left: 10px;
}
.cm-refreshBtn {
	float:right;
	right:10px;
	position:relative;
}
.miniMenu #folderMenuWrap{
	margin-left: 0px;
}

/* 新目录(左侧)样式 */
.menuImg{
	width: 40px;
	height: 100%;
	text-align: center;
	margin:0 5px;
	line-height: 50px;
}
#select1 .cm-selectOption{
	border: 1px solid #D6E2FE;
	border-radius: 50px;
	background-color: #E6EFFE;
	padding: 2px 8px;
	color: #5484FB;
}
#table1 .modifyBtn{
	font-size:13px;
	border:1px solid #D6E2FE;
	background: #E6EFFE;
	border-radius: 200px;
	color: #5484FB;
	padding:4px 14px;
	margin:0 5px;
	cursor:pointer;
	box-shadow: none;
}

/*创建向导*/
.addFolder{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
}
.addFolder>i{
	font-size: 20px;
	color: #C4C6CC;
}
.addFolderLi>span{
	display: none;
}
.addFolderLi:hover>.addFolder>i{
	color: #333;
}
.miniMenu .addFolderLi:hover>.addFolder>i{
	color: #C4C6CC;
}

/* 个人详细信息   */
#userDetail .modal-dialog { width:344px;}
.detail_line { border-bottom:none; padding-bottom:0px;}
.title-detail { text-align: center; padding-top:29px; padding-bottom:10px; }
.personImg {
	text-align:center;
	line-height:63px;
	width:65px;
	height:65px;
	border-radius:200px;
	/* background:transparent url(../imgs/main/personImg.png) no-repeat center center;  */
	background:#fff;
	position:absolute;
	top:-30px;
	left:50%;
	margin-left:-32px;
	box-shadow: 0 4px 6px 0 rgba(60, 184, 255, 0.16);
}
.p_t0 { padding-top:0; }
.list_message { padding-left:0px;}
.list_message li { padding:0 15px; background:#f6f7fb; height:50px; line-height:50px; margin-bottom:5px; list-style:none;}
.list_message li span { float:right;}
.list_message li:hover { background:#e9f6fe; color:#3780f1;}

.test{
	text-align:center;
	padding-top:50%;
	display:block;
	overflow:hidden;
	height:calc(100% - 30px);
	background:url(../imgs/main/00.gif) center 0 no-repeat;
	background-size:100%;
}

.wtd-80 {
	width:80%;
}
#folderMenuWrap{
	margin-left: 15px;
}
.o{ /*open*/
	display: block;
}
.c{ /*close*/
	display: none;
}
.selBox{
	width:150px;
	height:30px;
	line-height:30px;
	border:1px solid #e7eaef;
	border-radius:5px;
	position:absolute;
	right:220px;
	top:10px;
	outline: none;
	z-index: 100;
	font-size: 14px !important;
}
.selBank{
	right:38px;
}
.chart1 .selBank{
	right:47px;
}
.chartsBox{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-right:10px;
}
.infoBox {
	display: flex;
}
.infoItem{
	color:#fff;
	padding: 0px 25px;
	display: flex;
	align-items: flex-start;
	color: rgba(255,255,255,.7);
	font-size: 16px;
	flex-shrink: 1;
}
.infoItem:nth-child(2){
	flex-grow: 1;
	flex-shrink: 0;
	justify-content: center;
}
.infoItem:nth-child(3){
	flex-shrink: 1;
}
.infoItem .unit {
	font-size: 14px;
}
.executeImg{
	width:30px;
	margin-right: 15px;
	margin-top: 50px;
}
.executeInfo{
	display: flex;
	flex-direction: column;
}
.infoTitle{
	margin-bottom:15px;
	font-weight: bold;
	color:#fff;
}
.successNum,.failNum,.executeNum,.diaoyongNum,.topNum{
	font-size: 34px;
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
	color:#fff;
}
.numBox{
	display: flex;
	align-items: baseline;
	margin-bottom:10px;
	font-size: 14px;
}
.splitLabel{
	height: 20px;
	width: 1px;
	display: inline-block;
	border: 0;
	border-left: 1px solid #e5e5e5;
	margin: 0 10px;
}
.topTitle{
	max-width:110px;
	min-width: 80px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.gatherBox{
	padding: 0 25px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.gatherItem{
	flex-grow: 1;
	height: 130px;
	padding:15px;
	border-radius: 15px;
	font-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}
.gatherItem:nth-child(1){
	margin-right: 30px;
	background-image:url(../imgs/mainNew/bg_mxhz.png);
}
.gatherItem:nth-child(2){
	margin-right: 30px;
	background-image:url(../imgs/mainNew/bg_mxqy.png);
}
.gatherItem:nth-child(3){
	background-image:url(../imgs/mainNew/bg_lxrw.png);
}
.gatherItem ul{
	list-style: none;
	padding-right:20px;
}
.gatherItem ul>li{
	padding: 0 35px;
	display: flex;
}
.gatherItem ul>li>span {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.gatherItem ul>li>span span {
	margin-right: 15%;
}
.gatherItem ul>li:last-child{
	margin-top:5px;
}
.gatherTitle{
	width: 70px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	background: linear-gradient(to right, #fff 0%,#edfafa 100%);
	border-radius: 10px;
	font-weight:bold;
	margin-bottom: 0;
}
.modelNum,.editionNum{
	color: #5bbbbd;
	display: inline-block;
	margin-left: 10px;
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
}