#pageContent {
    height: 100%;
    width: 100%;
}
#pageBody {
    width: 100%;
    height:80%;
    height: calc(100% - 34px);
    border: 10px solid transparent;
}
#editRuleName .modal-dialog {
    width: 650px;
}
.topStepWrap{
    text-align:right;
    padding:14px 6px;
    margin-bottom:1px;
    background: #fff;
    border-radius:5px;
}
svg {
    min-width: 1300px;
    height:100%;
}
.stepIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: #b6b6b6;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    font-weight: normal;
}
.active .stepIcon{
    /*background: #1774ef;*/
    background: var(--colorNormal);
    color: #fff;
}
.topStepWrap .active .stepTxt{
    /*color: #1774ef;*/
    color: var(--colorNormal);
}
.topStepWrap label{
    cursor:pointer;
}
.topStepWrap .stepTxt{
    color:#666;
    font-weight:normal;
    padding-top:6px;
    padding-left:8px;
    padding-right:15px;
    display:inline-block;
}
.arrowIcon{
    width:8px;
    height:14px;
    background:transparent url(../imgs/common/blueArrow.png) no-repeat center center;
    display: inline-block;
    top: 3px;
    position: relative;
    margin-right: 6px;
}
.contentWrap {
    background: #fff;
    border-radius: 5px;
    height: 90%;
    height: calc(100% - 133px);
    position: relative;
    overflow: auto;
    padding:20px 0;
    padding-bottom: 0;
}
#myflow_tools {
    position: relative;
    margin:0 20px;
    float: left;
    background-color:#f7f9fb;
    width: 118px;
    /*     height: calc(100% - 20px); */
    cursor: default;
    display: none;
    border-radius: 10px;
}
.myflowWap {
    float: left;
    /*width: 84%;*/
    width: calc(100% - 160px);
    position: relative;
    overflow:auto;
    height:100%;
    background: #f7f9fb;
    border-radius: 10px
}
.myflowViewWap {
    float: left;
    /*     width: -moz-calc(100% - 150px); */
    /*     width: -webkit-calc(100% - 150px); */
    /*     width: calc(100% - 150px); */
    position: relative;
    overflow:auto;
    height:100%;
}
#myflow_tools.heigh {
    height:432px;
}
#myflow_tools_handle, #myflow_props_handle{
    color: #000;
    font-weight:bold;
    padding: 15px;
    font-size: 14px;
}
#save{
    color: #fff;
    overflow: hidden;
    position: absolute;
    width: 76px;
    top: 0;
    left: 100%;
    height: 30px;
    padding: 0;
    margin:0;
}
#myflow_save{
    float: left;
    background-color: #8a8a8a;
    border-radius: 0 2px 2px 0;
    padding: 0 8px;
    height: 30px;
}
#save:hover > div{
    background-color: #666;
}
#myflow_save > img{
    padding: 0 6px 0 3px;
    top: -8px;
    position: relative;
}
#myflow_save > span{
    font-size: 12px;
    top: -7px;
    position: relative;
}
#iconCtlSave{
    padding: 4px 2px 4px 0;
    background-color: #8a8a8a;
    border-radius: 0 2px 2px 0;
    float: left;
    top: 7px;
    position: relative;
    height: 18px;
    width: 8px;
}
#myflow_props {
    position: absolute;
    top: 30;
    right: 50;
    background-color: #f2f2f2;
    width: 233px;
    padding-bottom:19px;
    display: none;
}

#myflow_tools_handle {
    text-align: center;
}

.node {
    height: 46px;
    line-height: 46px;
    text-align: left;
    width: 118px;
    overflow: hidden;
    padding: 0 20px;
}
.node > span,.node > img{
    color: #666;
    margin-right:15px;
}

#pointer{
    margin-top: 5px;
}

.mover {
    background-color: #ddd;
    cursor: pointer;
}
#save.mover{
    background-color: transparent;
}
.selected {
    background-color: #ddd;
}
#myflow_props th {
    letter-spacing: 2px;
    text-align: left;
    padding: 5px 0 5px 16px;
    border: none;
    color: #333;
    font-weight: normal;

}

#myflow_props td {
    padding: 5px 0;
    border: none;
}
#ptext, .editor{
    width: 160px;
}
#ptemp1 > input,#ppathCdt > input,#paction > input{
    width: 128px;
    float: left;
    margin-right: 7px;
}
button.setMove {
    width: 25px;
    height: 25px;
    float: left;
    border: 1px solid #c9c9c9;
    background-color: #dcdcdc;
    color: #a0a0a0;
}
#myflow_props input{
    border: 1px solid #aaa;
    outline: none;
    height: 25px;
}

#pointer {
    background-repeat: no-repeat;
    background-position: center;
}

#path {
    background-repeat: no-repeat;
    background-position: center;
}

#task {
    background-repeat: no-repeat;
    background-position: center;
}

#state {
    background-repeat: no-repeat;
    background-position: center;
}

#myflow_props > table{
    border: none;
    background-color: #f2f2f2;
}
#curColor{
    width: 36px;
    height: 20px;
    border:1px solid #aaa;
}
#colorBoard > table {
    width: 100%;
    height: 106px;
}
#colorBoard{
    border: 1px solid #aaa;
    padding: 4px 6px;
    width: 210px;
    margin: 0 0 0 16px;
}
#colorBoard > table td {
    width: 11px;
    height: 11px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 0;
    cursor: pointer;
}
#colorBoard > table #last-tr td{
    border-bottom-width: 0px;
}
.color{
    overflow: hidden;
}
.color > span {
    margin: 11px 5px 8px 16px;
    display: inline-block;
    float: left;
    color: #333;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
#iconCtlSave > img{
    vertical-align: top;
    padding: 1px 0;
}
tspan{
    font-size: 11px;
}
.ui-draggable-dragging:hover{
    cursor: move;
}
#pname{
    width: 160px;
}
table#props {
    margin-top: 14px;
}
.dialogBtns{
    width: 200px;
}
#ptype > select{
    outline: none;
    border: none;
}
#myflow_props input.combo-text{
    border: none;
}
.flowOtherProp {
    position:relative;
    min-height: 200px;
    background: #fff;
    padding: 14px;
    border-radius: 5px;
    border-top: 10px solid #f3f6fb;
    border-bottom: 10px solid #f3f6fb;
}
.prompt {
    position:absolute;
    bottom:19px;
    left:20px;
    color:#f00;
}
.btnsWrap{
    text-align:right;
    padding:20px;
    background: #fff;
    margin-bottom: 10px;
}
.cm-btnSec{
    margin-left:12px;
}
.cm-tblA {
    float:right;
}
.topOptionWrap{
    margin-bottom:20px;
}

/*动作规则配置详情*/
.actContentWrap {
    width: 100%;
    height: 100%;
}
.actDetailH {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.actDT {
    font-size: 16px;
    color: #333;
}
.actDCWrap {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    min-height: 91%;
    min-height: calc(100% - 74px);
}
.actDetailName {
    width: 250px;
    margin-left: 15px;
    padding: 0 5px;
}
.rglWrap {
    width: 94%;
    margin: 15px 3%;
    border: 1px solid #eee;
    border-radius: 5px;
}
.cdtdp1 {
    margin-bottom: 15px;
}
.topTxt {
    background: #f6f7fb;
    padding: 0 20px;
    height: 42px;
}
.topTxt>* {
    float: left;
    line-height: 42px;
}
.topTxt>span{
    margin-right: 10px;
}
.rglWrap .topTxt .cm-selectPeacock {
    top: 6px;
    margin-right: 10px;
}
.topTxt .cm-selectPeacock {
    width: 70px;
}
.rglWrap .topTxt .cm-selectOption.form-control[readonly]{
    background:transparent;
}
.butD{
    float:none;
    margin:10px 20px 20px;
}
.actLeftRuleCdt, .actRightRuleCdt, .lineRuleCdt{
    padding:20px 20px 0;
}
.topTxt .cm-allOptions{
    top:38px;
}
div.leftCdtRuleCdt, div.cdtRuleCdtOpt, div.rightCdtRuleCdt,div.valType,div.inputSel,
div.lineCdtRuleCdt, div.lineRuleCdtOpt  {
    width: 200px;
    float: left;
    margin: 8px 20px 0 0;
}
div.valType{
    width:100px;
}
.inputVal {
    float: left;
    margin-top: 8px;
    margin-right:15px;
}
.cdtValue {
    height: 30px;
    padding: 5px 8px;
}
.actLeftRuleCdt > div,.actRightRuleCdt > div, .lineRuleCdt > div{
    clear: both;
    min-height: 50px;
}
.cdtResultIptWrap > input {
    height: 30px;
    padding: 0 8px;
}
.actLeftRuleCdt .cm-selectOption.form-control[readonly],
.actRightRuleCdt .cm-selectOption.form-control[readonly]{
    color:#666;
    background-color:transparent;
    border-bottom:1px solid #ddd;
}
.saveActBtns{
    text-align:center;
}
.cdtRstWrap {
    margin-left: 110px;
}
.describeTxt {
    margin-right: 10px;
}
.delActRow {
    width: 50px;
    height: 50px;
    display: inline-block;
    background:#444;
    cursor:pointer;
    float: left;
    background:transparent url(../imgs/common/optIcons.png) no-repeat left top;
    background-position: -14px -25px;
}
.cdtResultIptWrap {
    float: left;
    margin-right: 20px;
}
.optIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
    background:transparent url(../imgs/common/optIcons.png) no-repeat left top;
    top: 5px;
    position: relative;
    cursor:pointer;
}
.iconUp{
    background-position: -161px -43px;
}
.iconUp:hover{
    background-position: -135px -43px;
}
.iconDown{
    background-position: -209px -43px;
}
.iconDown:hover{
    background-position: -185px -43px;
}
.icondel{
    background-position: -284px -43px;
}
.icondel:hover{
    background-position: -260px -43px;
}
.iconEdit {
    background-position: -31px -77px;
}
.iconEdit:hover {
    background-position: -1px -77px;
}
.ruleDiscribe{
    width:400px;
    height:100px;
    resize:none;
}
#ruleName{
    width:400px;
}
.ruleNameEdit {
    text-align: left;
    margin: 0;
    font-weight: normal;
}
.cm-linkBtn{
    float:right;
}

.topTxt .checkbox-inline input{
    margin-top: 14px;
}
.zoomBtns{
    position:absolute;
    right:20px;
    top:20px;
    z-index: 9;
}
.zoomBtn{
    width:31px;
    height:31px;
    float:left;
    margin:0 8px;
    cursor:pointer;
    border-radius:50%;
}
.biggerBtn{
    background:transparent url(../imgs/decisionTree/icon_quanping.png) no-repeat center center;

}
.smallerBtn{
    background:transparent url(../imgs/decisionTree/icon_tcqp.png) no-repeat center center;

}
/*.biggerBtn:hover{*/
/*	background:#3780f1 url(../imgs/rule/BS.png) no-repeat center center;*/
/*	background-position:-8px -30px;*/
/*	*/
/*}*/
/*.smallerBtn:hover{*/
/*	background:#3780f1 url(../imgs/rule/BS.png) no-repeat center center;*/
/*	background-position:-52px -31px;*/
/*}*/
.funcMethodWrap span{
    width:60px;
    float:left;
    margin-top: 15px;
}
.funcMethodLine{
    margin-bottom: 10px;
    height:30px;
}
.leftCdtRuleCdtRight .cm-selectOption, .rightCdtRuleCdt .cm-selectOption, .cdtResultIpt .cm-selectOption{
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    box-shadow: none;
}
.butD {
    clear: both;
    display: block;
}
.inputSel{
    display:none;
}
.interResourceTypeIcon{
    /*color: #3280FC;*/
    color: var(--colorNormal);
}
/*引入规则库规则集*/
#importRuleSet i{
    vertical-align: middle;
    margin-right: 6px;
}
#importRuleSetModal .modal-body{
    max-height: 450px;
    overflow: auto;
}
#versionRulesTableContainer{
    border: 1px dashed #ccc;
    padding: 8px 5px;
}
.radio{
    display: inline-block;
    margin-right: 20px;
}
.mustIcon{
    color: #EA644A;
    text-align: center;
    vertical-align: middle;
    padding-right: 5px;
}
/* 发布&本地化 */
#setCommon i, #setLocal i{
    vertical-align: middle;
    margin-right: 6px;
}
/*模型库相关*/
#modelVersion{
    width:400px;
}
.modelVersionDes{
    width:400px;
    height:100px;
    resize:none;
}
#modelBaseGroupSelectorP{
    display: inline-block;
}
#modelBaseGroupSelector{
    width: 400px;
    margin-left: 12px;
}
#modelBaseGroupSelector .cm-selectOption.form-control[readonly]{
    background:transparent;
    color:#666;
    border-bottom:1px solid #ddd;
}
#modelUpdateTypeDiv, #updateModelTypeRadio{
    display: inline-block;
}
#updateModelTypeRadio{
    margin-left: 8px;
}
#updateModelTypeRadio .radio{
    margin-right: 8px;
}
