<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.mapper.oracle.variable.VariableKindMapper">
  <resultMap id="BaseResultMap" type="com.bonc.frame.entity.variable.VariableKind">
    <id column="KIND_ID" jdbcType="VARCHAR" property="kindId" />
    <result column="KIND_VALUE" jdbcType="VARCHAR" property="kindValue" />
    <result column="KIND_DESC" jdbcType="VARCHAR" property="kindDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    KIND_ID, KIND_VALUE, KIND_DESC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRE_VARIABLE_KIND
    where KIND_ID = #{kindId,jdbcType=VARCHAR}
  </select>
  <select id="selectVariableKind" resultType="map">
    select 
    KIND_ID "key",KIND_VALUE "text"
    from CRE_VARIABLE_KIND
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRE_VARIABLE_KIND
    where KIND_ID = #{kindId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bonc.frame.entity.variable.VariableKind">
    insert into CRE_VARIABLE_KIND (KIND_ID, KIND_VALUE, KIND_DESC
      )
    values (#{kindId,jdbcType=VARCHAR}, #{kindValue,jdbcType=VARCHAR}, #{kindDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bonc.frame.entity.variable.VariableKind">
    insert into CRE_VARIABLE_KIND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kindId != null">
        KIND_ID,
      </if>
      <if test="kindValue != null">
        KIND_VALUE,
      </if>
      <if test="kindDesc != null">
        KIND_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kindId != null">
        #{kindId,jdbcType=VARCHAR},
      </if>
      <if test="kindValue != null">
        #{kindValue,jdbcType=VARCHAR},
      </if>
      <if test="kindDesc != null">
        #{kindDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bonc.frame.entity.variable.VariableKind">
    update CRE_VARIABLE_KIND
    <set>
      <if test="kindValue != null">
        KIND_VALUE = #{kindValue,jdbcType=VARCHAR},
      </if>
      <if test="kindDesc != null">
        KIND_DESC = #{kindDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where KIND_ID = #{kindId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bonc.frame.entity.variable.VariableKind">
    update CRE_VARIABLE_KIND
    set KIND_VALUE = #{kindValue,jdbcType=VARCHAR},
      KIND_DESC = #{kindDesc,jdbcType=VARCHAR}
    where KIND_ID = #{kindId,jdbcType=VARCHAR}
  </update>
</mapper>