<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.engine.mapper.RuleEngineMapper">

    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.rule.RuleDetail">
        <id column="RULE_ID" property="ruleId" jdbcType="VARCHAR"/>
        <result column="FOLDER_ID" property="folderId" jdbcType="VARCHAR"/>
        <result column="RULE_NAME" property="ruleName" jdbcType="VARCHAR"/>
        <result column="RULE_DESC" property="ruleDesc" jdbcType="VARCHAR"/>
        <result column="RULE_TYPE" property="ruleType" jdbcType="VARCHAR"/>
        <result column="IS_DEL" property="isDel" jdbcType="VARCHAR"/>
        <result column="IS_LOG" property="isLog" jdbcType="VARCHAR"/>
        <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="RULE_STATUS" property="ruleStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" type="com.bonc.frame.entity.rule.RuleDetailWithBLOBs" extends="BaseResultMap">
        <result column="RULE_CONTENT" property="ruleContent" jdbcType="CLOB"/>
        <result column="RULE_INTERCEPT" property="ruleIntercept" jdbcType="CLOB"/>
    </resultMap>

    <resultMap id="FunctionResultMap" type="com.bonc.frame.entity.function.RuleFunction">
        <id column="FUNCTION_ID" property="functionId" jdbcType="VARCHAR"/>
        <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR"/>
        <result column="FOLDER_ID" property="folderId" jdbcType="VARCHAR"/>
        <result column="FUNCTION_NAME" property="functionName" jdbcType="VARCHAR"/>
        <result column="FUNCTION_DESC" property="functionDesc" jdbcType="VARCHAR"/>
        <result column="FUNCTION_RETURN_TYPE" property="functionReturnType" jdbcType="VARCHAR"/>
        <result column="FUNCTION_RETURN_VALUE" property="functionReturnValue" jdbcType="VARCHAR"/>
        <result column="CLASS_TYPE" property="classType" jdbcType="VARCHAR"/>
        <result column="FUNCTION_CLASS_PATH" property="functionClassPath" jdbcType="VARCHAR"/>
        <result column="CLASS_NAME" property="className" jdbcType="VARCHAR"/>
        <result column="FUNCTION_METHOD_NAME" property="functionMethodName" jdbcType="VARCHAR"/>
        <result column="FUNCTION_PARAMS_CONF" property="functionParamsConf" jdbcType="CLOB"/>
        <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 查询规则详情 -->
    <select id="selectRuleDetailByRuleId" parameterType="map" resultMap="ResultMapWithBLOBs">
    select *
    from CRE_RULE_DETAIL
    where RULE_ID = #{ruleId,jdbcType=VARCHAR}
    and IS_DEL != '1'
  </select>

    <!-- 查询草稿表 -->
    <select id="selectRuleDetailByRuleIdForDraft" resultMap="ResultMapWithBLOBs" parameterType="map">
        select
        *
        from CRE_RULE_DETAIL_DRAFT
        where RULE_ID = #{ruleId,jdbcType=VARCHAR}
        and IS_DEL != '1'
    </select>

    <!-- 查询规则详情 -->
    <select id="selectRuleDetailByFolderId" parameterType="map" resultMap="ResultMapWithBLOBs">
    select *
    from CRE_RULE_DETAIL
    where FOLDER_ID = #{folderId,jdbcType=VARCHAR}
    and IS_DEL != '1'
    order by CREATE_DATE
  </select>

    <!-- 查询实体及其属性详情和实体属性关系 -->
    <!--<select id="selectEntityProperties" parameterType="string" resultType="map">
      SELECT A.VARIABLE_ID AS "variableId",A.ENTITY_ID AS "entityId",
          A.FOLDER_ID,A.VARIABLE_ALIAS AS "variableAlias",
          A.VARIABLE_CODE AS "variableCode",A.TYPE_ID AS "typeId",
          A.KIND_ID AS "kindId",
          B.ENTITY_ID AS "belongEntityId",B.ENTITY_VARIABLE_ALIAS AS "aliasCode"
      FROM CRE_VARIABLE A
      LEFT JOIN CRE_VARIABLE_ENTITY_RELATION B
      ON A.VARIABLE_ID = B.VARIABLE_ID
      WHERE A.FOLDER_ID = #{folderId,jdbcType=VARCHAR}
    </select>-->

    <!-- 查询函数列表 -->
    <select id="getFunList" resultMap="FunctionResultMap" parameterType="string">
      select * from CRE_RULE_FUNCTION 
      where FOLDER_ID = #{folderId,jdbcType=VARCHAR}
  </select>

    <!-- 查询系统变量列表 -->
    <select id="getSysConstantsByFolderId" resultType="map" parameterType="string">
      select VARIABLE_CODE AS "variableCode",DEFAULT_VALUE AS "defaultValue",
      TYPE_ID AS "typeId"
      from CRE_VARIABLE 
      where FOLDER_ID = #{folderId,jdbcType=VARCHAR}
      and KIND_ID = 'K4'
  </select>
    <!--  and  (KIND_ID = 'K4' OR KIND_ID = 'K3' OR KIND_ID = 'K2') -->

    <!-- 查询输出变量列表 -->
    <select id="getOutputVar" resultType="map" parameterType="string">
      select VARIABLE_CODE AS "variableCode",DEFAULT_VALUE AS "defaultValue"
      from CRE_VARIABLE 
      where FOLDER_ID = #{folderId,jdbcType=VARCHAR}
      and KIND_ID = 'K2'
  </select>

    <!-- 获取场景下模型引用的所有输出非实体类型参数 -->
    <select id="getPubFlatVarByFolderId" resultType="map" parameterType="string">
    SELECT
        VARIABLE_CODE AS "variableCode",
        DEFAULT_VALUE AS "defaultValue"
    FROM
        CRE_VARIABLE
    WHERE
        VARIABLE_ID IN (
            SELECT
                VR.VARIABLE_ID
            FROM
                CRE_VARIABLE_RULE VR
            INNER JOIN (
                SELECT
                    RULE_ID
                FROM
                    CRE_RULE_DETAIL
                WHERE
                    FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND IS_DEL = '0' AND IS_HEADER = '0'
        UNION
        SELECT
        RULE_ID
        FROM
        CRE_RULE_DETAIL_DRAFT
        WHERE
        FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND IS_DEL = '0' AND IS_HEADER = '0'
            ) R ON VR.RULE_ID = R.RULE_ID
        )
    AND IS_PUBLIC = '1'
    AND ENTITY_ID IS NULL
    AND TYPE_ID != '3'
        AND KIND_ID = 'K2'
  </select>

    <!-- 场景下引用接口引用的输出非实体变量 -->
    <select id="getPubFlatVarInApiByFolderId" resultType="map" parameterType="string">
        SELECT
            VARIABLE_CODE AS "variableCode",
            DEFAULT_VALUE AS "defaultValue"
        FROM
            CRE_VARIABLE
        WHERE
            VARIABLE_ID IN (
                SELECT
                    VARIABLE_ID
                FROM
                    CRE_VARIABLE_API
                WHERE
                    API_ID IN (
                        SELECT
                            API_ID
                        FROM
                            CRE_API_RULE
                        WHERE
                            RULE_ID IN (
                                SELECT
                                    RULE_ID
                                FROM
                                    CRE_RULE_DETAIL
                                WHERE
                                    FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND IS_DEL = '0' AND IS_HEADER = '0'
        UNION
        SELECT
        RULE_ID
        FROM
        CRE_RULE_DETAIL_DRAFT
        WHERE
        FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND IS_DEL = '0' AND IS_HEADER = '0'
                            )
                    )
            )
        AND IS_PUBLIC = '1'
        AND ENTITY_ID IS NULL
        AND TYPE_ID != '3'
        AND KIND_ID = 'K2'
    </select>

    <!-- 场景下引用接口引用的公共实体变量 -->
    <select id="getPubEntityVarInApiByFolderId" resultType="string" parameterType="string">
        SELECT
        DISTINCT(ENTITY_ID)
        FROM
        CRE_VARIABLE
        WHERE
        VARIABLE_ID IN (
        SELECT
        VARIABLE_ID
        FROM
        CRE_VARIABLE_API
        WHERE
        API_ID IN (
        SELECT
        d.API_ID AS API_ID
        FROM
        CRE_API_RULE d
        INNER JOIN CRE_RULE_DETAIL e ON d.RULE_ID = e.RULE_ID
        WHERE
        e.FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND d.API_ID IS NOT NULL
        UNION
        SELECT
        D .API_ID AS API_ID
        FROM
        CRE_API_RULE D
        INNER JOIN CRE_RULE_DETAIL_DRAFT E ON D .RULE_ID = E .RULE_ID
        WHERE
        E .FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND D .API_ID IS NOT NULL
        UNION
        SELECT
        a.API_ID AS API_ID
        FROM
        CRE_KPI_DEFINITION a
        INNER JOIN CRE_KPI_RULE b ON a.KPI_ID = b.KPI_ID
        INNER JOIN CRE_RULE_DETAIL c ON b.RULE_ID = c.RULE_ID
        WHERE
        c.FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND A .API_ID IS NOT NULL
        UNION
        SELECT
        A .API_ID AS API_ID
        FROM
        CRE_KPI_DEFINITION A
        INNER JOIN CRE_KPI_RULE b ON A .KPI_ID = b.KPI_ID
        INNER JOIN CRE_RULE_DETAIL_DRAFT c ON b.RULE_ID = c.RULE_ID
        WHERE
        c.FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        AND A .API_ID IS NOT NULL
        )
        )
        AND IS_PUBLIC = '1'
        AND ENTITY_ID IS NOT NULL
        AND TYPE_ID = '3'
    </select>

</mapper>