/* 服务API弹框 */
#serviceApiAlertModal .modal-dialog {
    width: 1100px;
}

#serviceApiAlertModal .modal-body {
    max-height: 500px;
    overflow: auto;
}

#serviceApiAlertModal table {
    margin-bottom: 8px;
}

.serviceApi_title {
    color: var(--colorNormal);
}

.serviceApi_paramsExample {
    display: block;
    line-height: initial;
    text-indent: 1.5em;
}

.serviceApi_paramsExample:first-child, .serviceApi_paramsExample:last-child {
    text-indent: 0;
}
