.gxj_500Block {
    /* 	width:372px;  */
    height:303px; padding-left:288px; padding-top:55px; background:url(../../imgs/error/500bg.png) left 20px no-repeat; position:absolute; top:50%; left:50%; margin:-180px 0 0 -324px;}
.gxj_500Block h2 { font-size:24px; color:#333; line-height:50px;}
.gxj_500Block p { line-height:26px; font-size:14px; color:#666;}
