<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/authority/authority.css" rel="stylesheet"/>
<div id="page">
    <div id="pageHeader">
        <p>当前位置：<span>权限管理</span></p>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="authorityContainer">
                <!--Tab-->
                <div id="tabContainer">
                    <ul class="nav nav-tabs" id="authorityTab">
                        <li tab-id="2"><a data-toggle="tab">机构管理</a></li>
                        <li tab-id="4"><a data-toggle="tab">渠道管理</a></li>
                        <li tab-id="0"><a data-toggle="tab">用户管理</a></li>
                        <li tab-id="1"><a data-toggle="tab">角色管理</a></li>
                        <li tab-id="3"><a data-toggle="tab">权限管理</a></li>
                    </ul>
                </div>
                <!-- 展示内容 -->
                <div class="tab-content" id="authorityTabContent">
                    <!--用户/角色/组织管理内容-->
                    <div id="otherMgrContent">
                        <div>
                            <div class="resourceTableIcon">
                                <i id="firstTableIcon" class="icon icon-list-ul"> 展示列表</i>
                            </div>
                            <div class="selfAdaptionLeft">
                                <div class="searchContainer">
                                    <div class="special">
                                        <!--0 用户管理独有-->
                                        <div class="input-group userMgr">
                                            <input data-col="userId" type="text" class="form-control" placeholder="账号">
                                        </div>
                                        <div class="input-group userMgr">
                                            <input data-col="userName" type="text" class="form-control"
                                                   placeholder="用户名">
                                        </div>
                                        <div class="input-group userMgr">
                                            <input data-col="jobNumber" type="text" class="form-control"
                                                   placeholder="工号">
                                        </div>
                                        <!--1 角色管理独有-->
                                        <div class="input-group roleMgr">
                                            <input data-col="roleName" type="text" class="form-control"
                                                   placeholder="角色名称">
                                        </div>
                                        <!--2 机构管理独有-->
                                        <div class="input-group orgMgr">
                                            <input data-col="deptName" type="text" class="form-control"
                                                   placeholder="机构名称">
                                        </div>
                                        <!--4 渠道管理独有-->
                                        <div class="input-group chanMgr">
                                            <input data-col="channelName" type="text" class="form-control"
                                                   placeholder="渠道名称">
                                        </div>
                                    </div>
                                    <!--公共搜索条件-->
                                    <!--                                    <div class="common">-->
                                    <!--                                        <div class="input-group date form-datetime" data-date=""-->
                                    <!--                                             data-date-format="dd MM yyyy - HH:ii:ss p"-->
                                    <!--                                             data-link-field="dtp_input1">-->
                                    <!--                                            <input data-col="startDate" class="form-control" size="16" type="text"-->
                                    <!--                                                   value=""-->
                                    <!--                                                   placeholder="创建时间（开始）">-->
                                    <!--                                            <span class="input-group-addon"><span class="icon-remove"></span></span>-->
                                    <!--                                            <span class="input-group-addon"><span class="icon-calendar"></span></span>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="input-group date form-datetime" data-date=""-->
                                    <!--                                             data-date-format="dd MM yyyy - HH:ii:ss p"-->
                                    <!--                                             data-link-field="dtp_input2">-->
                                    <!--                                            <input data-col="endDate" class="form-control" size="16" type="text"-->
                                    <!--                                                   value=""-->
                                    <!--                                                   placeholder="创建时间（截止）">-->
                                    <!--                                            <span class="input-group-addon"><span class="icon-remove"></span></span>-->
                                    <!--                                            <span class="input-group-addon"><span class="icon-calendar"></span></span>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <div class="selfAdaptionRight">
                                <button class="btn btn-primary searchBtn" table-type="0" type="button">搜索</button>
                                <button id="authorityAddButton" class="btn btn-primary" type="button">添加用户</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div id="authorityPageTableContainer">
                            <table id="authorityPageTable"></table>
                        </div>
                        <!--组表格-->
<!--                        <div id="groupDiv">-->
<!--                            <hr>-->
<!--                            <div>-->
<!--                                <div class="resourceTableIcon"><i class="icon icon-group"> 用户组</i></div>-->
<!--                                <div class="selfAdaptionLeft">-->
<!--                                    &lt;!&ndash;搜索栏&ndash;&gt;-->
<!--                                    <div class="special">-->
<!--                                        <div class="input-group userMgr">-->
<!--                                            <input data-col="groupName" type="text" class="form-control"-->
<!--                                                   placeholder="用户组名称">-->
<!--                                            <label class="input-control-icon-right"><i-->
<!--                                                    class="icon icon-group"></i></label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="selfAdaptionRight">-->
<!--                                    <button class="btn btn-primary searchBtn" table-type="1" type="button">搜索</button>-->
<!--                                    <button id="addGroupButton" type="button" class="btn btn-primary">添加用户组</button>-->
<!--                                </div>-->
<!--                                <div style="clear:both;"></div>-->
<!--                                <div id="groupTableContainer">-->
<!--                                    <table id="userGroupTable"></table>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

                    <!--授权页面内容-->
                    <#include "/pages/authority/authorityMgr.html">
                </div>
            </div>
        </div>
    </div>
</div>

<!--用户弹框-->
<div class="modal fade" id="addUserAlertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <!--用户字段-->
            <div class="modal-body">
                <form id="addUserForm" class="form-horizontal" data-validator-option="{stopOnError:true}">
<!--                    <div class="form-group">-->
<!--                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">用户组</label>-->
<!--                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
<!--                            <select col-name="groupId" class="form-control userGroupSelector" multiple></select>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>账号</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="userIdInput" col-name="userId" type="text" class="form-control"
                                   data-rule="账号:required;">
                        </div>
                        <label class="cron_msg icon icon-exclamation-sign" data-toggle="tooltip" data-placement="bottom"
                               title="账号不能修改！">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>用户名</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="userNameInput" col-name="userName" type="text" class="form-control"
                                   data-rule="用户名:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">工号</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="jobNumberInput" col-name="jobNumber" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">性别</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="userSexInput" col-name="userSex" class="form-control sexSelector">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">邮箱</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="emailInput" col-name="email" type="text" class="form-control"
                                   data-rule="邮箱:email;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">手机号</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="phoneInput" col-name="phoneNumber" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>密码</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="passwordInput" col-name="userPassword" type="password" class="form-control"
                                   data-rule="密码:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>确认密码</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="passwordAgainInput" col-name="userPassword" type="password" class="form-control"
                                   data-rule="确认密码:required;">
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">所属角色</label>-->
<!--                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
<!--                            <select col-name="roleId" class="form-control roleSelector" multiple></select>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>所属渠道</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="channelList" col-name="channelId" class="form-control chanSelector"></select></div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveUser" type="button" class="btn btn-primary">保存</button>
                    <button id="resetAddUser" type="button" class="btn btn-primary">重置</button>
                    <button id="closeModal" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewUser" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--添加用户组弹框-->
<div class="modal fade" id="userGroupAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">添加用户组</h4>
            </div>
            <!--字段-->
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>用户组名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="userGroupAlert_groupName" col-name="groupName" type="text" class="form-control must" data-rule="用户组名称:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <textarea id="userGroupAlert_des" col-name="groupDesc" type="text" class="form-control" data-rule="描述:length[~255, true];"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveParamGroup" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewUserGroup" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--角色弹框-->
<div class="modal fade" id="roleAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <!--角色字段-->
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>角色名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="roleAlert_name" col-name="roleName" type="text" class="form-control must" data-rule="角色名称:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">角色描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <textarea id="roleAlert_des" col-name="roleDesc" type="text" class="form-control" data-rule="角色描述:length[~255, true];"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveRole" type="button" class="btn btn-primary">保存</button>
                    <button id="resetRole" type="button" class="btn btn-primary">重置</button>
                    <button id="closeRoleModal" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewRole" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--机构弹框-->
<div class="modal fade" id="orgAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>组织机构名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="orgAlert_name" col-name="deptName" type="text" class="form-control must" data-rule="组织机构名称:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">机构编码</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="orgAlert_code" col-name="deptCode" type="text" class="form-control must" data-rule="机构编码:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">上级机构</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="orgAlertOrgSelector" col-name="parentId" class="form-control orgSelector"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">机构描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <textarea id="orgAlert_des" col-name="deptDesc" type="text" class="form-control" data-rule="描述:length[~255, true];"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveOrg" type="button" class="btn btn-primary">保存</button>
                    <button id="closeOrgModal" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewOrg" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--渠道弹框-->
<div class="modal fade" id="chanAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>渠道名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="chanAlert_name" col-name="channelName" type="text" class="form-control must" data-rule="渠道名称:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>渠道编码</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="chanAlert_code" col-name="channelCode" type="text" class="form-control must" data-rule="渠道编码:required;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">渠道描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <textarea id="chanAlert_des" col-name="channelDesc" type="text" class="form-control" data-rule="渠道描述:length[~255, true];"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>所属机构</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="chanAlertChanSelector" col-name="deptName" class="form-control orgSelector"></select>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveChan" type="button" class="btn btn-primary" >保存</button>
                    <button id="closeChanModal" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewChan" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<#include "/pages/authority/distribution.html">
<#include "/pages/authority/orgUser.html">
<#include "/pages/authority/chanUser.html">
<#include "/pages/authority/chooseOrg.html">
<#include "/pages/common/loading.html">
<#include "/pages/common/confirmAlert.html">
<#include "/commonFoot.html">
<script type="text/javascript">
    var tabId = '${tabId!}';
</script>
<script src="${ctx.contextPath}/static/js/authority/authorityMgrIndex.js"></script>
<script src="${ctx.contextPath}/static/js/authority/authorityMgr.js"></script>
<script src="${ctx.contextPath}/static/js/authority/distribution.js"></script>
<script src="${ctx.contextPath}/static/js/authority/orgUser.js"></script>
<script src="${ctx.contextPath}/static/js/authority/chanUser.js"></script>
<!--<script src="${ctx.contextPath}/static/js/authority/chooseOrg.js"></script>-->
<script src="${ctx.contextPath}/static/js/authority/chooseChan.js"></script>
<script src="${ctx.contextPath}/static/js/common/loading.js"></script>
<script src="${ctx.contextPath}/static/js/common/confirmAlert.js"></script>
</body>
</html>