<!-- 一选多分配弹框 -->
<link href="${ctx.contextPath}/static/css/authority/distribution.css" rel="stylesheet"/>

<div class="modal fade" id="ResourceDistributionAlertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--标题-->
            <div class="modal-header">
                <h4 class="modal-title">资源分配弹框</h4>
            </div>
            <!--内容-->
            <div class="modal-body">
                <!--分配对象及信息-->
                <div class="resourceTargetContainer">
                    <div resourceType="0">
                        <span class="resourceTableIcon"><i class="icon icon-user"></i> 用户名</span>
                        <input data-col="userName" type="text" class="form-control" placeholder="用户名称">
                    </div>
                    <div resourceType="1">
                        <span class="resourceTableIcon"><i class="icon icon-user"></i> 角色名称</span>
                        <input data-col="roleName" type="text" class="form-control" placeholder="角色名称">
                    </div>
                </div>

                <!--分配内容-->
                <div class="threeRowsSelfAdaptionContainer">
                    <!--左侧资源-->
                    <div class="distributeResourceContainer threeRowsSelfAdaption_left">
                        <div class="resourceTableIcon"><i class="leftTableIcon icon icon-align-left"> 可选择列表</i></div>
                        <div class="selfAdaptionLeft">
                            <div class="">
                                <div class="input-group">
                                    <input data-col="" type="text" class="form-control distributeSearchInput"
                                           placeholder="">
                                    <label class="input-control-icon-right">
                                        <i class="icon"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="selfAdaptionRight">
                            <button side="0" class="btn btn-primary distributeSearch" type="button">搜索</button>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="distributeTableContainer">
                            <ul id="distributeLeftTable"></ul>
                        </div>
                    </div>

                    <!--中间操作栏-->
                    <div class="threeRowsSelfAdaption_middle">
                        <div class="threeRowsSelfAdaption_middleContent">
                            <div>
                                <div id="leftToRight"><i class="icon icon-angle-right"></i></div>
                            </div>
                            <div>
                                <div id="rightToLeft"><i class="icon icon-angle-left"></i></div>
                            </div>
                        </div>
                    </div>

                    <!--右侧资源-->
                    <div class="distributeResourceContainer threeRowsSelfAdaption_right">
                        <div class="resourceTableIcon"><i class="rightTableIcon icon icon-check-board"> 已选择列表</i></div>
                        <div class="selfAdaptionLeft">
                            <div class="">
                                <div class="input-group">
                                    <input data-col="" type="text" class="form-control distributeSearchInput"
                                           placeholder="">
                                    <label class="input-control-icon-right">
                                        <i class="icon"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="selfAdaptionRight">
                            <button side="1" class="btn btn-primary distributeSearch" type="button">搜索</button>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="distributeTableContainer">
                            <ul id="distributeRightTable"></ul>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <!--操作-->
            <div class="modal-footer">
                <button id="saveDistribute" type="button" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-minor" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
