#pageBody {
    width: 100%;
    height: 80%;
    height: calc(100% - 34px);
    border: 1px solid transparent;
}
#pageContent {
    height: calc(100% - 11px);
    width: 100%;
}
#taskPageContainer {
    padding: 14px 24px;
    margin: 10px 10px 25px 10px;
    background: #fff;
    border-radius: 5px;
}
.icon-caret-down, .dropdown-menu, #taskTable .checkbox input, .cancelIcon, .switch input, #cron_notice{
    cursor: pointer;
}
/*搜索栏*/
#taskPageHead{
    position: relative;
    margin-top: 10px;
}
#taskPageHead .input-group{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
#searchBar{
    position: absolute;
    right: 5px;
    top: 0;
}
/*task列表*/
#taskTable .checkbox label{
    vertical-align: middle;
}
#taskTable .label-dot{
    vertical-align: baseline;
}
#cron_tip{
    color: #EA644A;
}
#cron_notice{
    color: #38B03F;
}
/*新建/编辑弹框*/
.mustIcon{
    color: #EA644A;
    text-align: center;
    vertical-align: middle;
    padding-right: 5px;
}
#taskMainAlertModal .modal-dialog{
    width: 700px;
}
/*字段绑定弹框*/
#taskBindAlertModal .modal-body{
    display: flex;
}
#bindModal_left{
    width: 28%;
    height: 375px;
    display: inline-block;
    background-color: #f7f7f7;
    padding: 8px 1px 8px 10px;
    overflow: auto;
}
/*树-左侧*/
#taskTree{
    cursor: pointer;
    font-size: 12px;
}
#taskTree icon{
    vertical-align: middle;
}
#taskBindAlertModal .icon-database{
    font-size: 13px;
    color: #4796F2;
}
#taskBindAlertModal .icon-table{
    font-size: 13px;
    color: #808080;
}
#taskBindAlertModal .icon-table span{
    font-size: 12px;
    color: #333;
}
/*绑定弹框-右侧*/
#bindModal_right{
    width: 70%;
    height: 375px;
    display: inline-block;
    margin-left: 10px;
}
.bindModal_right_ele{
    height: 180px;
    position: relative;
    margin-top: 6px;
}
.bindModalTitle{
    height: 16%;
    color: #f5922d;
    padding: 5px;
}
.rightEle_inputs{
    height: 20%;
    position: relative;
}
.rightEle_inputs div{
    display: inline-block;
}
.rightEleIconContainer{
    position: absolute;
    top: 20%;
    right: 0;
}
.rightEleIcon{
    margin-right: 3px;
    cursor: pointer;
    color: #808080;
}
.bindContent{
    width: 100%;
    max-height: 60%;
    min-height: 60%;
    overflow: auto;
    position: absolute;
    bottom: 0;
    border: 1px dashed #e7e6e6;
    padding: 5px;
}
.bindContent i{
    cursor: pointer;
    margin-left: 2px;
}
.bindContent span{
    display: inline-block;
    height: 20px;
    margin: 3px;
}
#inputVariables, #outputVariables{
    max-height: 150px;
    overflow: auto;
}
.hide{
    display: none;
}

/*主键字段绑定*/
.tableCodeSpan {
    color: #3280FC;
}
#keyColBind_filterContainer .panel-body {
    min-height: 245px;
    max-height: 300px;
    overflow: auto;
    position: relative;
}
.filterEle > div {
    display: inline-block;
    vertical-align: middle;
}
#filterContent {
    bottom: 10px;
    border: 1px dashed #e7e6e6;
    padding: 5px;
    min-height: 120px;
    max-height: 120px;
    overflow: auto;
    outline: none;
    margin: 20px 0 10px 0;
}
#filterOperateBar > i {
    cursor: pointer;
    color: #808080;
}
#resetFilterContent {
    position: absolute;
    right: 30px;
    outline: none;
}
/*任务详情*/
#taskDetailAlertModal .modal-body{
    max-height: 500px;
    overflow: auto;
}
#detail_input .content .label, #detail_output .content .label {
    background-color: var(--colorNormal);
}