<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/monitor/indexView.css" rel="stylesheet"/>
<html>
<body>
<div id="page">
    <div id="pageBody">
        <div id="pageContent">
            <div class="infoBox">
                <div class="infoItem realTime">
                    <!--<img class="executeImg" src="${ctx.contextPath}/static/imgs/mainNew/icon_zsszxqk.png" alt="">-->
                    <div class="executeInfo">
                        <p class="infoTitle">当日调用情况</p>
                        <div class="numBox">
                            <div style="display: flex;flex-wrap: wrap;align-items: baseline;flex-grow: 1">
                                <span class="successNum">4.06${param.currentDaySucTimes}</span>万次成功
                            </div>
                            <hr class="splitLabel"/>
                            <div style="display: flex;flex-wrap: wrap;align-items: baseline;flex-grow: 1">
                                <span class="failNum">363${param.currentDayFailTimes}</span>次失败
                            </div>
                        </div>
                    </div>
                    <!--<img class="executeImg" src="${ctx.contextPath}/static/imgs/mainNew/icon_zssyqk.png" alt="">-->
                    <div class="executeInfo">
                        <p class="infoTitle">当日执行情况</p>
                        <div class="numBox">
                            <div style="display: flex;flex-wrap: wrap;align-items: baseline;flex-grow: 1">
                                <span class="diaoyongNum">0.5${param.currentDayUseTime}</span>秒响应时长
                            </div>
                        </div>
                    </div>
                    <div class="executeInfo"></div>
                </div>
            </div>
            <div class="gatherBox">
                <div class="gatherItem modelSummary">
                    <ul>
                        <li>
                            <span class="model">
                                <b>产品统计</b>
                                <span class="modelNum">10${param.productCount}</span>
                            </span>
                            <span class="edition">
                                <b>渠道统计</b>
                                <span class="modelNum">10${param.channelCount}</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="gatherItem modelSummary">
                    <ul>
                        <li>
                        	<span class="model">
                                <b>模型统计</b>
                                <span class="modelNum">10${param.countModel}</span>
                            </span>
                        </li>
                        <li>
                            <span class="model">
                               规则模型
                                <span class="modelNum">10${param.ruleModel}</span>
                            </span>
                            <span class="edition">
                               评分模型
                                <span class="modelNum">10${param.scoreModel}</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="gatherItem modelSummary">
                    <ul>
                        <li>
                            <span class="model">
                                <b>规则集统计</b>
                                <span class="modelNum">10${param.ruleSetCount}</span>
                            </span>
                            <span  class="edition">
                                <b>指标统计</b>
                                <span class="editionNum">10${param.kpiCount}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gatherItemLjz modelSummary">
                <div class="workbentchCt container-fluid">
                    <div class="modelBaseContainer modelBaseWrapper">
                        <div class="modelBaseContainer modelBaseWrapper">
	                           <!--Tab-->
	                           <div class="tableIcon" id="monitorTab">
	                               <div class="nav-header">
	                                   <ul class="nav nav-tabs">
	                                       <li tab-id="1"><a data-toggle="tab">调用分析</a></li>
	                                       <li tab-id="2"><a data-toggle="tab">模型分析</a></li>
	                                       <li tab-id="3"><a data-toggle="tab">日志检索</a></li>
	                                   </ul>
	                               </div>
				              </div>
				              <div id="tab12">
				              	   <div class="nav-selects">
                                       <!-- <select class="selBoxLjz scenes selBank" name="proName" >
                                           <option value="" disabled selected>产品</option>
                                       </select>
                                       <select class="selBoxLjz scenes selBank" name="channelName" >
                                           <option value="" disabled selected>调用渠道</option>
                                       </select>
                                       <select class="selBoxLjz scenes selBank" name="modelName" >
                                           <option value="" disabled selected>模型</option>
                                       </select> 
                                       <select class="selBoxLjz scenes selBank" name="" >
                                           <option value="" disabled selected>调用方式</option>
                                           <option value="1">实时</option>
                                           <option value="2">离线</option>
                                       </select>
                                       -->
                                       <div class="monitorSearch">
						                  	<div class="input-group modelOperateLog">
						                        <input data-col="folderId" type="text" class="form-control folderIdInput" id="folderId"
						                               placeholder="产品名称">
						                        <label class="input-control-icon-right" data-toggle="dropdown">
						                            <i class="icon icon-caret-down"></i></label>
						                        <ul class="dropdown-menu pull-right ruleFolderList"></ul>
						                    </div>
						                    <div class="input-group modelOperateLog">
						                        <input data-col="channelName" type="text" class="form-control channelIdInput" id="channelId"
						                               placeholder="渠道名称（请先选择产品）">
						                        <label class="input-control-icon-right" data-toggle="dropdown">
						                            <i class="icon icon-caret-down"></i></label>
						                        <ul class="dropdown-menu pull-right channelList"></ul>
						                    </div>
						                    <div class="input-group modelOperateLog">
						                        <input data-col="modelName" type="text" class="form-control ruleIdInput" id="modelId"
						                               placeholder="模型名称（请先选择产品和渠道）">
						                        <label class="input-control-icon-right" data-toggle="dropdown">
						                            <i class="icon icon-caret-down"></i></label>
						                        <ul class="dropdown-menu pull-right ruleList"></ul>
						                    </div>
						                    <div class="input-group modelOperateLog">
						                        <input data-col="methodType" type="text" class="form-control typeInput" id="methodType"
						                               placeholder="调用方式">
						                        <label class="input-control-icon-right" data-toggle="dropdown">
						                            <i class="icon icon-caret-down"></i></label>
						                        <ul class="dropdown-menu pull-right typeList">
						                        </ul>
						                    </div>
						                    <div class="input-group modelOperateLog">
												<button class="btn btn-primary search" onclick="main.search()" type="button" tableType="0">搜索</button>
						              		</div>
						                    <div class="input-group modelOperateLog">
						                    	<input type="button" class="btn btn-primary" onclick="main.getDesc()"  id="exportButton" value="数据导出" readonly = 'readonly'/>
						                    </div>
					                    </div>
                                       
                                   </div>
                                   <ul class="nav nav-primary" id="yearMonthDay">
                                       <li  cyc-id="3"><a href="#" >日 <span class="label label-badge label-success"></span></a></li>
                                       <li  cyc-id="2"><a href="#" >月 <span class="label label-badge label-success"></span></a></li>
                                       <li  cyc-id="1"><a href="#" >年 <span class="label label-badge label-success"></span></a></li>
                                   </ul>
	                          
	                           	   <div class="tab-content tab-import" id="tab1">
					                  <div class="chartsBox">
					                      <div class="chart2 numberOfCalls col-xs-4 col-sm-4 col-md-4 col-lg-4">
					                          <div id="ruleExecution"></div>
					                      </div>
					                      <div class="chart2 chart3 col-xs-4 col-sm-4 col-md-4 col-lg-4">
					                          <div id="numberOfCallsRight"></div>
					                      </div>
					
					                  </div>
					                  <div class="chartsBox">
					                      <div class="chart2 numberOfCalls col-xs-4 col-sm-4 col-md-4 col-lg-4">
					                          <div id="numberOfCallsLeft"></div>
					                      </div>
					                      <div class="chart2 chart3 col-xs-4 col-sm-4 col-md-4 col-lg-4">
					                          <table id="monitorTable" style="white-space:nowrap;"></table>
					                      </div>
					                  </div>
					              </div>
					              <div class="tab-content tab-import" id="tab2">
					                  <div class="chart1 ruleExecution col-xs-4 col-sm-4 col-md-4 col-lg-4">
					                      <div id="ruleHit"></div>
					                  </div>
					                  <div class="chart2 numberOfCalls col-xs-4 col-sm-4 col-md-4 col-lg-4">
					                      <div id="scoreHit"></div>
					                  </div>
					              </div>
				              </div>
				              <div class="tab-content tab-import" id="tab3">
				             		<div class="monitorSearch">
					                  	<div class="input-group modelOperateLog">
					                        <input data-col="folderId" type="text" class="form-control folderIdInput"
					                               placeholder="产品">
					                        <label class="input-control-icon-right" data-toggle="dropdown">
					                            <i class="icon icon-caret-down"></i></label>
					                        <ul class="dropdown-menu pull-right ruleFolderList"></ul>
					                    </div>
					                    <div class="input-group modelOperateLog">
					                        <input data-col="channelName" type="text" class="form-control channelIdInput"
					                               placeholder="调用渠道">
					                        <label class="input-control-icon-right" data-toggle="dropdown">
					                            <i class="icon icon-caret-down"></i></label>
					                        <ul class="dropdown-menu pull-right channelList"></ul>
					                    </div>
					                    <div class="input-group modelOperateLog">
					                        <input data-col="modelName" type="text" class="form-control ruleIdInput"
					                               placeholder="模型">
					                        <label class="input-control-icon-right" data-toggle="dropdown">
					                            <i class="icon icon-caret-down"></i></label>
					                        <ul class="dropdown-menu pull-right ruleList"></ul>
					                    </div>
										<div class="input-group modelOperateLog">
											<input data-col="methodType" type="text" class="form-control typeInput" id="methodType"
												   placeholder="调用方式">
											<label class="input-control-icon-right" data-toggle="dropdown">
												<i class="icon icon-caret-down"></i></label>
											<ul class="dropdown-menu pull-right typeList">
											</ul>
										</div>
										<div class="input-group modelOperateLog">
											<input data-col="returnCode" type="text" class="form-control returnCodeInput"
												   placeholder="执行状态">
											<label class="input-control-icon-right" data-toggle="dropdown">
												<i class="icon icon-caret-down"></i></label>
											<ul class="dropdown-menu pull-right returnCode"></ul>
										</div>
										<div class="input-group modelOperateLog">
											<input data-col="consumerSeqNo" type="text" class="form-control consumerSeqNoInput"
												   placeholder="流水号">
										</div>
							            <div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
										  <input class="form-control" size="16" type="text" value="" readonly="" placeholder="开始时间">
										  <span class="input-group-addon"><span class="icon-remove"></span></span>
										  <span class="input-group-addon"><span class="icon-calendar"></span></span>
										</div>
			                            <div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
										  <input class="form-control" size="16" type="text" value="" readonly="" placeholder="结束时间">
										  <span class="input-group-addon"><span class="icon-remove"></span></span>
										  <span class="input-group-addon"><span class="icon-calendar"></span></span>
										</div>
			                            <div class="input-group modelOperateLog">
					              			<input id="searchBtn" type="button" onclick="main.search()" class="btn btn-primary" value="搜索"></input>
					              		</div>
						           </div>
				                   <div class="chart1 ruleExecution col-xs-4 col-sm-4 col-md-4 col-lg-4">
				                      <table id="logTable" style="white-space:nowrap;"></table>
				                   </div>
				              </div>
				              <div id="desc">
				              </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- 对话框HTML -->
    <#include "/commonFoot.html">
    <script src="${ctx.contextPath}/static/js/monitor/indexView.js"></script>
</body>
</html>