<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/datasource/datasource.css" rel="stylesheet"/>
<div id="page">
    <div id="pageHeader">
        <p>当前位置：<span>数据源管理</span><span id="secondTitle"></span></p>
        <div id="dsHeader">
            <!--数据源搜索-->
            <div id="dsSearchInputGroup" class="input-group">
                <div class="input-control search-box has-icon-left has-icon-right">
                    <input id="searchInput" type="search" class="form-control search-input"
                           placeholder="请输入数据库连接别名">
                    <label class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                </div>
                <span class="input-group-btn">
                    <button id="dsSearchBtn" class="btn btn-primary" type="button">搜索</button>
                </span>
            </div>
            <!--添加数据源-->
            <button id="addDataSourceBtn" class="btn btn-primary" type="button">新建数据源</button>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <!--数据源管理-->
            <div id="datasourceContainer">
                <!--数据源列表展示-->
                <div id="datasourceContent">
                    <ul>
                        <li id="modelCard_0" class="modelCard col-xs-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="card_container card_background_0">
                                <div class="card_header">
                                    <div class="card_title" title="habse147">
                                        <img src="${ctx.contextPath}/static/imgs/datasource/icon_sjy.png" />
                                        habse147
                                    </div>
                                    <div class="card_subtitle">
                                        <span>启用连接池</span>
                                        <input type="checkbox" class="inset_3" checked>
                                        <label class="blue"></label>
                                    </div>
                                </div>
                                <div class="card_main">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                            <div>数据库链接IP</div>
                                            <div>172.192.11.123</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                            <div>数据库链接IP</div>
                                            <div>172.192.11.123</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                            <div>数据库链接IP</div>
                                            <div>172.192.11.123</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                            <div>数据库链接IP</div>
                                            <div>172.192.11.123</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                            <div>数据库链接IP</div>
                                            <div>172.192.11.123</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                            <div>数据库链接IP</div>
                                            <div>172.192.11.123</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                            <div>数据库链接IP</div>
                                            <div>172.192.11.123</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card_footer">
                                    <button class="outside">修改</button>
                                    <button class="outside">删除</button>
                                    <button class="btn btn-primary">元数据管理</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <table id="datasourceTable"></table>
                </div>
            </div>

            <!--元数据管理-->
            <div id="scanedTablesDiv" class="dsMetadataMgrWrap scanedTables">
                <button id="scanDb" class="btn btn-primary" type="button">扫描</button>
                <table id="dbScanTable"></table>
                <div class="modal-footer">
                    <button id="returnToDsMgr" type="button" class="btn btn-primary">返回</button>
                </div>
            </div>

            <!--列管理-->
            <div id="tableColsDiv" class="dsMetadataMgrWrap tableCols">
                <div id="metadataConfigContainer">
                    <div id="metadataConfigHeader">
                        <!--列搜索-->
                        <div class="selfAdaptionLeft">
                            <div id="metadata_searchInputGroup" class="input-group">
                                <div class="input-control search-box has-icon-left has-icon-right">
                                    <input id="search_colNameInput" type="search" class="form-control search-input"
                                           placeholder="请输入列名或列编码">
                                    <label class="input-control-icon-left search-icon">
                                        <i class="icon icon-search"></i>
                                    </label>
                                </div>
                                <span class="input-group-btn">
                                    <button id="colNameSearchBtn" class="btn btn-primary" type="button">搜索</button>
                                </span>
                            </div>
                        </div>
                        <div class="selfAdaptionRight" id="metadataConfig_operate">
                            <button id="addColButton" class="btn btn-primary" type="button">新建列</button>
                            <button id="colsDelButton" class="btn btn-primary" type="button">批量删除</button>
                        </div>
                    </div>
                    <table id="tableColsTable"></table>
                    <div class="modal-footer">
                        <button id="returnToScaned" type="button" class="btn btn-primary">返回</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--新建数据源/修改数据源 弹框-->
<div class="modal fade" id="dsAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    <span class="sr-only">关闭</span></button>
                <h4 id="dsAlertTitle" class="modal-title">数据源</h4>
            </div>
            <!--新建数据源字段-->
            <div class="modal-body">
                <form id="datasourceModalForm" class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <!--其余字段动态加载-->
                    <div id="dbTypeFormGroup" class="form-group">
                        <label for="dbType" class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>数据库链接类型</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select class="form-control" id="dbType">
                                <!--                                <option dbType="1">MYSQL</option>-->
                                <option dbType="2">ORACLE</option>
                                <!--                                <option dbType="3">SQLSERVER</option>-->
                                <!--                                <option dbType="4">DB2</option>-->
                                <option dbType="5">HIVE</option>
                                <option dbType="6">HIVE2</option>
                                <option dbType="7">XCLOUD</option>
                                <option dbType="8">HBASE</option>
                            </select>
                        </div>
                    </div>
                    <div id="isPoolFormGroup" class="form-group">
                        <label for="isPool" class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>是否启用连接池</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select class="form-control" id="isPool">
                                <option isPool="0">否</option>
                                <option isPool="1">是</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <div class="notView">
                    <button id="dsTestButton" type="button" class="btn btn-primary">测试</button>
                    <button id="dsSaveButton" type="button" class="btn btn-primary">保存</button>
                    <button id="dsCancelButton" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewDs" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--新建列/修改列 弹框-->
<div class="modal fade" id="colAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title"></h4></div>
            <div class="modal-body">
                <form id="colAlertModalForm" class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div id="colNameFormGroup" class="form-group">
                        <label for="colNameFormGroup" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i
                                class="mustIcon">*</i>列别名</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="colNameInput" type="text" col-name="columnName" class="form-control"
                                   placeholder="必填" data-rule="列别名:required;">
                        </div>
                    </div>
                    <div id="colCodeFormGroup" class="form-group">
                        <label for="colCodeFormGroup" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i
                                class="mustIcon">*</i>列编码</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="colCodeInput" type="text" col-name="columnCode" class="form-control"
                                   placeholder="必填" data-rule="列编码:required;">
                        </div>
                    </div>
                    <div id="colSizeFormGroup" class="form-group">
                        <label for="colSizeFormGroup" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i
                                class="mustIcon">*</i>列大小</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="colSizeInput" type="text" col-name="columnSize" class="form-control"
                                   placeholder="必填" data-rule="列大小:required;">
                        </div>
                    </div>
                    <div id="colTypeFormGroup" class="form-group">
                        <label for="colTypeFormGroup" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">列类型</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select class="form-control" col-name="columnType"></select>
                        </div>
                    </div>
                    <div id="isPkFormGroup" class="form-group">
                        <label for="isPkFormGroup" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">是否主键</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select class="form-control" col-name="isPk">
                                <option data-value="0" selected>否</option>
                                <option data-value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div id="isNullFormGroup" class="form-group">
                        <label for="isNullFormGroup" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">是否可为空</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select class="form-control" col-name="isNull">
                                <option data-value="0" selected>否</option>
                                <option data-value="1">是</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="notView">
                    <button id="col_saveButton" type="button" class="btn btn-primary">保存</button>
                    <button id="col_cancelButton" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewCol" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<!--扫描页面-->
<#include "/pages/datasource/scanDbTable.html">
<#include "/pages/common/loading.html">
<#include "/pages/common/confirmAlert.html">
<#include "/commonFoot.html">

<script>
    var baseVariableType = JSON.parse('${baseVariableType!}');
    var contextPath = '${ctx.contextPath}';
</script>
<script src="${ctx.contextPath}/static/js/datasource/datasource.js"></script>
<script src="${ctx.contextPath}/static/js/datasource/scanDbTable.js"></script>
<script src="${ctx.contextPath}/static/js/common/loading.js"></script>
<script src="${ctx.contextPath}/static/js/common/confirmAlert.js"></script>
</body>
</html>