<link href="${ctx.contextPath}/static/css/datasource/scanDbTable.css" rel="stylesheet"/>
<!--扫描元数据弹框-->
<div class="modal fade" id="scanModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">扫描元数据</h4>
            </div>
            <!--弹框内容-->
            <div class="modal-body">
                <form id="dsModalForm" class="form-horizontal">
                    <div id="scanDatasourceGroup" class="form-group">
                        <label for="scanDatasourceGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">数据源</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select disabled id="scanDatasourceList" class="form-control datasourceList"></select>
                        </div>
                    </div>
                    <div id="datasourceTablesGroup" class="form-group">
                        <label for="datasourceTablesGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">适配表</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="scanTables" class="form-control"></select>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="scanConfirm" type="button" class="btn btn-primary">扫描</button>
                <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--(扫描成功后->选择列) 弹框-->
<div class="modal fade" id="scanColsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">选择列</h4>
            </div>
            <!--弹框内容-->
            <div class="modal-body">
                <div class="panel">
                    <!--列检索操作-->
                    <div class="panel-heading" id="colsSearchPanel">
                        <div id="colsSearchButtons">
                            <button id="allCancelButton" class="btn btn-danger" type="button">全不选</button>
                            <button id="allSelectButton" class="btn btn-success" type="button">全选</button>
                        </div>

                        <div id="colsSearchInputGroup" class="input-group">
                            <div class="input-control search-box has-icon-left has-icon-right">
                                <input id="colsSearchInput" type="search" class="form-control search-input"
                                       placeholder="请输入列名">
                                <label class="input-control-icon-left search-icon"><i
                                        class="icon icon-search"></i></label>
                            </div>
                            <span class="input-group-btn">
                                <button id="colsSearchBtn" class="btn btn-primary" type="button">搜索</button>
                            </span>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <!--列展示-->
                    <div class="panel-body">
                        <div id="colsListContainer" class="container-fluid"></div>
                    </div>
                </div>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="scanSaveToTableButton" type="button" class="btn btn-primary">保存</button>
                <button id="scanCancelButton" type="button" class="btn btn-minor">取消</button>
            </div>
        </div>
    </div>
</div>

<#include "/pages/common/loading.html">