<#include "/commonHead.html">
<style>
#pageBody {
	background: #ffffff;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
}
#pageContent {
    font-size:13px;
}
#pageContent i{
	color:#f00;
	top: 7px;
    padding: 0 5px;
    position: relative;
    font-size: 20px;
}
#pageContent label {
    font-weight: normal;
    width: 40%;
    text-align: right;
}
.blue {
    color: #0a79ca;
    padding-left: 15px;
}
.btnsWrap {
    text-align: center;
    margin-top:0;
}
#pageContent input {
    width: 300px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #ddd;
    line-height: 34px;
    padding:0 5px;
}
#pageContent .psdDiscribe {
    display: block;
    padding-left: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#pageContent .errTxt {
    font-size: 14px;
    color: #f00;
    height: 41px;
    padding-top: 0;
}
#myModal .modal-dialog {
    width: 260px;
}
#myModal .modal-body{
	text-align:center;
}
</style>
<div id="page">
	<div id="pageHeader">
		<p>当前位置：<span>修改密码</span></p>
	</div>
	<div id="pageBody">
		<div id="pageContent">
			<div class="txtsWrap">
				<p><label><i>*</i><span>输入当前密码：</span></label><input type="password" id="oldPsd"/><span class="blue"></span></p>
				<p><label><i>*</i><span>输入新密码：</span></label><input type="password" id="newPsd"/><span class="blue psdDiscribe">登录密码必须是5-20位，字母、数字、特殊符号或其组合而成</span></p>
				<!-- <p><label><span>密码强度：</span></label><span class="strength"></span></p> -->
				<p><label><i>*</i><span>再次输入密码：</span></label><input type="password" id="rptPsd"/></p>
				<p class="errTxt psdDiscribe"></p>
			</div>
			<div class="btnsWrap">
				<button class="btn btn-primary" type="button" onclick="sureBtn();">确定</button>
				<!-- <button class="btn" type="button">取消</button> -->
			</div>
		</div>
	</div>
</div>
<!-- 对话框HTML -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>密码修改成功，请重新登录！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="jumpToLogin();">确定</button>
      </div>
    </div>
  </div>
</div>
<#include "/commonFoot.html">
<script src="static/js/modifyPsd.js"></script>
</body>
</html>