/*主色：   #3780f1*/
body,html{
	font-size:12px;
	color:#666666;
}
button:focus,button:active{
	outline:none;
	border:none;
	box-shadow:none;
}
/*按照标准重新设置样式 主按钮*/
/*.btn-primary {*/
/*    color: #fff;*/
/*    text-shadow: none;*/
/*    background-color: #3780f1;*/
/*    border: none;*/
/*    border-radius: 2px;*/
/*    height:30px;*/
/*    line-height:30px;*/
/*    padding:0 15px;*/
/*    outline:none;*/
/*    box-shadow:none;*/
/*}*/
.cm-btnSec,.cm-btnSec:hover,.cm-btnSec:focus,.cm-btnSec:active{
	background:#eaf6fe;
	color:#3780f1;
	font-size:12px;
	border: none;
    border-radius: 2px;
    height:30px;
    line-height:30px;
    padding:0 15px;
    box-shadow:none;
    outline:none;
}

.exit {
    padding: 20px 0 4px 0;
}
.modal-header {

}
.modal-footer{
	text-align:center;
	border-top:none;
}
.modal-dialog {
    box-shadow: none;
}

.cm-tableTopSearch {
    padding: 0 10px 10px;
}
/*按照标准重新设置样式 场景下各个管理模块主按钮*/
/*.cm-Pbtn,.cm-Pbtn:hover,.cm-Pbtn:active,.cm-Pbtn:focus {*/
/*    color: #fff;*/
/*    background: #3780f1;*/
/*    text-shadow: none;*/
/*    font-size: 13px;*/
/*    border-radius: 0px;*/
/*    border: none;*/
/*    padding: 5px 16px;*/
/*    box-shadow:none;*/
/*    outline:none;*/
/*}*/
.cm-tableTopSearch .cm-Pbtn{
	float: left;
	margin: 10px 0;
}
.cm-tableTopSearch .cm-searchGroup{
	float:left;
	margin: 10px 0;
}
.cm-selectPeacock {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.form-inline .form-control {
    display: inline-block;
    height: 24px;
    color: #464646;
    padding: 0 4px;
    background-color: #ffffff;
    border: #cccccc 1px solid;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    line-height: 22px;
    line-height: 20px\9;
    box-sizing: border-box;
    font-size: 13px;
}
.cm-selectIcon {
    font-size: 14px;
    color: #aaaaaa;
    position: absolute;
    right: 5px;
    top:0px;
    cursor: pointer;
    transition: 0.4s all ease;
    -moz-transition: 0.4s all eases;
    -webkit-transition: 0.4s all eases;
    -o-transition: 0.4s all ease;
    background:transparent url(../imgs/common/toggleDown.png) no-repeat right center;
    width: 13px;
    height: 100%;
}
.cm-noElement {
    display: none;
}
.cm-allOptions {
    position: absolute;
    top: 32px;
    max-height: 280px;
    background-color: #ffffff;
    border: #e9f5fd 1px solid;
    width: 100%;
    border-top: none;
    z-index: 9999;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    /* box-shadow: 0 0 5px #d0eafe */
    box-shadow: 0 4px 6px 0 rgba(23,116, 239, 0.11);
}
.cm-allOptions > li {
    height: 30px;
    line-height: 30px;
    padding: 0 8px 0 8px;
    cursor: pointer;
}
.cm-allOptions > li:hover {
	color:#3780f1;
	background:#eaf6fe; 
}

.cm-selectOption.form-control[readonly]{
	cursor:pointer;
	background-color: #e9f5fd;
	color:#3780f1;
	border-radius:0;
	border:none;
	height:30px;
	box-shadow: none;
}
.actLeftRuleCdt .cm-selectOption.form-control[readonly]:focus, .actRightRuleCdt .cm-selectOption.form-control[readonly]:focus,
.actLeftRuleCdt .cm-selectOption.form-control[readonly]:active, .actRightRuleCdt .cm-selectOption.form-control[readonly]:active{
	border-bottom:1px solid #3780f1;
}

/*下拉列表带展开的*/
.cm-listSelect {
    position: relative;
}
.cm-listSelect .cm-allOptions > li{
	height:auto;
	padding:0;
}
.cm-listSelect .cm-allOptions > li span {
    padding: 5px 0 5px 10px;
}
.cm-listSelect .tree-menu li .list-toggle{
	top:0;
}
.cm-listSelect .cm-allOptions > li:hover {
	color:#666;
}
.cm-listSelect .cm-allOptions > li span:hover {
	color:#3780f1;
} 
.cm-listSelect .tree li.open>ul {
   /*  padding-left: 12px; */
}
.cm-listSelect .tree-menu li>ul {
    background-color: transparent;
}
/*下拉列表带展开的结束*/
.form-control.focus, .form-control:focus{
	box-shadow:none;
	-webkit-box-shadow:none;
	outline:none;
	border-radius:0;
}
.cm-mdSel{
	width:100px;
}
.cm-selGrpIpt {
    border: 1px solid #cbcccc;
    float: left;
    height: 30px;
    color: #989898;
    width: 224px;
    padding: 0 5px;
}
.cm-selGrpIpt:focus,.cm-selGrpIpt:active{
	border:1px solid #3780f1;
	box-shadow:none;
	outline:none;
}
.cm-searchBtn,.cm-refreshBtn {
    width: 36px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: none;
    background: #e9f5fd;
}
.cm-searchBtn{
	background:#e9f5fd url(../imgs/common/search.png) no-repeat center center;
}
div.cm-sel2 {
    float: none;
    width: auto;
}
.cm-sel2 .cm-selectOption.form-control[readonly]{
	background:transparent;
	border-bottom: 1px solid #eee;
    color: #666;
}
.cm-sel2 .cm-selectIcon{
	background: transparent url(../imgs/common/downArrow.png) no-repeat center center;
    width: 20px;
}
.datagrid-container {
    clear: both;
    border: none;
    background: #fff;
 }
 
.cm-btnAdd, .cm-btnAdd:focus, .cm-btnAdd:hover, .cm-btnAdd:active {
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-shadow: none;
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 16px 0 26px;
    position: relative;
    background: #3780f1 url(../imgs/common/add.png) no-repeat 10px center;
    box-shadow: none;
}
.cm-tblA{
	height:23px;
	min-width:54px;
	font-size: 13px;
    display: inline-block;
    line-height: 15px;
    border-radius: 200px;
    color: #3780f1;
    padding: 4px 14px;
    margin: 3px 5px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 4px 6px 0 rgba(23,116, 239, 0.11);
}
.cm-tblA:hover{
	color:#fff;
	background:#3780f1;
	border:none;
}
/*按照标准重新设置样式 表格内按钮*/
/*.cm-tblB{	*/
/*	font-size:13px;*/
/*	border:none; */
/*	background:#fff;*/
/*    border-radius: 200px;*/
/*	color:#3780f1;*/
/*	padding:4px 14px;*/
/*	margin:0 5px;*/
/*	cursor:pointer;*/
/*	box-shadow: 0 4px 6px 0 rgba(23,116, 239, 0.11);*/
/*}*/
/*.cm-tblB:hover{*/
/*	color:#fff;*/
/*	background:#3dc36c;*/
/*}*/
/*.cm-tblC{*/
/*	font-size:13px;*/
/*	border:none; */
/*	background:#fff;*/
/*    border-radius: 200px;*/
/*	color:#3780f1;*/
/*	padding:4px 14px;*/
/*	margin:0 5px;*/
/*	cursor:pointer;*/
/*	box-shadow: 0 4px 6px 0 rgba(23,116, 239, 0.11);*/
/*}*/
/*.cm-tblC:hover{*/
/*	color:#fff;*/
/*	background:#fb4945;*/
/*}*/
.cm-linkBtn{
	color:#3780f1;
	margin:0 5px;
	cursor:pointer;
}
.cm-linkBtn:hover{
	text-decoration:underline;
}
.operatorWrap {
    text-align: center;
}
.cm-editBtn {
    background: transparent url(../imgs/common/editBlue.png) no-repeat left 2px;
    padding-left: 20px;
}
.cm-newBtn {
    background: transparent url(../imgs/common/plusBlue.png) no-repeat left 2px;
    padding-left: 20px;
}
.cm-doneBtn {
    background: transparent url(../imgs/common/doneIcon.png) no-repeat left 4px;
    padding-left: 20px;
    background-size: 17px auto;
}

/*radio 公共样式*/
.cm-radio-label, .cm-checkbox-label {
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 4px;
    margin-right: 10px;
    padding-left: 20px;
    line-height: 25px;
    cursor: pointer;
    font-size: 12px;
}
.cm-radio-label input, .cm-checkbox-label input {
    position: absolute;
    left: -9999px;
}
.cm-radio-label input:checked + i, .cm-checkbox-label input:checked + i {
    border-color: #3780f1;
}

.cm-radio-label i, .cm-checkbox-label i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    border-color: #acacac;
    border-radius: 2px;
    transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}
.cm-radio-label input:checked + i:after, .cm-checkbox-label input:checked + i:after {
    opacity: 1;
}
.cm-radio-label input + i:after {
    content: '';
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #3780f1;
    display: inline-block;
}
.cm-radio-label input + i:after, .cm-checkbox-label input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}
.cm-radio-label i {
    border-radius: 50%;
}
/*左侧蓝边标题*/
.cm-blueLeft{
	color:#333;
	padding-left:9px;
	font-size:14px;
}

/*表格样式修改*/
table.dataTable thead th {
	/*text-align: center;*/
}
table.dataTable tbody th, table.dataTable tbody td, table.dataTable thead th, table.dataTable thead td{
	padding:0 8px;
	line-height:40px;
}
table.dataTable tbody tr th:first-child, table.dataTable tbody tr td:first-child,
table.dataTable thead tr th:first-child, table.dataTable thead tr td:first-child {
    padding-left: 20px;
}
table.dataTable tbody tr th:last-child, table.dataTable tbody tr td:last-child,
table.dataTable thead tr th:last-child, table.dataTable thead tr td:last-child{
	padding-right:20px;
}
/*.dataTables_wrapper .dataTables_info {*/
/*    float: right;*/
/*    padding-right: 20px;*/
/*    padding-top: 26px;*/
/*    padding-left: 20px;*/
/*    color:#666;*/
/*}*/
/*.dataTables_wrapper .dataTables_paginate {*/
/*    padding-top: 20px;*/
/*   */
/*}*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.first,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.first:hover, */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.first:active,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.next,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover, */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.next:active,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.last,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.last:hover, */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.last:active,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.previous,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover, */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.previous:active{*/
/*    height: 30px;*/
/*    display: inline-block;*/
/*    border-radius:0px;*/
/*    outline:none;*/
/*    border:none;*/
/*    line-height: 30px;*/
/*    padding: 0 10px;*/
/*}*/


/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {*/
/*    height: 30px;*/
/*    display: inline-block;*/
/*    background:#eee;*/
/*    border-radius:0px;*/
/*    outline:none;*/
/*    border:none;*/
/*    line-height: 30px;*/
/*    padding: 0 10px;*/
/*}*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button:active,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover{*/
/*	background:#eaf6fe;*/
/*	color:#3780f1!important;*/
/*	border-radius:0px;*/
/*	border:none;*/
/*	outline:none;*/
/*	box-shadow:none;*/
/*	height: 30px;*/
/*    padding: 5px 10px;*/
/*    font-size: 12px;*/
/*    min-width: 30px;*/
/*    display: block;*/
/*    line-height: 30px;*/
/*    padding: 0 10px;*/
/*    float: left;*/
/*}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button:active,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover { */
/*	text-decoration:underline!important;*/
/*}*/
/* .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, */
/* .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{*/
/*	text-decoration:none!important;	*/
/*}*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active,*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{*/
/*	background:#3780f1;*/
/*	color:#fff!important;*/
/*	border-radius:0px;*/
/*	border:none;*/
/*	outline:none;*/
/*}*/
table.dataTable thead th:focus, table.dataTable thead td:focus,
table.dataTable thead th:active, table.dataTable thead td:active {
	outline:none;
	box-shadow:none;
	border:none;
	border-bottom: 1px solid #eceff8;
}
table.dataTable.no-footer,table.dataTable thead th, table.dataTable thead td {
	outline: none;
    border-bottom: 1px solid #eceff8;
}
.dataTable thead {
    background: #f6f7fb;
}
table.dataTable thead th, table.dataTable thead td {
    color: #333;
    font-weight: normal;
}
table.dataTable tbody tr {
    border-bottom: 1px solid #eceff8;
    line-height: 24px;
}
table.dataTable tbody tr:hover {
	background:#f4f8fb;
}
table.dataTable tbody th, table.dataTable tbody td{
	color:#666;
}
table.dataTable{
	border-collapse: collapse;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom:none;
}

/* tree   zui下拉样式调整     */
.cm-zuiSelectTree>li>a { 
	border:none;
	padding:0 8px;	
}
.cm-zuiSelectTree>li>a:hover,.cm-zuiSelectTree li a:focus {
	background:#ebf5fe;
	color:#3780f1;
}
.cm-zuiSelectTree>li ul li a:hover {
	background:#ebf5fe;
	color:#3780f1;
}
.cm-zuiSelectTree li:hover {background:#fff;} 
.cm-zuiSelectTree li>a {
	padding:0 8px;
	white-space: nowrap;
}
.cm-zuiSelectTree li .list-toggle:before{
	content: "";
    width:30px;
    height:30px;
    display: inline-block;
	background:url(../imgs/common/dropDown.png) 6px 12px no-repeat;
}
.cm-zuiSelectTree li.open>.list-toggle:before {
	content: "";
	width:30px;
    height:30px;
    display: inline-block;
    background:url(../imgs/common/dropDown.png) 9px 6px no-repeat;
}

.cm-listSelect .tree li.open>ul:hover{
	background:#fff;
}


/* 白底蓝border按钮    */
/*按照标准重新设置样式 次按钮*/
/*.butD { */
/*	font-size:12px;*/
/*	color:#1875f0;*/
/*	border:1px solid #3780f1;*/
/*	float:right;*/
/*	line-height:26px;*/
/*	background:#fff;*/
/*	padding:0 10px;*/
/*	margin-bottom:12px;*/
/*	border-radius:2px;*/
/*}*/

/*.butD:hover { */
/*	background:#3780f1;*/
/*	color:#fff;*/
/*}*/
/*button.butD:focus, button.butD:active{*/
/*	border:1px solid #3780f1;*/
/*}*/

/* 横线 input */
.textL {
	border:none; 
	border-bottom:1px solid #ddd; 
	padding:0 5px;
	color: #666;
}
.textL:active,.textL:focus { 
	outline:none; border:none; 
	border-bottom:1px solid #3780f1; 
}

.cm-area{
	 border:1px solid #ddd;
	 padding: 0 5px;
     color: #666;
}
.cm-area:active,.cm-area:focus{
	 outline:none; 
	 border:1px solid #3780f1;
	 padding:5px;
}

/* 通用    */
.overflowH { 
	overflow:hidden;
}
.fl { 
	float:left;
}
.fr { 
	float:right;
}
.tAlign { 
	text-align:center;
}


/*蓝色下划线的input*/
.cm-blueIpt {
    border: none;
    border-bottom: 1px solid #3780f1;
    padding: 0 8px;
}
.cm-blueIpt:focus,.cm-blueIpt:active{
	outline:none;
	box-shadow:none;
	border: none;
    border-bottom: 1px solid #3780f1;
    color:#333;
}

.radio-inline label {
    font-weight:normal;
}
.messager {
/*     background-color: rgba(0,0,0,.6); */
    border-radius: 5px;
}

.wth260 {
	width:260px;
}