/*#pageContent {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/
#pageBody {
/*    width: 100%;*/
/*    height:80%;*/
/*    height: calc(100% - 34px);*/
/*    border: 10px solid transparent;*/
	margin: 10px;
}
.topStepWrap{
	text-align:right;
	padding:14px 24px;
	margin-bottom:1px;
	background: #fff;
	border-radius:5px;
}
.topSecWrap{
	padding:14px 24px;
	margin-bottom:1px;
	background: #fff;
	border-radius:5px;
}
.stepIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: #b6b6b6;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    font-weight: normal;
}
.active .stepIcon{
	/*background: #3780f1;*/
	background: var(--colorNormal);
    color: #fff;
}
.topStepWrap .active .stepTxt{
	/*color: #3780f1;*/
	color: var(--colorNormal);
}
.topStepWrap label{
	cursor:pointer;
}
.topStepWrap .stepTxt{
	color:#666;
	font-weight:normal;
	padding-top:6px;
	padding-left:8px;
	padding-right:15px;
	display:inline-block;
}
.arrowIcon{
	width:8px;
	height:14px;
	background:transparent url(../imgs/common/blueArrow.png) no-repeat center center;
	display: inline-block;
    top: 3px;
    position: relative;
    margin-right: 6px;
}
.contentWrap {
    background: #fff;
    border-radius: 5px;
    padding-top: 20px;
    min-height: 90%;
    min-height: calc(100% - 62px);
}
.p1 span {
    color: #666;
    font-size: 14px;
}
.p11, .p12{
	margin-right: 50px;
}
.p13>span {
    color: #3780f1;
    margin-right: 8px;
}
.p13>a>span { 
	/*color:#3780f1;*/
	color: var(--colorNormal);
}
.cm-searchGroup {
    position: relative;
    margin: 0 10px 0 20px;
    float: right;
}
.newValBtn {
    float: right;
    margin-bottom:15px;
}
.condition {
	background: #fff;
    margin: 10px 0;
    border-radius: 5px;
}

.p1{
	padding:0 18px 20px;
}
.condition>.p1 {
	padding:15px 18px 15px;
}
.p1 >div{
	display:inline-block;
}
.p13 {
	width:140px;
    cursor: pointer;
}
.p12 {
    border-right: 1px solid #eee;
    padding-right: 20px;
    margin-right: 20px;
}
.row-css {
	margin: 0 0 0 21px;
}
.row-css > div{
	margin:10px 0;
	   
}

.nextbut { 
	margin-right:19px; 
	border-radius:2px;
	margin-top:20px;
}

.modalTxt{
	float:left;
	width:100px;
}

.cm-underlineIpt{
	border-bottom: 1px solid #dbdbdb;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	outline:none;
}
.modifyVariable_cronMsg, #modifyEntity_cronMsg{
	color: #EA644A;
	cursor: pointer;
	padding-top: 8px;
}