<link href="${ctx.contextPath}/static/plugin/z-tree/css/orangeStyle/orangeStyle.css" rel="stylesheet" type="text/css">
<link href="${ctx.contextPath}/static/css/rule/expRuleConfig.css" rel="stylesheet" />

<div class="modal fade" id="expRuleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">表达式规则</h4>
      </div>
      <div class="modal-body row-css">
          <div id = "expCfg" class="expCfg">
              <div class="expContent">
                      <div id="expCfgTree" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<!--                       <div id="splitTitle"> -->
<!--                           <p id="pkgVars" class="active"><span class="icon"></span>输入变量</p> -->
<!--                           <p id="myVars"><span class="icon"></span>输出变量</p> -->
<!--                       </div> -->
                      <div id="varsTree" class="ztree"></div>
                  </div>
                  <div class="expCfgParts col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <div class="cfgCore">
                          <p class="cfgCoreTitle">表达式配置</p>
                          <div class="core">
                              <textarea id="coreTxt" class="coreTxt"></textarea>
                              <div>
                                  <div class="conditonConn">
                                      <input type="button" class="plus" value=" + " />
                                      <input type="button" class="minus" value=" - " />
                                      <input type="button" class="multiplication " value=" * " />
                                      <input type="button" class="division" value=" / " />
<!--                                             <input type="button" class="equal" value=" = " /> -->
<!--                                             <input type="button" class="bigEqual" value=" == " /> -->
<!--                                             <input type="button" class="notEqual" value=" != " /> -->
<!--                                             <input type="button" class="less" value=" < " /> -->
<!--                                             <input type="button" class="lessOrE" value=" <= " /> -->
<!--                                             <input type="button" class="more" value=" > " /> -->
<!--                                             <input type="button" class="moreOrE" value=" >= " /> -->
                                      <input type="button" class="and" value=" && " />
                                      <input type="button" class="or" value=" ||  " />
                                      <!-- <input type="button" class="not" value=" ! "> -->
                                      <input type="button" class="leftpar" value="(" />
                                      <input type="button" class="rightpar" value=")" />
                                  </div>
                                  <div class="btns">
                                      <button class="clear">清空</button>
                                      <button class="test">验证</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="expRuleSave">保存</button>
<!--        <button class="btn cm-btnSec" id="expRuleCancle">取消</button>-->
        <button class="btn btn-minor" id="expRuleCancle">取消</button>
      </div>
    </div>
  </div>
</div>
