<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/rule/rulePackage.css" rel="stylesheet" />
<div id="page">
	<div id="pageHeader">
		<p>当前位置：<span>${folderName!}</span></p>
		<div class="operation overflowH">
			<!--			<button onclick="insertRule();" class="btn cm-btnAdd newValBtn fl">添加模型</button>-->
			<button onclick="goBack()" class="btn btn-primary fl" style="margin-right: 5px;">返回</button>
			<button onclick="exportFromFolder()" class="btn btn-primary fl">导出</button>
			<button onclick="importModels()" class="btn btn-primary fl" style="margin-right: 5px;">导入</button>
			<button onclick="addRule();" class="btn btn-primary fl" style="margin-right: 5px;">添加模型</button>
			<button onclick="insertRule();" class="btn btn-primary fl" style="margin-right: 5px;">创建模型</button>
			<div class="magement">
				<a href="${ctx.contextPath}/api/index?folderId=${folderId!}&childOpen=o">接口管理</a>
				<a href="${ctx.contextPath}/variableConfig?ruleFolder=${folderId!}&childOpen=o">参数管理</a>
				<!--				<a href="${ctx.contextPath}/fun/index?folderId=${folderId!}&childOpen=o">函数管理</a>-->
				<a href="${ctx.contextPath}/metadata/view?packageId=${folderId!}&childOpen=o">元数据管理</a>
				<a href="javascript:void(0);" onclick="deleteFolder();">全部删除</a>
			</div>
		</div>
	</div>
	<div id="pageBody">
		<div id="pageInformation">
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div id="pageContent">
			<ul class="ruleContent">
				<#list ruleList as rule>
				<li id="modelCard_${rule.ruleId!}" class="modelCard col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<div class="card_container card_background_${ rule.ruleType! }">
						<div class="card_header">
							<div class="card_title" title="${rule.moduleName!}">${rule.moduleName!}<i class="editModelBase icon icon-pencil" onclick="editModelBase('${rule.ruleName!}')"></i></div>
							<div class="card_subtitle">
								<div class="versionSel">
									<span id="versionSelSpan_${rule.ruleId!}" class="versionSpan">${rule.version!}</span>
									<label for="versionSelSpan_${rule.ruleId!}" class="input-control-icon-right versionSelLabel" data-toggle="dropdown"
										   onclick="rulePackageObj.searchModelVersion('${rule.ruleName}', $(this))">
										<i class="icon icon-caret-down"></i>
									</label>
									<ul class="dropdown-menu versionSelMenu"></ul>
								</div>
								<#if rule.ruleStatus == "1">
								<input type="checkbox" idx="${rule.ruleId!}" id="ck_${rule.ruleId!}" class="inset_3" rule-name="${rule.ruleName!}" checked>
							</#if>
							<#if rule.ruleStatus != "1">
							<input type="checkbox" idx="${rule.ruleId!}" id="ck_${rule.ruleId!}" rule-name="${rule.ruleName!}" class="inset_3">
						</#if>
						<label for="ck_${rule.ruleId!}" class="blue"></label>
					</div>
		</div>
		<div class="card_main">
			<div class="card_content_left" title="${rule.versionDesc!'暂无介绍'}">
				<p>${rule.versionDesc!"暂无介绍"}</p>
			</div>
			<div class="hr" ></div>
			<div class="card_content_right">
				<div class="card_button_group">
					<div class="link" onclick="testRule('${rule.ruleId!}','${rule.ruleName!}','${rule.moduleName!}')">测试</div>
					<div class="link" onclick="ruleTrial('${rule.ruleId!}','${rule.ruleName!}','${rule.moduleName!}')">试算</div>
				</div>
				<div class="card_button_group">
					<div class="link" onclick="cloneRule(
                                        	'${rule.ruleId!}',
                                        	'${rule.ruleName!}',
                                        	'${rule.ruleDesc!}',
                                        	'${rule.ruleType!}',
                                        	'${rule.isPublic!}',
                                        	'${rule.modelGroupId!}',
                                        	'${rule.deptId!}',
                                        	'${rule.deptName!}',
                                        	'${rule.partnerCode!}',
                                        	'${rule.partnerName!}'
                                        )">克隆</div>
					<#if rule.version?index_of("草稿") == -1>
					<div class="link" onclick="publishModel('${rule.ruleId!}')">发布</div>
				</#if>
			</div>
		</div>
	</div>
	<div class="card_footer">
		<button class="butD1" onclick="editRule('${rule.ruleId!}','${rule.ruleName!}','${rule.folderId!}', 1)">查看</button>
		<button class="butD1" onclick="editRule('${rule.ruleId!}','${rule.ruleName!}','${rule.folderId!}', -1)">编辑</button>
		<button class="butD1" onclick="deleteRule('${rule.ruleId!}', '${rule.ruleName!}')">删除</button>
		<button class="butD1" onclick="serviceApi('${rule.ruleId!}')">服务API</button>
		<!--								<button class="butD1" >设为公有</button>-->
	</div>
</div>
</li>
<!--			    <li id="modelCard_${rule.ruleId!}" class="modelCard col-xs-12 col-sm-6 col-md-4 col-lg-3" data-rule="${ rule }">-->
<!--                    <dl>-->
<!--                        <dt>${rule.ruleName!}<i class="editModelBase icon icon-pencil" onclick="editModelBase('${rule.ruleName!}')"></i></dt>-->
<!--                        <dd>-->
<!--                            <div class="row">-->
<!--                                <div class="versionSel">-->
<!--                                    <span id="versionSelSpan_${rule.ruleId!}" class="versionSpan">${rule.version!}</span>-->
<!--                                    <label for="versionSelSpan_${rule.ruleId!}" class="input-control-icon-right versionSelLabel" data-toggle="dropdown"-->
<!--                                           onclick="rulePackageObj.searchModelVersion('${rule.ruleName}', $(this))">-->
<!--                                        <i class="icon icon-caret-down"></i>-->
<!--                                    </label>-->
<!--                                    <ul class="dropdown-menu versionSelMenu"></ul>-->
<!--                                </div>-->
<!--                                <#if rule.ruleStatus == "1">-->
<!--&lt;!&ndash;								    <input type="checkbox" idx="${rule.ruleId!}" id="ck${rule_index}" class="inset_3" checked>&ndash;&gt;-->
<!--								    <input type="checkbox" idx="${rule.ruleId!}" id="ck_${rule.ruleId!}" class="inset_3" rule-name="${rule.ruleName!}" checked>-->
<!--								</#if>-->
<!--								<#if rule.ruleStatus != "1">-->
<!--&lt;!&ndash;                                    <input type="checkbox" idx="${rule.ruleId!}" id="ck${rule_index}" class="inset_3">&ndash;&gt;-->
<!--                                    <input type="checkbox" idx="${rule.ruleId!}" id="ck_${rule.ruleId!}" rule-name="${rule.ruleName!}" class="inset_3">-->
<!--                                </#if>-->
<!--&lt;!&ndash;                                <label for="ck${rule_index}" class="blue"></label>&ndash;&gt;-->
<!--                                <label for="ck_${rule.ruleId!}" class="blue"></label>-->
<!--                            </div>-->
<!--                            <div class="a">-->
<!--                                <p>${rule.versionDesc!"暂无介绍"}</p>-->
<!--                                <div class="btnDiv">-->
<!--                                    <#if rule.version?index_of("草稿") == -1>-->
<!--	                                    <button class="butD1 mr8" onclick="publishModel('${rule.ruleId!}')">发布</button>-->
<!--	                                </#if>-->
<!--&lt;!&ndash;	                                    <button class="butD1 mr8" onclick="setCommon('${rule.ruleId!}','${rule.folderId!}')">设为公有</button>&ndash;&gt;-->
<!--	                                    <button id="btn_${rule.ruleId!}" class="butD1 mr8" onclick="deleteRule('${rule.ruleId!}', '${rule.ruleName!}')">删除</button>-->
<!--                                <#&#45;&#45;-->
<!--	                                <#if rule.ruleStatus == "1">-->
<!--                                &ndash;&gt;-->
<!--&lt;!&ndash;	                                    <button class="butD1 mr8" onclick="updateRuleCache('${rule.ruleId!}','${rule.folderId!}')">更新缓存</button>&ndash;&gt;-->
<!--	                                    <button class="butD1 mr8" onclick="editRule('${rule.ruleId!}','${rule.ruleName!}','${rule.folderId!}', 1)">查看</button>-->
<!--                                <#&#45;&#45;-->
<!--	                                </#if>-->
<!--                                &ndash;&gt;-->
<!--                                <#&#45;&#45;-->
<!--	                                <#if rule.ruleStatus != "1">-->
<!--                                &ndash;&gt;-->
<!--	                                    <button class="butD1 mr8" onclick="editRule('${rule.ruleId!}','${rule.ruleName!}','${rule.folderId!}', -1)">编辑</button>-->
<!--                                <#&#45;&#45;-->
<!--	                                </#if>-->
<!--                                &ndash;&gt;-->

<!--	                                    <button class="butD1 mr8" onclick="testRule('${rule.ruleId!}','${rule.ruleName!}')">测试</button>-->
<!--                                        <button class="butD1 mr8" onclick="ruleTrial('${rule.ruleId!}','${rule.ruleName!}')">试算</button>-->
<!--                                        <button class="butD1 mr8" onclick="cloneRule(-->
<!--                                        	'${rule.ruleId!}',-->
<!--                                        	'${rule.ruleName!}',-->
<!--                                        	'${rule.ruleDesc!}',-->
<!--                                        	'${rule.ruleType!}',-->
<!--                                        	'${rule.isPublic!}',-->
<!--                                        	'${rule.modelGroupId!}',-->
<!--                                        	'${rule.deptId!}',-->
<!--                                        	'${rule.deptName!}',-->
<!--                                        	'${rule.partnerCode!}',-->
<!--                                        	'${rule.partnerName!}'-->
<!--                                        )">克隆</button>-->
<!--                                </div>-->
<!--                            </dd>-->
<!--                        </dl>-->
<!--                    </li>-->
</#list>
<#if ruleList?size<=0 >
<div class="no-rule">暂无规则！</div>
</#if>
<!--
<li class="col-lg-3 col-md-3">
    <dl>
        <dt>反欺诈规则</dt>
        <dd>
            <div class="row">
                <input type="checkbox" id="ck7" class="inset_3" checked>
                <label for="ck7" class="blue"></label>
            </div>
            <div class="a">
                <p>提示风险等于用户提示风险等于用户险等于用户提示风险...</p>
                <button class="butD">删除</button>
                <button class="butD1 mr8">编辑</button>
            </div>
        </dd>
    </dl>
</li>
-->
</ul>
</div>
</div>
</div>
<input type="hidden" id="ruleId" value="">

<!-- 删除规则确认对话框start -->
<div class="modal fade" id="delRuleDiv">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>
				</button>
				<h4 class="modal-title">是否确认删除该规则</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" data-validator-option="{stopOnError:true}">
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">选择版本：</label>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<select
									id="version"
									class="form-control"
							>
								<option value="">全部版本</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<!--				<button type="button" class="btn btn-default cm-btnSec " data-dismiss="modal">取消</button>-->
				<button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
				<button id="delRuleBtn" type="button" class="btn btn-primary">确认</button>
			</div>
		</div>
	</div>
</div>
<!-- 删除接口确认对话框end -->

<!-- 删除接口确认对话框start -->
<div class="modal fade" id="delFolderDiv">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body exit tAlign">
				是否确认删除全部规则、变量、接口、元数据  ?
			</div>
			<div class="modal-footer">
				<!--        <button type="button" class="btn btn-default cm-btnSec" data-dismiss="modal">取消</button>-->
				<button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
				<button id="delFolderBtn" type="button" class="btn btn-primary">确认</button>
			</div>
		</div>
	</div>
</div>
<!-- 删除接口确认对话框end -->

<!-- 修改模型基础信息start-->
<div class="modal fade" id="editModelBaseDiv">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><h4 class="modal-title">修改模型基础信息</h4></div>
			<div class="modal-body">
				<form class="form-horizontal" data-validator-option="{stopOnError:true}">
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>模型类型</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<select id="ruleTypeSelector" col-name="ruleType" class="form-control">
								<option ruleType="1" selected>规则模型</option>
								<option ruleType="0">评分模型</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>模型名称</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="ruleName" col-name="moduleName" type="text" class="form-control" data-rule="模型名称:required;length[1~64, true]">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">模型描述</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<textarea id="editModel_ruleDesc" col-name="ruleDesc" type="text" class="form-control" data-rule="模型描述:length[~255, true]"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">机构编码</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="deptIdInput" col-name="deptId" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">机构名称</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="deptNameInput" col-name="deptName" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">合作方编码</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="partnerCodeInput" col-name="partnerCode" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">合作方名称</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="partnerNameInput" col-name="partnerName" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group notFirst">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">产品编码</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="productCodeInput" col-name="productCode" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group notFirst">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">产品名称</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="productNameInput" col-name="productName" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group notFirst">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">系统编号</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="systemCodeInput" col-name="systemCode" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group notFirst">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">系统名称</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<input id="systemNameInput" col-name="systemName" type="text" class="form-control">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="saveModelBase" type="button" class="btn btn-primary">保存</button>
				<button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 修改模型基础信息end-->

<!-- 添加模型弹框start -->
<div class="modal fade" id="insertModelAlert">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><h4 class="modal-title">添加模型</h4></div>
			<div class="modal-body">
				<form class="form-horizontal" data-validator-option="{stopOnError:true}">
					<div class="form-group">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>模型类型</label>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<select class="form-control">
								<option value="1" selected>规则模型</option>
								<option value="0">评分模型</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="insertModal" type="button" class="btn btn-primary">下一步</button>
				<button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>

<!--添加模型 弹窗-->
<div class="modal fade" id="addModel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">添加模型</h4>
			</div>
			<div class="modal-body">
				<div id="modelContentWarp">
					<!-- 1 指标通用基础信息 -->
					<div class="channelDefBase">
						<form class="form-horizontal" data-validator-option="{stopOnError:true}">
							<div class="form-group" style="align: center">
								<label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">产品名称</label>
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<input type="text" placeholder="其他" id="proName" style="width: 100%"/>
								</div>
							</div>
						</form>
					</div>
					<div style="clear: both"></div>
					<div>
						<table id="modelTable"></table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="saveModel" type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
				<button id="closeModel" type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- 添加模型弹框end -->

<!-- 模型克隆模态框-->
<#include "/pages/modelBase/ruleClone.html">

<#include "/commonFoot.html">
<#include "/pages/modelBase/publishModel.html">
<#include "/pages/migration/export.html">
<#include "/pages/migration/import.html">
<#include "/pages/modelBase/serviceAPI.html">

<script type="text/javascript">
    var folderId = '${folderId!}';
    var folderName = '${folderName!}';
    creCommon.setCookie('folderName',folderName,1);//设置cookie
</script>
<script src="${ctx.contextPath}/static/js/rule/rulePackage.js"></script>
<script src="${ctx.contextPath}/static/js/modelBase/publishModel.js"></script>
<script src="${ctx.contextPath}/static/js/migration/export.js"></script>
<script src="${ctx.contextPath}/static/js/migration/import.js"></script>
<script src="${ctx.contextPath}/static/js/modelBase/serviceAPI.js"></script>

</body>
</html>