#pageBody {
    width: 100%;
    height:80%;
    height: calc(100% - 34px);
    border: 1px solid transparent;
}
#pageContent {
    height:calc( 100%-11px);
    width: 100%;
    margin-bottom: 15px;
}
#commonResourceContainer{
    padding:14px 24px;
    margin:10px 10px 1px;
    background: #fff;
    border-radius:5px;
}
#commonResourceContainer li, .apiParamAdd, .funParamOk,
.funParamNo, .funcParamDel:hover, #commonResourceContainer .icon-caret-down{
    cursor: pointer;
}
/*搜索功能*/
#commonResourceSearchContainer{
    height: auto;
    padding-top:14px;
    margin-top: 10px;
    background: #fff;
    border-radius:5px;
}
#commonResourceContainer .input-group{
    width: 250px;
    float: left;
    margin: 0 0 10px 10px;
}
#commonResourceContainer .dropdown-menu{
    text-align: center;
    width: 100%;
    overflow: auto;
    max-height: 280px;
}
#commonResourceSearchContainer .input-group-addon{ /* 时间组件小按钮背景色设置 */
    background-color: #fff;
}
.selfAdaptionLeft{
    float: left;
    width: 100%;
}
.selfAdaptionLeft>div{
    margin-right: 175px;
}
.selfAdaptionRight{
    position: relative;
    float: right;
    width: 170px;
    margin-left: -170px;
}
.selfAdaptionRight button{
    outline: none;
}
.resourceTableIcon{
    /*color: #3280FC;*/
    color: var(--colorNormal);
    margin: 0 0 10px 10px;
}
#commonResourceTable, #paramGroupTable{
    margin: 8px 0;
}
/*表格内容展示*/
#logModalBodyText{
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    padding: 8px;
}
/*弹框*/
#paramAlertModal .modal-body, #paramGroupAlertModal .modal-body, #apiAlertModal .modal-body,
#apiTypeAlertModal .modal-body, #functionAlertModal .modal-body, #funTypeAlertModal .modal-body,
#objectParamAlertModal .modal-body {
    max-height: 400px;
    overflow: auto;
}
.mustIcon{
    color: #EA644A;
    text-align: center;
    vertical-align: middle;
    padding-right: 5px;
}
/*参数对象属性弹框*/
#addObjectParam{
    float: right;
    margin-bottom: 12px;
    outline: none;
}
/*接口弹框*/
.apiTypeContent_init, .redisTypeContent_init{
    display: none;
}
.apiTypeContent_active, .redisTypeContent_active{
    display: block;
}
#addApiReturnParam{
    float: left;
    cursor: pointer;
}
/*公共函数*/
.funcParamDivParent_look{
    margin-top: -10px;
}
.funcParamDivParent_edit{
    margin-top: 0px;
}
#funcParamDiv{
    border: 1px dashed #e7e6e6;
    padding: 6px 8px;
    min-height: 70px;
    max-height: 150px;
    overflow: auto;
}
.funParamEle{
    display: inline-block;
    margin: 3px;
}
.funcParamDel{
    margin-left: 2px;
}
.cron_msg, #cron_api_msg{
    color: #EA644A;
    cursor: pointer;
    padding-top: 8px;
}