#pageContent {
    height: calc(100% - 11px);
    width: 100%;
}

#pageBody {
    width: 100%;
    height: 80%;
    height: calc(100% - 34px);
    border: 1px solid transparent;
}

.butD1 {
    font-size: 14px;
    color: #02BABC;
    border: 1px solid #02BABC;
    height: 32px;
    line-height: 32px;
    background: #fff;
    padding: 0 10px;
    border-radius: 4px;
    min-width: 80px;
    text-align: center;
}

.butD1:hover {
    background: #02BABC;
    color: #fff;
}

button.butD1:focus, button.butD1:active {
    border: 1px solid #02BABC;
}

.foldersContent {
    padding-left: 0;
    margin: 0;
}

.foldersContent li {
    list-style: none;
    padding: 0;
}

.card_container {
    margin: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(73, 138, 248, 0.13);
}

.card_background_0 {
    background: url(../../imgs/rule/card_0.png) no-repeat;
    background-size: 100% 100%;
}

.card_background_1 {
    background: url(../../imgs/rule/card_1.jpg) no-repeat;
    background-size: 100% 100%;
}

.card_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.card_container .card_header .card_title {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 30px 0 20px;
    background: transparent;
    background: linear-gradient(to right, transparent, rgba(2, 186, 188, 0.2));
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 16px;
    color: #2E3D55;
    letter-spacing: 0;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card_container .card_main {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 10px;
}

.card_container .card_main .card_content_des {
    padding: 0 20px 10px 20px;
    color: #2E3D55;
    letter-spacing: 0;
    flex-grow: 1;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: flex-start;
}

.card_container .card_main .card_content_des p {
    overflow: hidden;
    margin: 0;
}

.card_container .card_footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.card_container .card_footer button {
    margin-right: 10px;
}

.card_container .card_footer button:last-child {
    margin-right: 0;
}
