#chanUserAlertModal .modal-body {
    margin-bottom: 15px;
}
.chanMsgContainer {
    margin: 0 0 20px 0;
}
.chanMsgContainer .resourceTableIcon {
    display: inline-block;
    width: 80px;
    color: #F1A325;
}
.chanMsgContainer input {
    display: inline;
    width: 250px;
    height: 28px;
    outline: none;
}
/*资源搜索栏两列自适应*/
#chanUserAlertModal .selfAdaptionRight {
    position: relative;
    float: right;
    width: 60px;
    margin-left: -60px;
}
.chanUserContent {
    border: 1px dashed #ccc;
    padding: 10px 8px;
}
/*用户列表*/
#chanPersonTable{
    margin: 5px 0;
}