<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/task/taskIndex.css" rel="stylesheet"/>
<div id="page">
    <div id="pageHeader">
        <p>当前位置：<span>离线任务管理</span></p>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="taskPageContainer">
                <div id="taskPageHead">
                    <!--添加任务-->
                    <button id="addTaskButton" class="btn btn-primary" type="button">新建离线任务</button>
<!--                    <button id="tasksDelButton" class="btn btn-primary" type="button">批量删除</button>-->
                    <div id="searchBar">
                        <!--搜索-->
                        <div class="input-group">
                            <input data-col="taskName" type="text" class="form-control" placeholder="任务名称">
                            <label class="input-control-icon-right"><i class="icon icon-tasks"></i></label>
                        </div>
                        <div class="input-group">
                            <input data-col="packageName" type="text" class="form-control" placeholder="场景名称（请选择）">
                            <label class="input-control-icon-right" data-toggle="dropdown">
                                <i class="icon icon-caret-down"></i></label>
                            <ul id="packageList" class="dropdown-menu pull-right"></ul>
                        </div>
                        <div class="input-group">
                            <input data-col="ruleName" type="text" class="form-control" placeholder="模型名称（请选择）">
                            <label class="input-control-icon-right" data-toggle="dropdown">
                                <i class="icon icon-caret-down"></i></label>
                            <ul id="ruleList" class="dropdown-menu pull-right"></ul>
                        </div>
                        <div class="input-group">
                            <input data-col="ruleVersion" type="text" class="form-control" placeholder="版本号（请选择）">
                            <label class="input-control-icon-right" data-toggle="dropdown">
                                <i class="icon icon-caret-down"></i></label>
                            <ul id="ruleVersionList" class="dropdown-menu pull-right"></ul>
                        </div>
                        <button id="searchButton" class="btn btn-primary" type="button">搜索</button>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <!--离线任务列表展示-->
                <hr/>
                <div id="taskTableContainer">
                    <table id="taskTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新建离线任务 基本信息-->
<div class="modal fade" id="taskMainAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">离线任务 > 基本信息</h4>
            </div>
            <!--新建离线任务字段-->
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div id="packagesFormGroup" class="form-group">
                        <label for="packagesFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>场景名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="packageSelectors" class="form-control" col-name="packageName" data-rule="场景名称:required;"></select>
                        </div>
                    </div>
                    <div id="rulesFormGroup" class="form-group">
                        <label for="rulesFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>模型名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="ruleSelectors" class="form-control" col-name="ruleName" data-rule="模型名称:required;[1~64, true]"></select>
                        </div>
                    </div>
                    <div id="versionsFormGroup" class="form-group">
                        <label for="rulesFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>版本号</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="versionSelector" class="form-control" col-name="version" data-rule="版本号:required;"></select>
                        </div>
                    </div>

                    <div id="taskNameFormGroup" class="form-group">
                        <label for="taskNameFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>任务名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="taskNameInput" type="text" col-name="taskName" class="form-control must" data-rule="任务名称:required;length[1~64, true];">
                        </div>
                    </div>
                    <div id="cronFormGroup" class="form-group">
                        <label for="cronFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>执行周期</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="cronInput" type="text" col-name="cron" class="form-control must" placeholder="请输入cron表达式">
                        </div>
                        <label id="cron_notice" class="icon icon-question-sign" data-toggle="tooltip"
                               data-placement="bottom"
                               title="[格式] 秒 分 时 日 月 周 年(可选) [例子] 0 0 12 ? * WED (每个星期三中午12点)">
                        </label>
                        <label id="cron_tip" style="display: none"><i
                                class="icon icon-exclamation-sign"></i>非法cron</label>
                    </div>
                    <div id="scanOffsetFormGroup" class="form-group">
                        <label for="scanOffsetFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>任务起始位置</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="scanOffsetInput" type="text" col-name="scanOffset" class="form-control" placeholder="请输入大于0的整数"
                                   data-rule="任务起始位置:required;">
                        </div>
                    </div>
                    <div id="scanMaxSizeFormGroup" class="form-group">
                        <label for="scanMaxSizeFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>单次任务处理最大数</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="scanMaxSizeInput" type="text" col-name="scanMaxSize" class="form-control" placeholder="请输入大于0的整数"
                                   data-rule="单次任务处理最大数:required;">
                        </div>
                    </div>
                    <div id="scanNextOffsetFormGroup" class="form-group">
                        <label for="scanNextOffsetFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">下次处理位置</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="scanNextOffsetInput" type="text" col-name="scanNextOffset" class="form-control">
                        </div>
                    </div>
                    <div id="scanNextRowKeyFormGroup" class="form-group">
                        <label for="scanNextRowKeyFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">当前行键位置</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="scanNextRowKeyInput" type="text" col-name="scanNextRowKey" class="form-control">
                        </div>
                    </div>
                    <div id="describeFormGroup" class="form-group">
                        <label for="describeFormGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="desInput" type="text" col-name="describe" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="nextStep" type="button" class="btn btn-primary">下一步</button>
                <button id="mainClose" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--新建离线任务 字段绑定-->
<div class="modal fade" id="taskBindAlertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">离线任务 > 输入输出参数绑定</h4>
            </div>
            <!--弹框内容-->
            <div class="modal-body">
                <!--左侧区域tree-->
                <div id="bindModal_left">
                    <ul id="taskTree" class="tree tree-lines tree-angles" initialized="0"></ul>
                </div>
                <!--右侧绑定区域-->
                <div id="bindModal_right">
                    <!--任务输入-->
                    <div class="bindModal_right_ele">
                        <div class="bindModalTitle">
                            <i class="icon icon-link"> </i>
                            <span>任务输入参数绑定</span>
                        </div>
                        <div class="rightEle_inputs rightEle_inputs_input">
                            <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input id="columnCode_input" data-col="columnCode" type="text"
                                       class="form-control dragTarget inputDragTarget"
                                       placeholder="从左侧输入表/关联关系表内拖入字段">
                                <label class="input-control-icon-right">
                                    <i class="inputColIcon icon icon-columns"></i>
                                    <i style="display: none" tableKind="1" class="cancelIcon icon icon-times"></i>
                                </label>
                            </div>
                            <div class="input-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <input id="variableCode_input" data-col="variableCode" type="text" class="form-control"
                                       readonly placeholder="选择输入变量">
                                <label class="input-control-icon-right" data-toggle="dropdown"><i
                                        class="icon icon-caret-down "></i></label>
                                <ul id="inputVariables" class="dropdown-menu pull-right"></ul>
                            </div>
                            <div class="rightEleIconContainer">
                                <span class="rightEleIcon addBindEle" tableKind="1" data-toggle="tooltip"
                                      data-placement="bottom" title="确认添加">
                                    <i class="icon icon-plus"></i>
                                </span>
                                <span class="rightEleIcon clearAllBindEle" tableKind="1" data-toggle="tooltip"
                                      data-placement="bottom" title="清除内容">
                                    <i class="icon icon-undo"></i>
                                </span>
                            </div>
                        </div>
                        <div id="bindContent_input" class="bindContent"></div>
                    </div>
                    <!--任务输出-->
                    <div class="bindModal_right_ele">
                        <div class="bindModalTitle">
                            <i class="icon icon-link"> </i>
                            <span>任务输出参数绑定</span>
                        </div>
                        <div class="rightEle_inputs rightEle_inputs_output">
                            <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input id="columnCode_output" data-col="columnCode" type="text"
                                       class="form-control dragTarget outputDragTarget"
                                       placeholder="从左侧输出表内拖入字段">
                                <label class="input-control-icon-right">
                                    <i class="inputColIcon icon icon-columns"></i>
                                    <i style="display: none" tableKind="2" class="cancelIcon icon icon-times"></i>
                                </label>
                            </div>
                            <div class="input-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <input id="variableCode_output" data-col="variableCode" type="text" class="form-control"
                                       readonly placeholder="选择输出变量">
                                <label class="input-control-icon-right" data-toggle="dropdown"><i
                                        class="icon icon-caret-down "></i></label>
                                <ul id="outputVariables" class="dropdown-menu pull-right"></ul>
                            </div>
                            <div class="rightEleIconContainer">
                                <span class="rightEleIcon addBindEle" tableKind="2" data-toggle="tooltip"
                                      data-placement="bottom" title="确认添加">
                                    <i class="icon icon-plus"></i>
                                </span>
                                <span class="rightEleIcon clearAllBindEle" tableKind="2" data-toggle="tooltip"
                                      data-placement="bottom" title="清除内容">
                                    <i class="icon icon-undo"></i>
                                </span>
                            </div>
                        </div>
                        <div id="bindContent_output" class="bindContent"></div>
                    </div>
                </div>
            </div>
            <!--弹框操作按钮-->
            <div class="modal-footer">
                <button id="lastStep" type="button" class="btn btn-primary">上一步</button>
                <button id="nextStep_bind" type="button" class="btn btn-primary">下一步</button>
                <button id="cancelBind" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--新建离线任务 主键字段绑定-->
<div class="modal fade" id="keyColBindAlertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">离线任务 > 标识字段绑定</h4>
            </div>
            <!--新建离线任务字段-->
            <div class="modal-body">
                <form class="form-horizontal">
                    <div id="keyColBind_inputFormInput" class="form-group">
                        <label for="keyColBind_inputFormInput" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                            输入表<span class="tableCodeSpan" id="keyBind_inputTableCodeSpan"></span>标识字段
                        </label>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <select id="keyColBind_inputTableSelector" class="form-control"></select>
                        </div>
                    </div>
                    <div id="keyColBind_outputFormInput" class="form-group">
                        <label for="keyColBind_outputFormInput"
                               class="col-xs-5 col-sm-5 col-md-5 col-lg-5">输出表
                            <span class="tableCodeSpan" id="keyBind_outputTableCodeSpan"></span>标识字段</label>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <select id="keyColBind_outputTableSelector" class="form-control"></select>
                        </div>
                    </div>
                    <div id="keyColBind_filterContainer" class="panel" isFormal="1">
                        <div class="panel-heading"><b>过滤条件</b></div>
                        <div class="panel-body">
                            <div class="filterEle">
                                <div class="input-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <input id="filterInputTableInput" data-col="ruleId" type="text"
                                           class="form-control mustInput"
                                           placeholder="输入表（必填）">
                                    <label class="input-control-icon-right" data-toggle="dropdown"><i
                                            class="icon icon-caret-down"></i></label>
                                    <ul id="filterTablesSelector" class="dropdown-menu pull-right"></ul>
                                </div>
                                <div class="input-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <input id="filterInputColInput" data-col="ruleId" type="text"
                                           class="form-control mustInput"
                                           placeholder="字段（必填）">
                                    <label class="input-control-icon-right" data-toggle="dropdown"><i
                                            class="icon icon-caret-down"></i></label>
                                    <ul id="filterColsSelector" class="dropdown-menu pull-right"></ul>
                                </div>
                                <!--formal和Hbase类型结构不同-->
                                <div class="input-group col-xs-2 col-sm-2 col-md-2 col-lg-2 filter_formal">
                                    <input data-col="ruleId" type="text" class="form-control mustInput"
                                           placeholder="运算符（必填）">
                                    <label class="input-control-icon-right" data-toggle="dropdown"><i
                                            class="icon icon-caret-down"></i></label>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a> > </a></li>
                                        <li><a> < </a></li>
                                        <li><a> >= </a></li>
                                        <li><a> <= </a></li>
                                        <li><a> = </a></li>
                                        <li><a> != </a></li>
                                    </ul>
                                </div>
                                <div class="input-group col-xs-2 col-sm-2 col-md-2 col-lg-2 filter_hbase"
                                     style="display: none">
                                    <input data-col="ruleId" type="text" class="form-control mustInput"
                                           placeholder="运算符（必填）">
                                    <label class="input-control-icon-right" data-toggle="dropdown"><i
                                            class="icon icon-caret-down"></i></label>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a> = </a></li>
                                        <li><a> != </a></li>
                                    </ul>
                                </div>
                                <div class="input-group col-xs-2 col-sm-2 col-md-2 col-lg-2 filter_hbase"
                                     style="display: none">
                                    <input data-col="ruleId" type="text" class="form-control mustInput"
                                           placeholder="方式（必填）">
                                    <label class="input-control-icon-right" data-toggle="dropdown"><i
                                            class="icon icon-caret-down"></i></label>
                                    <ul class="dropdown-menu pull-right">
                                        <li paramName="RegexStringComparator" data-value="正则表达式"><a>正则表达式</a></li>
                                        <li paramName="SubstringComparator" data-value="子字符串"><a>子字符串</a></li>
                                    </ul>
                                </div>
                                <div class="input-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <input data-col="ruleId" type="text" class="form-control mustInput"
                                           placeholder="值（必填）">
                                </div>
                                <div class="input-group col-xs-2 col-sm-2 col-md-2 col-lg-2 filter_formal">
                                    <input data-col="ruleId" type="text" class="form-control"
                                           placeholder="连接条件">
                                    <label class="input-control-icon-right" data-toggle="dropdown"><i
                                            class="icon icon-caret-down"></i></label>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a> AND </a></li>
                                        <li><a> OR </a></li>
                                    </ul>
                                </div>
                                <div id="filterOperateBar">
                                    <i id="filterAdd" class="icon icon-plus"></i>
                                    <i id="filterReset" class="icon icon-undo"></i>
                                </div>
                            </div>
                            <div id="filterContent" contenteditable="true"></div>
                            <button id="resetFilterContent" type="button" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="bindLastStep" type="button" class="btn btn-primary">上一步</button>
                <button id="saveTask" type="button" class="btn btn-primary" isClicked="0">保存</button>
                <button id="bindLastCancel" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--查看任务详情-->
<div class="modal fade" id="taskDetailAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    <span class="sr-only">关闭</span></button>
                <h4 class="modal-title">任务详情</h4>
            </div>
            <!--新建离线任务字段-->
            <div class="modal-body">
                <form class="form-horizontal">
                    <div id="detail_taskName" class="form-group">
                        <label for="detail_taskName" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_packageName" class="form-group">
                        <label for="detail_packageName" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">场景名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_ruleName" class="form-group">
                        <label for="detail_ruleName" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">模型名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_version" class="form-group">
                        <label for="detail_version" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">版本号</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_cron" class="form-group">
                        <label for="detail_cron" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">执行周期</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" col-name="describe" class="form-control">
                        </div>
                    </div>
                    <div id="detail_scanOffset" class="form-group">
                        <label for="detail_scanOffset" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务起始位置</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_scanNextOffset" class="form-group">
                        <label for="detail_scanNextOffset" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务下次执行位置</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_scanMaxSize" class="form-group">
                        <label for="detail_scanMaxSize" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">单次任务处理最大数</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_scanNextRowKey" class="form-group">
                        <label for="detail_scanNextRowKey" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">当前行键位置</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_describe" class="form-group">
                        <label for="detail_describe" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_input" class="form-group">
                        <label for="detail_input" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">输入参数映射</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <div class="form-control content" style="overflow: auto;min-height: 80px"></div>
                        </div>
                    </div>
                    <div id="detail_output" class="form-group">
                        <label for="detail_output" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">输出参数映射</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <div class="form-control content" style="overflow: auto;min-height: 80px"></div>
                        </div>
                    </div>
                    <div id="detail_keyCol" class="form-group">
                        <label for="detail_output" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">主键字段映射</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <div class="form-control content" style="overflow: auto;min-height: 35px"></div>
                        </div>
                    </div>
                    <div id="detail_taskStatus" class="form-group">
                        <label for="detail_taskStatus" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务执行状态</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_resultDescribe" class="form-group">
                        <label for="detail_resultDescribe" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务结果描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <textarea class="form-control content" style="overflow: auto;resize: none;"></textarea>
                        </div>
                    </div>
                    <div id="detail_createDate" class="form-group">
                        <label for="detail_createDate" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务创建时间</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_createPerson" class="form-group">
                        <label for="detail_createPerson" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">创建用户</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_updateDate" class="form-group">
                        <label for="detail_updateDate" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">任务更新时间</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div id="detail_updatePerson" class="form-group">
                        <label for="detail_updatePerson" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">更新用户</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--提示消息弹框-->
<div class="modal fade" id="taskMsgAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    <span class="sr-only">关闭</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <!--提示消息-->
            <div class="modal-body">
                <span id="taskMsgText"></span>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="taskMsgConfirm" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<#include "/pages/common/loading.html">
<#include "/commonFoot.html">
<script src="${ctx.contextPath}/static/js/task/taskIndex.js"></script>
<script src="${ctx.contextPath}/static/js/common/loading.js"></script>
</body>
</html>