<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.frame.mapper.resource.ApiGroupMapper">
    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.commonresource.ApiGroup">
        <result column="API_GROUP_ID" property="apiGroupId" jdbcType="VARCHAR"/>
        <result column="API_GROUP_NAME" property="apiGroupName" jdbcType="VARCHAR"/>
        <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR"/>
        <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        API_GROUP_ID, API_GROUP_NAME, CREATE_PERSON, UPDATE_PERSON,
        CREATE_DATE, UPDATE_DATE
    </sql>

    <select id="pagedPubApiGroupResource" parameterType="java.util.Map"
            resultType="com.bonc.frame.entity.auth.resource.PubApiGroupResource">
        select
        API_GROUP_NAME as "apiGroupName",
        API_GROUP_ID as "apiGroupId"
        FROM CRE_PUB_API_GROUP
        where 1=1
        <if test="apiGroupId != null">
            and API_GROUP_ID != #{ruleSetGroupId,jdbcType=VARCHAR}
        </if>
        <if test="apiGroupName != null">
            API_GROUP_NAME  = #{apiGroupName,jdbcType=VARCHAR},
        </if>
    </select>
    <!-- 检验 apiGroupName 唯一性 -->
    <select id="countByName" parameterType="java.util.Map" resultType="int">
        select count(*) as "count" from CRE_PUB_API_GROUP
        where API_GROUP_NAME = #{apiGroupName,jdbcType=VARCHAR}
        <if test="apiGroupId != null">
            and API_GROUP_ID != #{apiGroupId,jdbcType=VARCHAR}
        </if>
        ORDER BY CREATE_DATE DESC
    </select>

    <select id="countApisById" parameterType="java.lang.String" resultType="int">
        SELECT count(1) FROM CRE_API_CONF WHERE API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
    </select>

    <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM CRE_PUB_API_GROUP
        WHERE API_GROUP_NAME like CONCAT(CONCAT('%',#{apiGroupName,jdbcType=VARCHAR}),'%')
        ORDER BY CREATE_DATE DESC
    </select>

    <select id="selectByApiGroupId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM CRE_PUB_API_GROUP
        WHERE API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
    </select>

    <select id="selectByApiGroupProperty" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM CRE_PUB_API_GROUP
        WHERE 1=1
        <if test="apiGroupId != null">
            AND API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
        </if>
        <if test="apiGroupName != null">
            AND API_GROUP_NAME = #{apiGroupName,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insertSelective" parameterType="com.bonc.frame.entity.commonresource.ApiGroup">
        insert into CRE_PUB_API_GROUP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiGroupId != null">
                API_GROUP_ID,
            </if>
            <if test="apiGroupName != null">
                API_GROUP_NAME,
            </if>
            <if test="createPerson != null">
                CREATE_PERSON,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updatePerson != null">
                UPDATE_PERSON,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiGroupId != null">
                #{apiGroupId,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupName != null">
                #{apiGroupName,jdbcType=VARCHAR},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bonc.frame.entity.commonresource.ApiGroup">
        update CRE_PUB_API_GROUP
        <set>
            <if test="apiGroupName != null">
                API_GROUP_NAME = #{apiGroupName,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
            </if>
        </set>
        where API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from CRE_PUB_API_GROUP
        where API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
    </delete>

</mapper>