<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.frame.mapper.resource.ModelGroupMapper">
    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.commonresource.ModelGroup">
        <result column="MODEL_GROUP_ID" property="modelGroupId" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_NAME" property="modelGroupName" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_CODE" property="modelGroupCode" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_DESC" property="modelGroupDesc" jdbcType="VARCHAR"/>
        <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR"/>
        <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="GroupChannelMap" type="com.bonc.frame.entity.commonresource.ModelGroupChannel">
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_ID" property="modelGroupId" jdbcType="VARCHAR"/>
        <result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ChannelNameMap" type="com.bonc.frame.entity.auth.Channel">
        <result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR"/>
        <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ModelGroupMap" type="com.bonc.frame.entity.commonresource.ModelGroup">
        <result column="MODEL_GROUP_ID" property="modelGroupId" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_NAME" property="modelGroupName" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_CODE" property="modelGroupCode" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_DESC" property="modelGroupDesc" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getGroupHeaderListResource" parameterType="java.util.Map"
            resultType="com.bonc.frame.entity.auth.resource.PubModelBaseResource">
        select
        MODEL_GROUP_NAME as "modelGroupName",
        MODEL_GROUP_ID as "modelGroupId"
        FROM CRE_PUB_MODEL_GROUP
        where 1=1
        <if test="modelGroupId != null">
            and MODEL_GROUP_ID != #{modelGroupId,jdbcType=VARCHAR}
        </if>
        <if test="modelGroupName != null">
            AND MODEL_GROUP_NAME != #{modelGroupName,jdbcType=VARCHAR},
        </if>
    </select>

    <sql id="Base_Column_List">
        MODEL_GROUP_ID, MODEL_GROUP_NAME,MODEL_GROUP_CODE,MODEL_GROUP_DESC, CREATE_PERSON, UPDATE_PERSON,
        CREATE_DATE, UPDATE_DATE
    </sql>
    <sql id="Base_Column_List2">
        a.MODEL_GROUP_ID,  a.MODEL_GROUP_NAME, a.MODEL_GROUP_CODE, a.MODEL_GROUP_DESC,  a.CREATE_PERSON,  a.UPDATE_PERSON,
         a.CREATE_DATE,  a.UPDATE_DATE
    </sql>

    <!-- 检验 modelGroupName 唯一性 -->
    <select id="countByName" parameterType="java.util.Map" resultType="int">
        select count(*) as "count" from CRE_PUB_MODEL_GROUP
        where MODEL_GROUP_NAME = #{modelGroupName,jdbcType=VARCHAR}
        <if test="modelGroupId != null">
            and MODEL_GROUP_ID != #{modelGroupId,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 检查当前组是否被使用 -->
    <select id="countGroupUsed" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1) FROM CRE_RULE_DETAIL
        WHERE MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR} AND IS_DEL = '0'
    </select>

    <select id="getByGroupName" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List2"></include>
        FROM CRE_PUB_MODEL_GROUP a
--         left join CRE_PUB_MODEL_GROUP_CHANNEL b on a.MODEL_GROUP_ID = b.MODEL_GROUP_ID
        WHERE 1=1
        <if test="modelGroupId != null">
            and a.MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        </if>
        <if test="modelGroupName != null">
            AND a.MODEL_GROUP_NAME like CONCAT(CONCAT('%',#{modelGroupName,jdbcType=VARCHAR}),'%')
        </if>
        <!--<if test="channelId != null">-->
            <!--and b.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}-->
        <!--</if>-->
        <if test="startDate != null and '' != startDate">
            and a.CREATE_DATE &gt;= to_date(#{startDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and '' != endDate">
            and a.CREATE_DATE &lt;= to_date(#{endDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        ORDER BY a.CREATE_DATE DESC
    </select>

    <select id="getByGroupName2" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List2"></include>
        FROM CRE_PUB_MODEL_GROUP a
        left join CRE_PUB_MODEL_GROUP_CHANNEL b on a.MODEL_GROUP_ID = b.MODEL_GROUP_ID
        WHERE 1=1
        <if test="modelGroupId != null">
            and a.MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        </if>
        <if test="modelGroupName != null">
            AND a.MODEL_GROUP_NAME like CONCAT(CONCAT('%',#{modelGroupName,jdbcType=VARCHAR}),'%')
        </if>
        <if test="channelId != null">
            and b.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null and '' != startDate">
            and a.CREATE_DATE &gt;= to_date(#{startDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and '' != endDate">
            and a.CREATE_DATE &lt;= to_date(#{endDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        ORDER BY a.CREATE_DATE DESC
    </select>

    <select id="getModelGroupByGroupName" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM CRE_PUB_MODEL_GROUP
        WHERE 1=1
        <if test="modelGroupId != null">
            and MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        </if>
        <if test="modelGroupName != null">
            AND MODEL_GROUP_NAME = #{modelGroupName,jdbcType=VARCHAR}
        </if>
        ORDER BY CREATE_DATE DESC
    </select>

    <insert id="insertSelective" parameterType="com.bonc.frame.entity.commonresource.ModelGroup">
        insert into CRE_PUB_MODEL_GROUP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelGroupId != null">
                MODEL_GROUP_ID,
            </if>
            <if test="modelGroupName != null">
                MODEL_GROUP_NAME,
            </if>
            <if test="modelGroupCode != null">
                MODEL_GROUP_CODE,
            </if>
            <if test="modelGroupDesc != null">
                MODEL_GROUP_DESC,
            </if>
            <if test="createPerson != null">
                CREATE_PERSON,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updatePerson != null">
                UPDATE_PERSON,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelGroupId != null">
                #{modelGroupId,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupName != null">
                #{modelGroupName,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupCode != null">
                #{modelGroupCode,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupDesc != null">
                #{modelGroupDesc,jdbcType=VARCHAR},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bonc.frame.entity.commonresource.ModelGroup">
        update CRE_PUB_MODEL_GROUP
        <set>
            <if test="modelGroupName != null">
                MODEL_GROUP_NAME = #{modelGroupName,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupCode != null">
                MODEL_GROUP_CODE = #{modelGroupCode,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupDesc != null">
                MODEL_GROUP_DESC = #{modelGroupDesc,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
            </if>
        </set>
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from CRE_PUB_MODEL_GROUP
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </delete>

    <insert id="groupConnectChannel" parameterType="com.bonc.frame.entity.commonresource.ModelGroupChannel">
        insert into CRE_PUB_MODEL_GROUP_CHANNEL
        (ID,CHANNEL_ID,MODEL_GROUP_ID)
        values
        (#{id,jdbcType=VARCHAR},#{channelId,jdbcType=VARCHAR},#{modelGroupId,jdbcType=VARCHAR})
    </insert>

    <delete id="connectDelete" parameterType="java.lang.String">
        delete from CRE_PUB_MODEL_GROUP_CHANNEL
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </delete>

    <select id="isConnected" parameterType="map" resultMap="GroupChannelMap">
        select ID, MODEL_GROUP_ID, CHANNEL_ID
        from CRE_PUB_MODEL_GROUP_CHANNEL
        where
            MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
            and CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
    </select>

    <select id="checkDefaultGroup" parameterType="com.bonc.frame.entity.commonresource.ModelGroup" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM CRE_PUB_MODEL_GROUP
        WHERE
        MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        AND MODEL_GROUP_NAME = #{modelGroupName,jdbcType=VARCHAR}
        ORDER BY CREATE_DATE DESC
    </select>

    <update id="deleteByUpdate" parameterType="java.lang.String">
        update CRE_RULE_DETAIL
        set MODEL_GROUP_ID = 'defaultGroup', IS_PUBLIC = '1'
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </update>

    <select id="getChannelName" parameterType="java.lang.String" resultMap="ChannelNameMap">
        select b.CHANNEL_ID, a.CHANNEL_NAME
        from CRE_PUB_MODEL_GROUP_CHANNEL b
        left join CRE_AUTH_CHANNEL a on a.CHANNEL_ID = b.CHANNEL_ID
        where b.MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </select>

    <select id="getGroupById" parameterType="java.lang.String" resultMap="ModelGroupMap">
        select MODEL_GROUP_ID, MODEL_GROUP_NAME, MODEL_GROUP_CODE,MODEL_GROUP_DESC,CREATE_DATE,CREATE_PERSON,UPDATE_DATE,UPDATE_PERSON
        from CRE_PUB_MODEL_GROUP
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        order by UPDATE_DATE desc
    </select>

    <select id="getModelListByGroup" parameterType="java.lang.String" resultType="com.bonc.frame.entity.commonresource.ModelRuleDetail">
        select
        RULE_ID as ruleId,
        MODULE_NAME as ruleName,
        RULE_DESC as ruleDesc,
        RULE_TYPE as ruleType,
        RULE_NAME as ruleVerId
        from CRE_RULE_DETAIL
        where IS_HEADER = '1'
        and  MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        and FOLDER_ID = '0000000000000000000000000000001'
        order by UPDATE_DATE desc
    </select>

    <select id="getModelInfoById" parameterType="java.lang.String" resultType="map">
    select
    RULE_NAME as ruleName, RULE_STATUS as ruleStatus
    from CRE_RULE_DETAIL
    where RULE_ID = #{modelId,jdbcType=VARCHAR} and IS_HEADER = '1'
</select>

    <select id="getGroupInfoById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from CRE_PUB_MODEL_GROUP
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </select>

    <select id="modelGetVersion" resultType="com.bonc.frame.entity.commonresource.ModelVersion" parameterType="map">
    SELECT
      RULE_ID as ruleId, VERSION as version
    FROM CRE_RULE_DETAIL
    WHERE
      IS_DEL = '0'
      AND IS_HEADER = '0'
      AND RULE_NAME = #{RULENAME,jdbcType=VARCHAR}
      ORDER BY to_number(VERSION) DESC ,VERSION_CREATE_DATE DESC
</select>

    <select id="modelGetRuleSet" parameterType="java.lang.String" resultType="com.bonc.frame.entity.commonresource.RuleSetForModel">
    select
    c.RULE_SET_GROUP_NAME as ruleSetGroupName,
    b.RULE_SET_NAME as ruleSetName,
    b.RULE_SET_HEADER_DESC as ruleSetDesc,
    a.VERSION as version
    from CRE_PUB_RULE_SET a
    left join CRE_PUB_RULE_SET_HEADER b on a.RULE_SET_HEADER_ID = b.RULE_SET_HEADER_ID
    left join CRE_PUB_RULE_SET_GROUP c on b.RULE_SET_GROUP_ID = c.RULE_SET_GROUP_ID
    left join CRE_PUB_RULE_SET_RULE d on a.RULE_SET_ID = d.RULE_SET_ID
    where d.RULE_ID = #{modelId,jdbcType=VARCHAR}
</select>

</mapper>