<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.frame.mapper.resource.ModelGroupMapper">
    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.commonresource.ModelGroup">
        <result column="MODEL_GROUP_ID" property="modelGroupId" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_NAME" property="modelGroupName" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_CODE" property="modelGroupCode" jdbcType="VARCHAR"/>
        <result column="MODEL_GROUP_DESC" property="modelGroupDesc" jdbcType="VARCHAR"/>
        <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR"/>
        <result column="UPDATE_PERSON" property="updatePerson" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        MODEL_GROUP_ID, MODEL_GROUP_NAME,MODEL_GROUP_CODE,MODEL_GROUP_DESC, CREATE_PERSON, UPDATE_PERSON,
        CREATE_DATE, UPDATE_DATE
    </sql>

    <!-- 检验 modelGroupName 唯一性 -->
    <select id="countByName" parameterType="java.util.Map" resultType="int">
        select count(*) as "count" from CRE_PUB_MODEL_GROUP
        where MODEL_GROUP_NAME = #{modelGroupName,jdbcType=VARCHAR}
        <if test="modelGroupId != null">
            and MODEL_GROUP_ID != #{modelGroupId,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 检查当前组是否被使用 -->
    <select id="countGroupUsed" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1) FROM CRE_RULE_DETAIL
        WHERE MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR} AND IS_DEL = '0'
    </select>

    <select id="getByGroupName" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM CRE_PUB_MODEL_GROUP
        WHERE 1=1
        <if test="modelGroupId != null">
            and MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        </if>
        <if test="modelGroupName != null">
            AND MODEL_GROUP_NAME like CONCAT(CONCAT('%',#{modelGroupName,jdbcType=VARCHAR}),'%')
        </if>
        ORDER BY CREATE_DATE DESC
    </select>

    <select id="getModelGroupByGroupName" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM CRE_PUB_MODEL_GROUP
        WHERE 1=1
        <if test="modelGroupId != null">
            and MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
        </if>
        <if test="modelGroupName != null">
            AND MODEL_GROUP_NAME = #{modelGroupName,jdbcType=VARCHAR}
        </if>
        ORDER BY CREATE_DATE DESC
    </select>

    <insert id="insertSelective" parameterType="com.bonc.frame.entity.commonresource.ModelGroup">
        insert into CRE_PUB_MODEL_GROUP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelGroupId != null">
                MODEL_GROUP_ID,
            </if>
            <if test="modelGroupName != null">
                MODEL_GROUP_NAME,
            </if>
            <if test="modelGroupCode != null">
                MODEL_GROUP_CODE,
            </if>
            <if test="modelGroupDesc != null">
                MODEL_GROUP_DESC,
            </if>
            <if test="createPerson != null">
                CREATE_PERSON,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updatePerson != null">
                UPDATE_PERSON,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelGroupId != null">
                #{modelGroupId,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupName != null">
                #{modelGroupName,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupCode != null">
                #{modelGroupCode,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupDesc != null">
                #{modelGroupDesc,jdbcType=VARCHAR},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bonc.frame.entity.commonresource.ModelGroup">
        update CRE_PUB_MODEL_GROUP
        <set>
            <if test="modelGroupName != null">
                MODEL_GROUP_NAME = #{modelGroupName,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupCode != null">
                MODEL_GROUP_CODE = #{modelGroupName,jdbcType=VARCHAR},
            </if>
            <if test="modelGroupDesc != null">
                MODEL_GROUP_DESC = #{modelGroupName,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR},
            </if>
        </set>
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from CRE_PUB_MODEL_GROUP
        where MODEL_GROUP_ID = #{modelGroupId,jdbcType=VARCHAR}
    </delete>

</mapper>