<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.mapper.monitorMapper">
    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.monitor.DescResult">
        <id column="LOG_ID" property="logId" jdbcType="VARCHAR"/>
        <result column="DEPT_ID"  property="deptId" jdbcType="VARCHAR"/>
        <result column="CHANNEL_ID"  property="channelId" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME"  property="deptName" jdbcType="VARCHAR"/>
        <result column="CHANNEL_NAME"  property="channelName" jdbcType="VARCHAR"/>
        <result column="MODEL_ID"  property="modelId" jdbcType="VARCHAR"/>
        <result column="PRODUCT_ID"  property="productId" jdbcType="VARCHAR"/>
        <result column="MODEL_NAME"  property="modelName" jdbcType="VARCHAR"/>
        <result column="PRODUCT_NAME"  property="productName" jdbcType="VARCHAR"/>
        <result column="TYPE"  property="type" jdbcType="VARCHAR"/>
        <result column="CONSUMER_SEQ_NO"  property="consumerSeqNo" jdbcType="VARCHAR"/>
        <result column="MODEL_VERSION"  property="modelVersion" jdbcType="VARCHAR"/>
        <result column="ACTION_TIME"  property="actionTime" jdbcType="VARCHAR"/>
        <result column="ACTION_STATUS"  property="actionStatus" jdbcType="VARCHAR"/>
        <result column="USE_TIME"  property="useTime" jdbcType="VARCHAR"/>
        <result column="ORACLE_IN"  property="oracleIn" jdbcType="VARCHAR"/>
        <result column="ORACLE_OUT"  property="oracleOut" jdbcType="VARCHAR"/>
        <result column="HBASE_IN"  property="hbaseIn" jdbcType="VARCHAR"/>
        <result column="HBASE_OUT"  property="hbaseOut" jdbcType="VARCHAR"/>
        <result column="API_NAME"  property="apiName" jdbcType="VARCHAR"/>
        <result column="API_IN"  property="apiIn" jdbcType="VARCHAR"/>
        <result column="API_OUT"  property="apiOut" jdbcType="VARCHAR"/>
        <result column="RETURN_CODE"  property="returnCode" jdbcType="VARCHAR"/>
        <result column="MODEL_TYPE"  property="modelType" jdbcType="VARCHAR"/>
        <result column="RETURN_RESULT"  property="returnResult" jdbcType="VARCHAR"/>
        <result column="RETURN_SCORE"  property="returnScore" jdbcType="VARCHAR"/>
        <result column="PROJECT_CODE"  property="projectCode" jdbcType="VARCHAR"/>
        <result column="AVERAGE_USE_TIME"  property="averageUseTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.bonc.frame.entity.monitor.MonitorTime">
        <id column="LOG_HOUR_ID" property="logHourId" jdbcType="VARCHAR"/>
        <result column="CONSUMER_ID" property="consumerId" jdbcType="VARCHAR"/>
        <result column="PROJECT_NO" property="projectNo" jdbcType="VARCHAR"/>
        <result column="MODEL_FID" property="modelFid" jdbcType="VARCHAR"/>
        <result column="MODEL_RID" property="modelRid" jdbcType="VARCHAR"/>
        <result column="METHOD_TYPE" property="modelType" jdbcType="VARCHAR"/>
        <result column="MODEL_TYPE" property="methodType" jdbcType="VARCHAR"/>
        <result column="MODEL_SUCCESS_COUNT" property="modelSuccessCount" jdbcType="INTEGER"/>
        <result column="MODEL_FAIL_COUNT" property="modelFailCount" jdbcType="INTEGER"/>
        <result column="MODEL_AVERAGE_SCORE" property="modelAverageScore" jdbcType="INTEGER"/>
        <result column="SUCCESS_CODE_COUNT" property="successCodeCount" jdbcType="INTEGER"/>
        <result column="HBASE_CODE_COUNT" property="hbaseCodeCount" jdbcType="INTEGER"/>
        <result column="SYSTEM_CODE_COUNT" property="systemCodeCount" jdbcType="INTEGER"/>
        <result column="ORACLE_CODE_COUNT" property="oracleCodeCount" jdbcType="INTEGER"/>
        <result column="RED_INTER_CODE_COUNT" property="redInterCodeCount" jdbcType="INTEGER"/>
        <result column="AVERAGE_USE_TIME" property="averageUseTime" jdbcType="INTEGER"/>
        <result column="SIGN_TIME" property="signTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap3" type="com.bonc.frame.entity.monitor.MonitorTime">
        <id column="LOG_DAY_ID" property="logDayId" jdbcType="VARCHAR"/>
        <result column="CONSUMER_ID" property="consumerId" jdbcType="VARCHAR"/>
        <result column="PROJECT_NO" property="projectNo" jdbcType="VARCHAR"/>
        <result column="MODEL_FID" property="modelFid" jdbcType="VARCHAR"/>
        <result column="MODEL_RID" property="modelRid" jdbcType="VARCHAR"/>
        <result column="METHOD_TYPE" property="modelType" jdbcType="VARCHAR"/>
        <result column="MODEL_TYPE" property="methodType" jdbcType="VARCHAR"/>
        <result column="MODEL_SUCCESS_COUNT" property="modelSuccessCount" jdbcType="INTEGER"/>
        <result column="MODEL_FAIL_COUNT" property="modelFailCount" jdbcType="INTEGER"/>
        <result column="MODEL_AVERAGE_SCORE" property="modelAverageScore" jdbcType="INTEGER"/>
        <result column="SUCCESS_CODE_COUNT" property="successCodeCount" jdbcType="INTEGER"/>
        <result column="HBASE_CODE_COUNT" property="hbaseCodeCount" jdbcType="INTEGER"/>
        <result column="SYSTEM_CODE_COUNT" property="systemCodeCount" jdbcType="INTEGER"/>
        <result column="ORACLE_CODE_COUNT" property="oracleCodeCount" jdbcType="INTEGER"/>
        <result column="RED_INTER_CODE_COUNT" property="redInterCodeCount" jdbcType="INTEGER"/>
        <result column="AVERAGE_USE_TIME" property="averageUseTime" jdbcType="INTEGER"/>
        <result column="SIGN_TIME" property="signTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap4" type="com.bonc.frame.entity.monitor.MonitorTime">
        <id column="LOG_MONTH_ID" property="logMonthId" jdbcType="VARCHAR"/>
        <result column="CONSUMER_ID" property="consumerId" jdbcType="VARCHAR"/>
        <result column="PROJECT_NO" property="projectNo" jdbcType="VARCHAR"/>
        <result column="MODEL_FID" property="modelFid" jdbcType="VARCHAR"/>
        <result column="MODEL_RID" property="modelRid" jdbcType="VARCHAR"/>
        <result column="METHOD_TYPE" property="modelType" jdbcType="VARCHAR"/>
        <result column="MODEL_TYPE" property="methodType" jdbcType="VARCHAR"/>
        <result column="MODEL_SUCCESS_COUNT" property="modelSuccessCount" jdbcType="INTEGER"/>
        <result column="MODEL_FAIL_COUNT" property="modelFailCount" jdbcType="INTEGER"/>
        <result column="MODEL_AVERAGE_SCORE" property="modelAverageScore" jdbcType="INTEGER"/>
        <result column="SUCCESS_CODE_COUNT" property="successCodeCount" jdbcType="INTEGER"/>
        <result column="HBASE_CODE_COUNT" property="hbaseCodeCount" jdbcType="INTEGER"/>
        <result column="SYSTEM_CODE_COUNT" property="systemCodeCount" jdbcType="INTEGER"/>
        <result column="ORACLE_CODE_COUNT" property="oracleCodeCount" jdbcType="INTEGER"/>
        <result column="RED_INTER_CODE_COUNT" property="redInterCodeCount" jdbcType="INTEGER"/>
        <result column="AVERAGE_USE_TIME" property="averageUseTime" jdbcType="INTEGER"/>
        <result column="SIGN_TIME" property="signTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="LogBaseMap" type="com.bonc.frame.entity.monitor.RuleLog">
        <id column="LOG_ID" property="logId" jdbcType="VARCHAR"/>
        <result column="Rule_ID" property="ruleId" jdbcType="VARCHAR"/>
        <result column="FOLDER_ID" property="folderId" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="HIT_RULE_NUM" property="hitRuleNum" jdbcType="VARCHAR"/>
        <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="INPUT_DATA" property="intputData" jdbcType="VARCHAR"/>
        <result column="OUTPUT_DATA" property="outputData" jdbcType="VARCHAR"/>
        <result column="EXCEPTION" property="exception" jdbcType="VARCHAR"/>
        <result column="CONSUMER_ID" property="consumerId" jdbcType="VARCHAR"/>
        <result column="CONSUMER_SEQ_NO" property="consumerSeqNo" jdbcType="VARCHAR"/>
        <result column="USE_TIME" property="useTime" jdbcType="INTEGER"/>
        <result column="RETURN_CODE" property="returnCode" jdbcType="VARCHAR"/>
        <result column="MODEL_VERSION" property="modelVersion" jdbcType="VARCHAR"/>
        <result column="MODEL_TYPE" property="modelType" jdbcType="VARCHAR"/>
        <result column="METHOD_TYPE" property="methodType" jdbcType="VARCHAR"/>
        <result column="RETURN_RESULT" property="returnResult" jdbcType="VARCHAR"/>
        <result column="RETURN_SCORE" property="returnScore" jdbcType="VARCHAR"/>
        <result column="PROJECT_NO" property="projectNo" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="saveMsg" parameterType="map">
        update CRE_RULE_LOG
        set
        OUTPUT_DATA = #{outputData,jdbcType=VARCHAR},
        EXCEPTION = #{exception,jdbcType=VARCHAR},
        USE_TIME = #{useTime,jdbcType=VARCHAR},
        END_TIME = #{endTime,jdbcType=VARCHAR}
        where LOG_ID = #{logId,jdbcType=VARCHAR}
    </update>
    
    <insert id="insertLog" parameterType="com.bonc.frame.entity.monitor.RuleLog">
        insert into CRE_RULE_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                LOG_ID,
            </if>
            <if test="ruleId != null">
                Rule_ID,
            </if>
            <if test="folderId != null">
                FOLDER_ID,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="hitRuleNum != null">
                HIT_RULE_NUM,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="intputData != null">
                INPUT_DATA,
            </if>
            <if test="outputData != null">
                OUTPUT_DATA,
            </if>
            <if test="exception != null">
                EXCEPTION,
            </if>
            <if test="consumerId != null">
                CONSUMER_ID,
            </if>
            <if test="consumerSeqNo != null">
                CONSUMER_SEQ_NO,
            </if>
            <if test="useTime != null">
                USE_TIME,
            </if>
            <if test="returnCode != null">
                RETURN_CODE,
            </if>
            <if test="modelVersion != null">
                MODEL_VERSION,
            </if>
            <if test="modelType != null">
                MODEL_TYPE,
            </if>
            <if test="returnResult != null">
                RETURN_RESULT,
            </if>
            <if test="returnScore != null">
                RETURN_SCORE,
            </if>
            <if test="projectNo != null">
                PROJECT_NO,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=VARCHAR},
            </if>
            <if test="ruleId != null">
                #{ruleId,jdbcType=VARCHAR},
            </if>
            <if test="folderId != null">
                #{folderId,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="hitRuleNumber != null">
                #{hitRuleNumber,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="inputData != null">
                #{inputData,jdbcType=VARCHAR},
            </if>
            <if test="outputData != null">
                #{outputData,jdbcType=VARCHAR},
            </if>
            <if test="exception != null">
                #{exception,jdbcType=VARCHAR},
            </if>
            <if test="consumerId != null">
                #{consumerId,jdbcType=VARCHAR},
            </if>
            <if test="consumerSeqNo != null">
                #{consumerSeqNo,jdbcType=VARCHAR},
            </if>
            <if test="useTime != null">
                #{useTime,jdbcType=INTEGER},
            </if>
            <if test="returnCode != null">
                #{returnCode,jdbcType=VARCHAR},
            </if>
            <if test="modelVersion != null">
                #{modelVersion,jdbcType=VARCHAR},
            </if>
            <if test="modelType != null">
                #{modelType,jdbcType=VARCHAR},
            </if>
            <if test="methodType != null">
                #{methodType,jdbcType=VARCHAR},
            </if>
            <if test="returnResult != null">
                #{returnResult,jdbcType=VARCHAR},
            </if>
            <if test="returnScore != null">
                #{returnScore,jdbcType=VARCHAR},
            </if>
            <if test="projectNo != null">
                #{projectNo,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getHourUseTime" parameterType="map" resultType="map">
       SELECT
        ROUND(AVG (nvl(AVERAGE_USE_TIME,0)),2) as averageUseTime
       FROM
       CRE_RULE_LOG_HOUR
       where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getDayUseTime" parameterType="map" resultType="map">
       SELECT
        ROUND(AVG (nvl(AVERAGE_USE_TIME,0)),2) as averageUseTime
       FROM
       CRE_RULE_LOG_DAY
       where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
            and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getYearUseTime" parameterType="map" resultType="map">
       SELECT
        ROUND(AVG (nvl(AVERAGE_USE_TIME,0)),2) as averageUseTime
       FROM
       CRE_RULE_LOG_MONTH
       where 1=1
       <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
       </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getExcuteCount" parameterType="map" resultMap="BaseResultMap">
       SELECT
       STATE
       FROM
       CRE_RULE_LOG
    </select>


    <select id="getHourResult"  parameterType="map" resultType="map">
       SELECT
       sum(SUCCESS_CODE_COUNT) as successCodeCount,
       sum(HBASE_CODE_COUNT) as hbaseCodeCount,
       sum(SYSTEM_CODE_COUNT) as systemCodeCount,
       sum(ORACLE_CODE_COUNT) as oracleCodeCount,
       sum(RED_INTER_CODE_COUNT) as redInterCodeCount
       FROM
       CRE_RULE_LOG_HOUR
       where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME  like CONCAT(#{date,jdbcType=VARCHAR},'%')
    </select>

    <select id="getDayResult"  parameterType="map" resultType="map">
       SELECT
       sum(SUCCESS_CODE_COUNT) as successCodeCount,
       sum(HBASE_CODE_COUNT) as hbaseCodeCount,
       sum(SYSTEM_CODE_COUNT) as systemCodeCount,
       sum(ORACLE_CODE_COUNT) as oracleCodeCount,
       sum(RED_INTER_CODE_COUNT) as redInterCodeCount
       FROM
       CRE_RULE_LOG_DAY
       where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME  like CONCAT(#{date,jdbcType=VARCHAR},'%')
    </select>

    <select id="getYearResult"  parameterType="map" resultType="map">
       SELECT
       sum(SUCCESS_CODE_COUNT) as successCodeCount,
       sum(HBASE_CODE_COUNT) as hbaseCodeCount,
       sum(SYSTEM_CODE_COUNT) as systemCodeCount,
       sum(ORACLE_CODE_COUNT) as oracleCodeCount,
       sum(RED_INTER_CODE_COUNT) as redInterCodeCount
       FROM
       CRE_RULE_LOG_MONTH
       where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME  like CONCAT(#{date,jdbcType=VARCHAR},'%')
    </select>


    <select id="getYearCountData" parameterType="map" resultType="map">
        select
        SUM(MODEL_SUCCESS_COUNT) as successCount,
        SUM(MODEL_FAIL_COUNT) as failCount
        from CRE_RULE_LOG_MONTH
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getDayCountData" parameterType="map" resultType="map">
        select
        SUM(MODEL_SUCCESS_COUNT) as successCount,
        SUM(MODEL_FAIL_COUNT) as failCount
        from CRE_RULE_LOG_DAY
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getHourCountData" parameterType="map" resultType="map">
        select
        SUM(MODEL_SUCCESS_COUNT) as successCount,
        SUM(MODEL_FAIL_COUNT) as failCount
        from CRE_RULE_LOG_HOUR
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getHourHitCountData" parameterType="map" resultType="map">
        SELECT
        SUM(MODEL_SUCCESS_COUNT) as successCount,
        SUM(MODEL_FAIL_COUNT) as failCount
        from CRE_RULE_LOG_HOUR
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getDayHitCountData" parameterType="map" resultType="map">
        SELECT
        SUM(MODEL_SUCCESS_COUNT) as successCount,
        SUM(MODEL_FAIL_COUNT) as failCount
        from CRE_RULE_LOG_DAY
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getMonthHitCountData" parameterType="map" resultType="map">
        SELECT
        SUM(MODEL_SUCCESS_COUNT) as successCount,
        SUM(MODEL_FAIL_COUNT) as failCount
        from CRE_RULE_LOG_MONTH
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getHourScoreHit" parameterType="map" resultType="map">
        SELECT
        ROUND(AVG (nvl(MODEL_AVERAGE_SCORE,0)),2) as scoreCount
        FROM
        CRE_RULE_LOG_HOUR
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getDayScoreHit" parameterType="map" resultType="map">
        SELECT
        ROUND(AVG (nvl(MODEL_AVERAGE_SCORE,0)),2) as scoreCount
        FROM
        CRE_RULE_LOG_DAY
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getMonthScoreHit" parameterType="map" resultType="map">
        SELECT
        ROUND(AVG (nvl(MODEL_AVERAGE_SCORE,0)),2) as scoreCount
        FROM
        CRE_RULE_LOG_MONTH
        where 1=1
        <if test="modelId!=null">
            and MODEL_FID = #{modelId,jdbcType=VARCHAR}
        </if>
        and SIGN_TIME = #{timePoint,jdbcType=VARCHAR}
    </select>

    <select id="getState" parameterType="map" resultType="com.bonc.frame.entity.monitor.ExcuteResult">
        select a.LOG_ID as logId,
        f.DEPT_NAME as deptName,
        e.CHANNEL_NAME as channelName,
        c.MODEL_GROUP_NAME as groupName,
        b.MODULE_NAME as modelName,
        a.METHOD_TYPE as methodType,
        a.CONSUMER_SEQ_NO as consumerSeqNo,
        a.RETURN_CODE as returnCode,
        a.START_TIME as startTime,
        a.END_TIME as endTime
        from CRE_RULE_LOG a
        left join CRE_RULE_DETAIL b on a.RULE_ID = b.RULE_ID
        left join CRE_PUB_MODEL_GROUP c on a.FOLDER_ID = c.MODEL_GROUP_ID
        left join CRE_PUB_MODEL_GROUP_CHANNEL d on c.MODEL_GROUP_ID = d.MODEL_GROUP_ID
        left join CRE_AUTH_CHANNEL e on e.CHANNEL_ID = d.CHANNEL_ID
        left join CRE_AUTH_DEPT f on e.DEPT_ID = f.DEPT_ID
        where 1=1
        <if test="productId != null">
            AND a.FOLDER_ID = #{productId,jdbcType=VARCHAR}
        </if>
        <if test="channelId != null">
            AND d.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
        </if>
        <if test="modelId != null">
            AND a.RULE_ID = #{modelId,jdbcType=VARCHAR}
        </if>
        <if test="returnCode != null">
            AND a.RETURN_CODE = #{returnCode,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null and '' != startDate">
            and a.START_TIME &gt;= to_date(#{startDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and '' != endDate">
            and a.START_TIME &lt;= to_date(#{endDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        order by a.START_TIME desc
    </select>

    <select id="getLogPage" parameterType="map" resultType="com.bonc.frame.entity.monitor.ExcuteResult">
        select a.LOG_ID as logId,
        f.DEPT_NAME as deptName,
        e.CHANNEL_NAME as channelName,
        c.MODEL_GROUP_NAME as groupName,
        b.MODULE_NAME as modelName,
        a.METHOD_TYPE as methodType,
        a.CONSUMER_SEQ_NO as consumerSeqNo,
        a.RETURN_CODE as returnCode,
        a.START_TIME as startTime,
        a.END_TIME as endTime
        from CRE_RULE_LOG a
        left join CRE_RULE_DETAIL b on a.RULE_ID = b.RULE_ID
        left join CRE_PUB_MODEL_GROUP c on a.FOLDER_ID = c.MODEL_GROUP_ID
        left join CRE_PUB_MODEL_GROUP_CHANNEL d on c.MODEL_GROUP_ID = d.MODEL_GROUP_ID
        left join CRE_AUTH_CHANNEL e on e.CHANNEL_ID = d.CHANNEL_ID
        left join CRE_AUTH_DEPT f on e.DEPT_ID = f.DEPT_ID
        where 1=1
        <if test="productId != null">
            AND a.FOLDER_ID = #{productId,jdbcType=VARCHAR}
        </if>
        <if test="channelId != null">
            AND d.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
        </if>
        <if test="modelId != null">
            AND a.RULE_ID = #{modelId,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null and '' != startDate">
            and a.START_TIME &gt;= to_date(#{startDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and '' != endDate">
            and a.START_TIME &lt;= to_date(#{endDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        order by a.START_TIME desc

    </select>

    <select id="getRuleLogDesc" parameterType="java.lang.String" resultType="com.bonc.frame.entity.monitor.DescResult">
        select f.DEPT_ID as deptId,
        e.CHANNEL_ID as channelId,
        f.DEPT_NAME as deptName,
        e.CHANNEL_NAME as channelName,
        c.MODEL_GROUP_ID as groupId,
        b.RULE_ID as modelId,
        c.MODEL_GROUP_NAME as groupName,
        b.MODULE_NAME as modelName,
        a.METHOD_TYPE as methodType,
        a.CONSUMER_SEQ_NO as consumerSeqNo,
        a.RETURN_CODE as returnCode,
        a.START_TIME as startTime,
        a.END_TIME as endTime

        from CRE_RULE_LOG a
        left join CRE_RULE_DETAIL b on a.RULE_ID = b.RULE_ID
        left join CRE_PUB_MODEL_GROUP c on a.FOLDER_ID = c.MODEL_GROUP_ID
        left join CRE_PUB_MODEL_GROUP_CHANNEL d on c.MODEL_GROUP_ID = d.MODEL_GROUP_ID
        left join CRE_AUTH_CHANNEL e on e.CHANNEL_ID = d.CHANNEL_ID
        left join CRE_AUTH_DEPT f on e.DEPT_ID = f.DEPT_ID
        where a.LOG_ID = #{logId,jdbcType=VARCHAR}
    </select>
</mapper>