<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.frame.mapper.task.RuleTaskLogMapper">
    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.task.RuleTaskLog">
        <id column="FINAL_KEY" property="finalKey" jdbcType="VARCHAR"/>
        <result column="TASK_ID" property="taskId" jdbcType="VARCHAR"/>
        <result column="RULE_TASK_ID" property="ruleTaskId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="MESSAGE" property="message" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        FINAL_KEY, TASK_ID, RULE_TASK_ID, STATUS, MESSAGE, CREATE_DATE, UPDATE_DATE
    </sql>

    <select id="selectByFinalKey" parameterType="java.lang.String" resultType="com.bonc.frame.entity.task.RuleTaskLog">
        SELECT FINAL_KEY    AS "finalKey",
               TASK_ID      AS "taskId",
               RULE_TASK_ID AS "ruleTaskId",
               STATUS       AS "status",
               MESSAGE      AS "message",
               CREATE_DATE  AS "createDate",
               UPDATE_DATE  AS "updateDate"
        FROM CRE_RULE_TASK_LOG
        WHERE FINAL_KEY = #{finalKey,jdbcType=VARCHAR}
    </select>

    <insert id="insertSelective" parameterType="com.bonc.frame.entity.task.RuleTaskLog">
        insert into CRE_RULE_TASK_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="finalKey != null">
                FINAL_KEY,
            </if>
            <if test="taskId != null">
                TASK_ID,
            </if>
            <if test="ruleTaskId != null">
                RULE_TASK_ID,
            </if>
            <if test="status != null">
                STATUS,
            </if>

            <if test="message != null">
                MESSAGE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="finalKey != null">
                #{finalKey,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="ruleTaskId != null">
                #{ruleTaskId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="upsert" parameterType="com.bonc.frame.entity.task.RuleTaskLog">
        MERGE INTO CRE_RULE_TASK_LOG
        USING dual ON (FINAL_KEY = #{finalKey,jdbcType=VARCHAR})
        WHEN MATCHED THEN UPDATE
        <set>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                MESSAGE = #{message,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHEN NOT MATCHED THEN INSERT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="finalKey != null">
                FINAL_KEY,
            </if>
            <if test="taskId != null">
                TASK_ID,
            </if>
            <if test="ruleTaskId != null">
                RULE_TASK_ID,
            </if>
            <if test="status != null">
                STATUS,
            </if>

            <if test="message != null">
                MESSAGE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="finalKey != null">
                #{finalKey,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="ruleTaskId != null">
                #{ruleTaskId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bonc.frame.entity.task.RuleTaskLog">
        update CRE_RULE_TASK_LOG
        <set>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                MESSAGE = #{message,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where FINAL_KEY = #{finalKey,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByTaskId" parameterType="java.lang.String">
        delete
        from CRE_RULE_TASK_LOG
        where TASK_ID = #{taskId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByTaskIdListAndDay" parameterType="java.lang.String">
        delete from CRE_RULE_TASK_LOG
        where
        TASK_ID IN
        <foreach collection="taskIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="day != null">
            OPERATE_TIME &lt;= TRUNC(SYSDATE - #{day})
        </if>
    </delete>

</mapper>