<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.dao.variableentity.VariableEntityMapper">
  <resultMap id="BaseResultMap" type="com.bonc.frame.entity.variableentity.VariableEntity">
    <result column="ENTITY_ID" jdbcType="VARCHAR" property="entityId" />
    <result column="ENTITY_PID" jdbcType="VARCHAR" property="entityPid" />
    <result column="CREATE_PERSON" jdbcType="VARCHAR" property="createPerson" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_PERSON" jdbcType="VARCHAR" property="updatePerson" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bonc.frame.entity.variableentity.VariableEntity">
    <result column="ENTITY_RAWTYPE_DESC" jdbcType="LONGVARCHAR" property="entityRawtypeDesc" />
  </resultMap>
  <sql id="Blob_Column_List">
    ENTITY_RAWTYPE_DESC
  </sql>
  <insert id="insert" parameterType="com.bonc.frame.entity.variableentity.VariableEntity">
    insert into cre_variable_entity (ENTITY_ID, ENTITY_PID, CREATE_PERSON, 
      CREATE_DATE, UPDATE_PERSON, UPDATE_DATE, 
      ENTITY_RAWTYPE_DESC)
    values (#{entityId,jdbcType=VARCHAR}, #{entityPid,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{entityRawtypeDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bonc.frame.entity.variableentity.VariableEntity">
    insert into cre_variable_entity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="entityId != null">
        ENTITY_ID,
      </if>
      <if test="entityPid != null">
        ENTITY_PID,
      </if>
      <if test="createPerson != null">
        CREATE_PERSON,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updatePerson != null">
        UPDATE_PERSON,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="entityRawtypeDesc != null">
        ENTITY_RAWTYPE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="entityId != null">
        #{entityId,jdbcType=VARCHAR},
      </if>
      <if test="entityPid != null">
        #{entityPid,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entityRawtypeDesc != null">
        #{entityRawtypeDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 递归删除所有实体 -->
  <delete id="deleteByEntityId" parameterType="java.lang.String">
	delete from cre_variable_entity where ENTITY_ID in(
    	select ENTITY_ID from cre_variable_entity
	start with ENTITY_ID=#{entityId,jdbcType=VARCHAR}
	connect by prior ENTITY_ID = ENTITY_PID)
  </delete>
</mapper>