.apiType {
	height: 160px;
    background: #FFF;
    margin: 15px
}
.apiParam {
	min-height: 60px;
	background: #FFF;
    margin: 15px;
	padding-bottom: 20px;
}
.row-css {
	margin:10px 0;
}
.txt-right {
	text-align: right;
	font-weight:normal;
}
.apiparamdiv {
	display:none;
}
.setBut {
	height:28px;
	position:absolute;
	left:354px; 
	bottom:7px; 
}
.commonLine { position:relative; min-height:35px;}
.commonLine dt { line-height:35px;}
.commonLine dd { position:relative; margin: 4px 0 0 139px;}
.commonLine dd input { height:35px;}
.addLine { float:left; margin-right:10px; cursor: pointer;}
.removeLine { 
	display: inline-block;
	position: absolute; 
	cursor: pointer; 
}

#createApi_addReturnParam{
	cursor: pointer;
	display: inline-block;
	float: initial;
	height: 28px;
}
.savediv{
	margin-bottom: 20px;
}

