<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/ruleSet/ruleSetIndex.css" rel="stylesheet"/>
<div id="page">
    <div id="pageHeader">
        <p>当前位置：<span>规则库</span></p>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="ruleSetPageContent">
                <!-- 规则集 -->
                <div class="ruleSetContainer ruleSetWrapper">
                    <div class="tableIcon"><i class="icon icon-node"> 公共规则集</i></div>
                    <div class="selfAdaptionLeft">
                        <div>
                            <div class="input-group">
                                <input data-col="ruleSetGroupName" type="text" class="form-control"
                                       placeholder="规则集组（请选择）">
                                <label class="input-control-icon-right" data-toggle="dropdown">
                                    <i class="icon icon-caret-down "></i>
                                </label>
                                <ul class="dropdown-menu pull-right ruleSetGroupList"></ul>
                            </div>
                            <div class="input-group">
                                <input data-col="ruleSetName" type="text" class="form-control" placeholder="规则集名称">
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p"
                                 data-link-field="dtp_input1">
                                <input data-col="startDate" class="form-control" size="16" type="text" value=""
                                       placeholder="开始时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p"
                                 data-link-field="dtp_input2">
                                <input data-col="endDate" class="form-control" size="16" type="text" value=""
                                       placeholder="结束时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="selfAdaptionRight">
                        <button tableType="0" class="btn btn-primary ruleSetSearch" type="button">搜索</button>
                        <button id="addRuleSet" class="btn btn-primary" type="button">添加规则集</button>
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <table id="ruleSetTable"></table>
                    </div>
                </div>
                <hr/>

                <!-- 规则集组 -->
                <div class="ruleSetContainer ruleSetGroupWrapper">
                    <div class="tableIcon"><i class="icon icon-stack"> 规则集组</i></div>
                    <div class="selfAdaptionLeft">
                        <div>
                            <div class="input-group">
                                <input data-col="ruleSetGroupName" type="text" class="form-control"
                                       placeholder="规则集组（请选择）">
                                <label class="input-control-icon-right" data-toggle="dropdown">
                                    <i class="icon icon-caret-down "></i>
                                </label>
                                <ul class="dropdown-menu pull-right ruleSetGroupList"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="selfAdaptionRight">
                        <button tableType="1" class="btn btn-primary ruleSetSearch" type="button">搜索</button>
                        <button id="addRuleSetGroup" class="btn btn-primary" type="button">添加组</button>
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <table id="ruleSetTypeTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--添加/修改规则集基础信息 弹框-->
<div class="modal fade" id="ruleSetBaseAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header"><h4 class="modal-title"></h4></div>
            <!--字段-->
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>规则集组</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select col-name="ruleSetGroupId" class="form-control ruleSetGroupSelector"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>规则集名称</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="ruleSetName" col-name="ruleSetName" type="text" class="form-control"
                                   data-rule="规则集名称:required,length[1~64, true]">
                        </div>
                        <label class="cron_msg icon icon-exclamation-sign" data-toggle="tooltip"
                               data-placement="bottom" title="有启用中的版本，不能修改规则集名称！">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">规则集描述</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <textarea col-name="ruleSetHeaderDesc" type="text" class="form-control" data-rule="规则集描述:length[~255, true]"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveRuleSetBase" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewRuleSetBase" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--规则集各版本查看列表 弹框-->
<div class="modal fade" id="ruleSetVersionTableAlertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title"><span id="versionTable_title"></span>版本列表</h4>
            </div>
            <!--规则集版本列表-->
            <div class="modal-body">
                <div class="selfAdaptionLeft">
                    <div>
                        <div class="input-group">
                            <input id="enableInput" data-col="enable" type="text" class="form-control"
                                   placeholder="启用状态（请选择）">
                            <label class="input-control-icon-right" data-toggle="dropdown">
                                <i class="icon icon-caret-down "></i>
                            </label>
                            <ul class="dropdown-menu pull-right enableList">
                                <li enable-value="1"><a>已启用</a></li>
                                <li enable-value="0"><a>未启用</a></li>
                            </ul>
                        </div>
                        <div class="input-group date form-datetime" data-date=""
                             data-date-format="dd MM yyyy - HH:ii:ss p"
                             data-link-field="dtp_input1">
                            <input data-col="startDate" class="form-control" size="16" type="text" value=""
                                   placeholder="开始时间">
                            <span class="input-group-addon"><span class="icon-remove"></span></span>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                        <div class="input-group date form-datetime" data-date=""
                             data-date-format="dd MM yyyy - HH:ii:ss p"
                             data-link-field="dtp_input2">
                            <input data-col="endDate" class="form-control" size="16" type="text" value=""
                                   placeholder="结束时间">
                            <span class="input-group-addon"><span class="icon-remove"></span></span>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="selfAdaptionRight">
                    <button tableType="2" class="btn btn-primary ruleSetSearch" type="button">搜索</button>
                    <button id="addRuleSetVersion" type="button" class="btn btn-primary">添加新版本</button>
                </div>
                <div style="clear: both"></div>
                <div>
                    <table id="ruleSetVersionTable"></table>
                </div>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--添加/修改组 弹框-->
<div class="modal fade" id="ruleSetGroupAlert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加规则集组</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>规则集组名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input col-name="ruleSetGroupName" type="text" class="form-control"
                                   data-rule="规则集组名称:required,length[1~64, true]">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveRuleSetGroup" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewRuleSetGroup" type="button" class="btn btn-primary" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!--查看关联指标/关联模型 弹窗-->
<div class="modal fade" id="KpiRelevancyAlert">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="kpiContentWarp">
                    <!-- 1 指标通用基础信息 -->
                    <div class="RelevancyDefBase">
                        <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">规则集组：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select col-name="ruleSetGroupId" class="form-control ruleSetGroupSelector" disabled></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">规则集名称：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input id="kpiGroupNameInput" col-name="kpiName" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">规则集版本：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select col-name="relevancyNameVersion" class="form-control ruleSetVersionKpi"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">规则集描述：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="width:66.6666667%">
                                    <textarea id="kpiGroupDes" rows="3" style="width:100%" disabled></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <table id="RelevancyKpiTable"></table>
                        <table id="RelevancyModelTable"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeRelevancy" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<!--规则集版本 弹框-->
<#include "/pages/ruleSet/ruleSetVersion.html">
<#include "/pages/common/confirmAlert.html">
<#include "/commonFoot.html">

<script type="text/javascript">
    var inVariableTree = ${variableAndKpiTree!}; // 公共参数tree + 选择指标
    var outVariableTree = ${outVariableTree!}; // 公共参数tree
    var isPublicRuleSet = true; // 场景下false / 规则集true (expRuleConfig.js用)
    var kpiTypeList = ${kpiTypeList!};
    var token = null;
</script>

<script src="${ctx.contextPath}/static/js/ruleSet/ruleSetIndex.js"></script>
<script src="${ctx.contextPath}/static/js/ruleSet/ruleSetVersion.js"></script>
<script type="text/javascript" language="javascript"
        src="${ctx.contextPath}/static/plugin/DataTables/RowReorder-1.2.3/js/dataTables.rowReorder.min.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/static/plugin/z-tree/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/static/js/rule/expRuleConfig.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/static/js/kpi/importKpi.js"></script>
<script src="${ctx.contextPath}/static/js/common/confirmAlert.js"></script>

</body>
</html>