<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.frame.mapper.rulelog.ModelTestLogMapper">
    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.rulelog.ModelTestLog">
        <id column="LOG_ID" property="logId" jdbcType="VARCHAR"/>
        <result column="MODEL_ID" property="modelId" jdbcType="VARCHAR"/>
        <result column="EXECUTOR_RULE_LOG_ID" property="executorRuleLogId" jdbcType="VARCHAR"/>
        <result column="MODEL_NAME" property="modelName" jdbcType="VARCHAR"/>
        <result column="MODEL_VERSION" property="modelVersion" jdbcType="VARCHAR"/>
        <result column="OPERATE_TYPE" property="operateType" jdbcType="VARCHAR"/>
        <result column="OPERATE_CONTENT" property="operateContent" jdbcType="VARCHAR"/>
        <result column="OPERATE_IS_SUCCESS" property="operateIsSuccess" jdbcType="VARCHAR"/>
        <result column="OPERATE_RESULT" property="operateResult" jdbcType="VARCHAR"/>
        <result column="OPERATE_TIME" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="OPERATE_PERSON" property="operatePerson" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        LOG_ID,EXECUTOR_RULE_LOG_ID, MODEL_ID, MODEL_NAME, MODEL_VERSION, OPERATE_TYPE,
        OPERATE_CONTENT, OPERATE_IS_SUCCESS, OPERATE_RESULT,
        OPERATE_TIME, OPERATE_PERSON
    </sql>

    <!-- 分页查询列表 -->
    <select id="getModelTestLogList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from CRE_MODEL_TEST_LOG
        where 1=1
        <if test="modelName != null and '' != modelName">
            and MODEL_NAME = #{modelName,jdbcType=VARCHAR}
        </if>
        <if test="modelId != null and '' != modelId">
            AND MODEL_ID = #{modelId}
        </if>
        <if test="operateType != null and '' != operateType">
            and OPERATE_TYPE = #{operateType}
        </if>
        <if test="modelVersion != null and '' != modelVersion">
            and MODEL_VERSION = #{modelVersion,jdbcType=VARCHAR}
        </if>
        <if test="operateIsSuccess != null and '' != operateIsSuccess">
            <if test="operateIsSuccess ==  '0'.toString() or operateIsSuccess == '-1'.toString()">
                and (OPERATE_IS_SUCCESS = '0' OR  OPERATE_IS_SUCCESS = '-1')
            </if>
            <if test="operateIsSuccess ==  '1'.toString()">
                and OPERATE_IS_SUCCESS = '1'
            </if>
        </if>
        <if test="startDate != null and '' != startDate">
            and OPERATE_TIME &gt;= to_date(#{startDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and '' != endDate">
            and OPERATE_TIME &lt;= to_date(#{endDate,jdbcType=TIMESTAMP} ,'yyyy-mm-dd hh24:mi:ss')
        </if>
        order by
        <choose>
            <when test="sort != null and '' != sort">
               #{sort}
                <if test="order != null and '' != order">
                    #{order}
                </if>
            </when>
            <otherwise>
                OPERATE_TIME desc
            </otherwise>
        </choose>
    </select>

    <insert id="insertSelective" parameterType="com.bonc.frame.entity.rulelog.ModelTestLog">
        insert into CRE_MODEL_TEST_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                LOG_ID,
            </if>
            <if test="executorRuleLogId != null">
                EXECUTOR_RULE_LOG_ID,
            </if>
            <if test="modelId != null">
                MODEL_ID,
            </if>
            <if test="modelName != null">
                MODEL_NAME,
            </if>
            <if test="modelVersion != null">
                MODEL_VERSION,
            </if>
            <if test="operateType != null">
                OPERATE_TYPE,
            </if>
            <if test="operateContent != null">
                OPERATE_CONTENT,
            </if>
            <if test="operateIsSuccess != null">
                OPERATE_IS_SUCCESS,
            </if>
            <if test="operateResult != null">
                OPERATE_RESULT,
            </if>

            <if test="operateTime != null">
                OPERATE_TIME,
            </if>
            <if test="operatePerson != null">
                OPERATE_PERSON,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=VARCHAR},
            </if>
            <if test="executorRuleLogId != null">
                #{executorRuleLogId,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null">
                #{modelId,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="modelVersion != null">
                #{modelVersion,jdbcType=VARCHAR},
            </if>
            <if test="operateType != null">
                #{operateType,jdbcType=VARCHAR},
            </if>
            <if test="operateContent != null">
                #{operateContent,jdbcType=VARCHAR},
            </if>
            <if test="operateIsSuccess != null">
                #{operateIsSuccess,jdbcType=VARCHAR},
            </if>
            <if test="operateResult != null">
                #{operateResult,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operatePerson != null">
                #{operatePerson,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateStatusByPrimaryKey" parameterType="com.bonc.frame.entity.rulelog.ModelTestLog">
        update CRE_MODEL_TEST_LOG
        <set>
            <if test="operateIsSuccess != null">
                OPERATE_IS_SUCCESS = #{operateIsSuccess,jdbcType=VARCHAR},
            </if>
        </set>
        where LOG_ID = #{logId,jdbcType=VARCHAR}
    </update>

    <!-- 参数day为保留多少天的日志 -->
    <delete id="deleteRuleTrialLogByDay" parameterType="map">
        delete from CRE_MODEL_TEST_LOG where OPERATE_TIME &lt;= TRUNC(SYSDATE - #{day})
    </delete>

</mapper>