<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.frame.mapper.rulelog.RuleLogDetailMapper">
    <resultMap id="BaseResultMap" type="com.bonc.frame.entity.rulelog.RuleLogDetail">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="LOG_ID" property="logId" jdbcType="VARCHAR"/>
        <result column="NODE_ID" property="nodeId" jdbcType="VARCHAR"/>
        <result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR"/>
        <result column="NODE_TYPE" property="nodeType" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="INPUT_DATA" property="inputData" jdbcType="VARCHAR"/>
        <result column="OUTPUT_DATA" property="outputData" jdbcType="VARCHAR"/>

        <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.bonc.frame.entity.rulelog.RuleLogDetail" extends="BaseResultMap">
        <result column="RESULT" property="result" jdbcType="CLOB"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, LOG_ID, NODE_ID, NODE_NAME, NODE_TYPE, STATE, START_TIME, END_TIME
  </sql>
    <sql id="Blob_Column_List">
    RESULT
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from CRE_RULE_LOG_DETAIL
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <!-- TODO: sql需要优化, 先查出来数据,再连表 -->
    <select id="selectByLogId" resultMap="ResultMapWithBLOBs" parameterType="map">
    select 
    a.ID, a.LOG_ID, a.NODE_ID, a.NODE_NAME, a.NODE_TYPE, a.STATE, a.START_TIME, a.END_TIME,
    a.RESULT,b.INPUT_DATA,b.OUTPUT_DATA
    from CRE_RULE_LOG_DETAIL a,CRE_RULE_LOG b
    where a.LOG_ID=b.LOG_ID AND a.LOG_ID = #{logId,jdbcType=VARCHAR} ORDER BY START_TIME ASC
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRE_RULE_LOG_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.bonc.frame.entity.rulelog.RuleLogDetail">
    insert into CRE_RULE_LOG_DETAIL (ID, LOG_ID, NODE_ID, 
      NODE_NAME, NODE_TYPE, STATE, 
      START_TIME, END_TIME, RESULT
      )
    values (#{id,jdbcType=VARCHAR}, #{logId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, 
      #{nodeName,jdbcType=VARCHAR}, #{nodeType,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{result,jdbcType=CLOB}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.bonc.frame.entity.rulelog.RuleLogDetail">
        insert into CRE_RULE_LOG_DETAIL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="logId != null">
                LOG_ID,
            </if>
            <if test="nodeId != null">
                NODE_ID,
            </if>
            <if test="nodeName != null">
                NODE_NAME,
            </if>
            <if test="nodeType != null">
                NODE_TYPE,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="result != null">
                RESULT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="logId != null">
                #{logId,jdbcType=VARCHAR},
            </if>
            <if test="nodeId != null">
                #{nodeId,jdbcType=VARCHAR},
            </if>
            <if test="nodeName != null">
                #{nodeName,jdbcType=VARCHAR},
            </if>
            <if test="nodeType != null">
                #{nodeType,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="result != null">
                #{result,jdbcType=CLOB},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bonc.frame.entity.rulelog.RuleLogDetail">
        update CRE_RULE_LOG_DETAIL
        <set>
            <if test="logId != null">
                LOG_ID = #{logId,jdbcType=VARCHAR},
            </if>
            <if test="nodeId != null">
                NODE_ID = #{nodeId,jdbcType=VARCHAR},
            </if>
            <if test="nodeName != null">
                NODE_NAME = #{nodeName,jdbcType=VARCHAR},
            </if>
            <if test="nodeType != null">
                NODE_TYPE = #{nodeType,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="result != null">
                RESULT = #{result,jdbcType=CLOB},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bonc.frame.entity.rulelog.RuleLogDetail">
    update CRE_RULE_LOG_DETAIL
    set LOG_ID = #{logId,jdbcType=VARCHAR},
      NODE_ID = #{nodeId,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      NODE_TYPE = #{nodeType,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      RESULT = #{result,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.bonc.frame.entity.rulelog.RuleLogDetail">
    update CRE_RULE_LOG_DETAIL
    set LOG_ID = #{logId,jdbcType=VARCHAR},
      NODE_ID = #{nodeId,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      NODE_TYPE = #{nodeType,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

    <!-- 参数day为保留多少天的日志 -->
    <delete id="deleteRuleLogDetailByDay" parameterType="map">
        delete from CRE_RULE_LOG_DETAIL where START_TIME &lt;= TRUNC(SYSDATE - #{day})
    </delete>
</mapper>