<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/modelBase/modelBaseIndex.css" rel="stylesheet"/>
<div id="page">
    <div id="pageHeader">
        <p>当前位置：<span>产品管理</span></p>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="modelBasePageContent">

                <!-- 模型组 -->
                <div class="modelBaseContainer modelBaseGroupWrapper">
                    <div class="tableIcon"><i class="icon icon-cubes"> 产品管理</i></div>
                    <div class="selfAdaptionLeft">
                        <div>
                            <div class="input-group">
                                <input data-col="modelGroupName" type="text" class="form-control"
                                       placeholder="产品名称">
                                <label class="input-control-icon-right" data-toggle="dropdown">
                                    <i class="icon icon-caret-down "></i>
                                </label>
                                <ul class="dropdown-menu pull-right c"></ul>
                            </div>
                            <div class="input-group">
                                <!--只有样式，内部未调，需要改相关接口-->
                                <input data-col="channelName" type="text" class="form-control" placeholder="调用渠道">
                                <label class="input-control-icon-right" data-toggle="dropdown">
                                    <i class="icon icon-caret-down "></i>
                                </label>
                                <ul class="dropdown-menu pull-right channelNameList"></ul>
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p" data-link-field="dtp_input1">
                                <input data-col="startDate" class="form-control" size="16" type="text" value=""
                                       placeholder="开始时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p"
                                 data-link-field="dtp_input2">
                                <input data-col="endDate" class="form-control" size="16" type="text" value=""
                                       placeholder="结束时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="selfAdaptionRight">
                        <button tableType="1" class="btn btn-primary modelBaseSearch" type="button">搜索</button>
                        <button id="addModelBaseGroup" class="btn btn-primary" type="button">添加产品</button>
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <table id="modelBaseGroupTable"></table>
                    </div>
                </div>

                <!-- 模型库 -->
                <!--<div class="modelBaseContainer modelBaseWrapper">
                    <div class="tableIcon"><i class="icon icon-cube-alt"> 公共模型</i></div>
                    <div class="selfAdaptionLeft">
                        <div>
                            <div class="input-group">
                                <input data-col="modelGroupName" type="text" class="form-control"
                                       placeholder="产品名称（请选择）">
                                <label class="input-control-icon-right" data-toggle="dropdown">
                                    <i class="icon icon-caret-down "></i>
                                </label>
                                <ul class="dropdown-menu pull-right modelBaseGroupList"></ul>
                            </div>
                            <div class="input-group">
                                <input data-col="moduleName" type="text" class="form-control" placeholder="模型名称">
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p" data-link-field="dtp_input1">
                                <input data-col="startDate" class="form-control" size="16" type="text" value=""
                                       placeholder="开始时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p"
                                 data-link-field="dtp_input2">
                                <input data-col="endDate" class="form-control" size="16" type="text" value=""
                                       placeholder="结束时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="selfAdaptionRight">
                        <button tableType="0" class="btn btn-primary modelBaseSearch" type="button">搜索</button>
                        <button id="addModelBase" class="btn btn-primary" type="button">添加模型</button>
                        <button id="importBtn" class="btn btn-primary" type="button">导入</button>
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <table id="modelBaseTable"></table>
                    </div>
                </div>-->
                <hr/>


            </div>
        </div>
    </div>
</div>

<!--添加/修改模型 基础信息 弹框-->
<!--<div class="modal fade" id="modelBaseAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            &lt;!&ndash;弹框标题&ndash;&gt;
            <div class="modal-header"><h4 class="modal-title"></h4></div>
            &lt;!&ndash;字段&ndash;&gt;
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>模型组</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select col-name="modelGroupId" class="form-control modelBaseGroupSelector"></select>
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>模型名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="ruleName" col-name="moduleName" type="text" class="form-control"
                                   data-rule="模型名称:required,length[1~64, true]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>模型类型</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select id="ruleTypeSelector" col-name="ruleType" class="form-control">
                                <option ruleType="1" selected>规则模型</option>
                                <option ruleType="0">评分模型</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">模型描述</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <textarea id="modelBase_ruleDesc" col-name="ruleDesc" type="text" class="form-control" data-rule="模型描述:length[~255, true]"></textarea>
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">机构编码</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="deptIdInput" col-name="deptId" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">机构名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="deptNameInput" col-name="deptName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">合作方编码</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="partnerCodeInput" col-name="partnerCode" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">合作方名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="partnerNameInput" col-name="partnerName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">产品编码</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="productCodeInput" col-name="productCode" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">产品名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="productNameInput" col-name="productName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">系统编号</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="systemCodeInput" col-name="systemCode" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group notFirst">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">系统名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="systemNameInput" col-name="systemName" type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            &lt;!&ndash;操作按钮&ndash;&gt;
            <div class="modal-footer">
                <div class="notView">
                    <button id="firstVersion" type="button" class="btn btn-primary">下一步</button>
                    <button id="saveModelBase" type="button" class="btn btn-primary">保存</button>
                    <button id="cancelModelBase" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewModalBase" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>-->

<!--模型各版本查看列表 弹框-->
<!--<div class="modal fade" id="modelVersionTableAlertModal">
    <div class="modal-dialog">
        <div class="modal-content">
            &lt;!&ndash;弹框标题&ndash;&gt;
            <div class="modal-header">
                <h4 class="modal-title"><span id="versionTable_title"></span>版本列表</h4>
            </div>
            &lt;!&ndash;模型版本列表&ndash;&gt;
            <div class="modal-body">
                <div class="selfAdaptionLeft">
                    <div>
                        <div class="input-group">
                            <input id="enableInput" data-col="ruleStatus" type="text" class="form-control"
                                   placeholder="启用状态（请选择）">
                            <label class="input-control-icon-right" data-toggle="dropdown">
                                <i class="icon icon-caret-down "></i>
                            </label>
                            <ul class="dropdown-menu pull-right enableList">
                                <li isEnable="1"><a>已启用</a></li>
                                <li isEnable="0"><a>未启用</a></li>
                            </ul>
                        </div>
                        <div class="input-group date form-datetime" data-date=""
                             data-date-format="dd MM yyyy - HH:ii:ss p"
                             data-link-field="dtp_input1">
                            <input data-col="startDate" class="form-control" size="16" type="text" value=""
                                   placeholder="开始时间">
                            <span class="input-group-addon"><span class="icon-remove"></span></span>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                        <div class="input-group date form-datetime" data-date=""
                             data-date-format="dd MM yyyy - HH:ii:ss p"
                             data-link-field="dtp_input2">
                            <input data-col="endDate" class="form-control" size="16" type="text" value=""
                                   placeholder="结束时间">
                            <span class="input-group-addon"><span class="icon-remove"></span></span>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="selfAdaptionRight">
                    <button tableType="2" class="btn btn-primary modelBaseSearch" type="button">搜索</button>
                    &lt;!&ndash;                    <button id="addModelVersion" type="button" class="btn btn-primary">添加新版本</button>&ndash;&gt;
                </div>
                <div style="clear: both"></div>
                <div>
                    <table id="modelVersionTable"></table>
                </div>
            </div>
            &lt;!&ndash;操作按钮&ndash;&gt;
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>-->

<!--添加/修改组 弹框-->
<div class="modal fade" id="modelBaseGroupAlert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加产品</h4>
            </div>
            <div class="modal-body">
                <form id="addModelGroupForm" class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="mustIcon">*</i>产品名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input col-name="modelGroupName" type="text" class="form-control"
                                   data-rule="产品名称:required,length[1~64, true]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="mustIcon">*</i>产品编码</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input col-name="modelGroupCode" type="text" class="form-control"
                                   data-rule="产品编码:required,length[1~64, true]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">产品描述</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input col-name="modelGroupDesc" type="text" class="form-control">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">创建人</label>-->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
                            <!--<input col-name="modelGroupDesc" type="text" class="form-control">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">创建时间</label>-->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
                            <!--<input col-name="modelGroupDesc" type="text" class="form-control">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4">选择调用渠道</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select type="checkbox" id="channelSelector" col-name="channelId" class="form-control channelSelector" multiple="multiple"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveModelBaseGroup" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeModelBaseGroup" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<#include "ruleClone.html">
<#include "/pages/migration/export.html">
<#include "/pages/migration/import.html">
<#include "/pages/common/confirmAlert.html">
<#include "/pages/modelBase/serviceAPI.html">
<#include "/commonFoot.html">
<script>
    var folderId = '${folderId!}';
    var jumpRuleName = '${jumpRuleName!}';
    creCommon.setCookie('folderName', '模型库', 1); // 设置cookie
</script>
<script src="${ctx.contextPath}/static/js/modelBase/modelBaseIndex.js"></script>
<script src="${ctx.contextPath}/static/js/migration/export.js"></script>
<script src="${ctx.contextPath}/static/js/migration/import.js"></script>
<script src="${ctx.contextPath}/static/js/common/confirmAlert.js"></script>
<script src="${ctx.contextPath}/static/js/modelBase/serviceAPI.js"></script>

</body>
</html>