<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/createRule.css" rel="stylesheet" />
<link href="${ctx.contextPath}/static/css/createRuleNew.css" rel="stylesheet" />
<div id="page">
	<div id="pageHeader">
		<p>当前位置：<span>创建向导</span></p>
	</div>
	<input type="hidden" id="folderId" value="${ruleFolder!}">
	<div id="pageBody">
		<div id="pageContent">

<!--			<div class="topStepWrap">-->
<!--				<label class="active"><span class="stepIcon">1</span><span class="stepTxt">参数配置</span><i class="arrowIcon"></i></label>-->
<!--				<label><span class="stepIcon">2</span><span class="stepTxt">模型配置</span></label>-->
<!--			</div>-->
<!--			<div class="condition">-->
<!--				<div class="p1">-->
<!--					<div class="p11">-->
<!--						<span>模型类型：</span>-->
<!--						<div id="ruleType" class="cm-select cm-mdSel cm-sel2"></div>-->
<!--					</div>-->
<!--					<div class="p12">-->
<!--						<span>场景名称：</span>-->
<!--						<div id="ruleFolder" class="cm-select cm-mdSel cm-sel2"></div>-->
<!--					</div>-->
<!--					<div class="p13" onclick="ruleFolder.show();">-->
<!--						<a><span>新建场景</span></a>-->
<!--						<i class="arrowIcon"></i>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="contentWrap">-->
<!--				<div class="p1">-->
<!--					<div class="p11">-->
<!--						<span>变量种类：</span>-->
<!--						<div id="valKind" class="cm-select cm-mdSel cm-sel2"></div>-->
<!--					</div>-->
<!--					<button class="btn btn-primary newValBtn" onclick="newValModal.show();">新建变量</button>-->
<!--					<div class="cm-searchGroup">-->
<!--					  	<input id="searchVal" type="text" class="cm-selGrpIpt" placeholder="请输入变量别名" />-->
<!--					  	<input id="searchBtn" type="button" class="cm-searchBtn" />-->
<!--					</div>-->
<!--				</div>-->
<!--				<table id="table1">-->
<!--				</table>-->
<!--				<div class="fr nextbut">-->
<!--				    <button class="btn cm-Pbtn" type="button" onclick="nextSetp();">下一步</button>-->
<!--				</div>-->
<!--			</div>-->

            <div class="indexBox">
                <h1 class="indexTitle">快捷入口</h1>
                <p class="indexDescribeTxt">快捷入口</p>
                <div class="indexChildBoxWrapper">
                    <div class="indexChildBox">
                        <img src="${ctx.contextPath}/static/imgs/index/chuangjian.png">
                        <button type="button" class="btn btn-minor indexBoxBtn" onclick="ruleFolder.show();">创建产品</button>
                        <span>点击创建产品</span>
                    </div>
                    <div class="indexChildBox">
                        <img src="${ctx.contextPath}/static/imgs/index/icon_ggc.png">
                        <button type="button" class="btn btn-minor indexBoxBtn" onclick="quickEnter.intoCommonResource();">公共池</button>
                        <span>点击进入公共池</span>
                    </div>
                    <div class="indexChildBox">
                        <img src="${ctx.contextPath}/static/imgs/index/icon_tjzb.png">
                        <button type="button" class="btn btn-minor indexBoxBtn" onclick="quickEnter.intoKpi()">指标管理</button>
                        <span>点击进入指标管理</span>
                    </div>
                    <div class="indexChildBox">
                        <img src="${ctx.contextPath}/static/imgs/index/icon_cjgz.png">
                        <button type="button" class="btn btn-minor indexBoxBtn" onclick="quickEnter.intoRuleSet();">规则管理</button>
                        <span>点击进入规则管理</span>
                    </div>
                    <div class="indexChildBox">
                        <img src="${ctx.contextPath}/static/imgs/index/icon_cjmx.png">
                        <button type="button" class="btn btn-minor" onclick="quickEnter.intoModel();">模型管理</button>
                        <span>点击进入模型管理</span>
                    </div>
                </div>
            </div>

            <div class="indexPicBoxWarp">
                <div class="indexBox">
                    <h1 class="indexTitle">模型创建</h1>
                    <p class="indexDescribeTxt">模型创建</p>
                    <img src="${ctx.contextPath}/static/imgs/index/pic_mxcj.png">
                </div>
                <div class="indexBox">
                    <h1 class="indexTitle">离线任务</h1>
                    <p class="indexDescribeTxt">离线任务</p>
                    <img src="${ctx.contextPath}/static/imgs/index/pic_lxrw.png">
                </div>
            </div>

		</div>
	</div>
</div>
<!-- 对话框HTML -->
<div class="modal fade" id="newFolder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">新建场景</h4>
      </div>
      <form id="newFolderForm" class="form" data-validator-option="{theme:'yellow_right_effect',stopOnError:true}">
      <div class="modal-body row-css">
        <div><span class="modalTxt">场景名称：</span><input type="text" id="folderName" class="cm-underlineIpt" data-rule="场景名称:required;length[1~64, true];"/></div>
        <div><span class="modalTxt">场景描述：</span><input type="text" id="floderDesc" class="cm-underlineIpt"/></div>
      </div>
      </form>
      <div class="modal-footer">
<!--      	<button type="button" class="btn cm-btnSec" data-dismiss="modal" onclick="ruleFolder.clear();">取消</button>-->
      	<button type="button" class="btn btn-minor" data-dismiss="modal" onclick="ruleFolder.clear();">取消</button>
        <button type="button" class="btn btn-primary" onclick="ruleFolder.submit();">确定</button>
      </div>
    </div>
  </div>
</div>

<!-- 创建向导新建变量 -->
<div class="modal fade" id="newVal">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">新建变量</h4>
      </div>
      <form id="newValForm" class="form">
      <div class="modal-body row-css">
        <div><span class="modalTxt">变量别名：</span><input type="text" id="variableAlias" class="cm-underlineIpt" data-rule="变量别名:required;length[1~127, true];"/></div>
        <div><span class="modalTxt">变量编码：</span><input type="text" id="variableCode" class="cm-underlineIpt" data-rule="变量编码:required;length[1~30];code;"/></div>
        <div><span class="modalTxt">变量类型：</span><div id="valType" class="cm-select cm-mdSel"></div></div>
        <div><span class="modalTxt">变量描述：</span><input type="text" id="variableRemarks" class="cm-underlineIpt"/></div>
        <div><span class="modalTxt">默认值：</span><input type="text" id="variableDefaultValue" class="cm-underlineIpt"/></div>
      </div>
      </form>
      <div class="modal-footer row-css">
<!--      	<button type="button" class="btn cm-btnSec" data-dismiss="modal" onclick="newValModal.clear();">取消</button>-->
      	<button type="button" class="btn btn-minor" data-dismiss="modal" onclick="newValModal.clear();">取消</button>
        <button type="button" class="btn btn-primary" onclick="newValModal.submit();">确定</button>
      </div>
    </div>
  </div>
</div>

<!-- 修改变量 -->
<div class="modal fade" id="modifyVariable">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">修改变量</h4>
      </div>
      <form id="modifyForm">
      <div class="modal-body row-css">
      	<input type="hidden" id="variableIdSec">
      	<input type="hidden" id="entityIdSec">
        <div><span class="modalTxt">变量别名：</span>
            <input type="text" id="variableAliasSec" class="cm-underlineIpt" data-rule="变量别名:required;length[1~127];"/>
            <label class="modifyVariable_cronMsg icon icon-exclamation-sign" data-toggle="tooltip" data-placement="bottom" title="参数引用状态下不能修改别名！"></label>
        </div>
        <div><span class="modalTxt">变量编码：</span>
            <input type="text" id="variableCodeSec" class="cm-underlineIpt" data-rule="变量编码:required;length[1~30];code;"/>
            <label class="modifyVariable_cronMsg icon icon-exclamation-sign" data-toggle="tooltip" data-placement="bottom" title="参数引用状态下不能修改变量编码！"></label>
        </div>
        <div><span class="modalTxt">变量类型：</span><div id="valTypeSec" class="cm-select cm-mdSel"></div></div>
        <div><span class="modalTxt">变量描述：</span><input type="text" id="variableRemarksSec" class="cm-underlineIpt"/></div>
        <div><span class="modalTxt">默认值：</span><input type="text" id="variableDefaultValueSec" class="cm-underlineIpt"/></div>
      </div>
      </form>
      <div class="modal-footer">
<!--      	<button type="button" class="btn cm-btnSec" data-dismiss="modal">取消</button>-->
          <div class="notViewBtns">
            <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="modifyModal.submit();">确定</button>
          </div>
          <button id="closeParamView" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 删除接口确认对话框 -->
<div class="modal fade" id="delVariableDiv">
  <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body exit tAlign">是否确认删除?</div>
        </div>
        <div class="modal-footer">
        <!--        <button type="button" class="btn cm-btnSec" data-dismiss="modal">取消</button>-->
            <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            <button id="delVariableBtn" type="button" class="btn btn-primary" onclick="deleteModal.submit();">确认</button>
        </div>
    </div>
  </div>

<!--设为公有参数-->
<div class="modal fade" id="setCommonParamAlert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择参数组</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">参数组</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="setCommon_paramGroupSelector" class="form-control"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="setCommonSubmit" type="button" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<#include "/pages/variable/entityProp.html">
<#include "/pages/common/confirmAlert.html">
<#include "/commonFoot.html">
<script>
var ruleTypeList = JSON.parse('${ruleTypeList!}');
var ruleFolderList = JSON.parse('${ruleFolderList!}');
var variableTypeList = JSON.parse('${variableTypeList!}');
var variableKindList = JSON.parse('${variableKindList!}');
var ruleType = '${ruleType!}';
var myFolderId = '${ruleFolder!}';
</script>
<script src="${ctx.contextPath}/static/js/variable/entityProp.js"></script>
<script src="${ctx.contextPath}/static/js/variable/createRule.js"></script>
<script src="${ctx.contextPath}/static/js/variable/keywordCheck.js"></script>
<script src="${ctx.contextPath}/static/js/common/confirmAlert.js"></script>
</body>
</html>
