#paramAddAlertModal .modal-body{
    max-height: 480px;
    overflow: auto;
}
#paramAddAlertModal .resourceTableIcon{
    /*color: #3280FC;*/
    color: var(--colorNormal);
    margin: 0 0 10px 10px;
}
#paramAddAlertModal .selfAdaptionLeft{
    float: left;
    width: 100%;
}
#paramAddAlertModal .input-group{
    width: 200px;
    float: left;
    margin: 0 0 10px 10px;
}
#paramAddAlertModal .icon-caret-down{
    cursor: pointer;
}
#paramAddAlertModal .selfAdaptionLeft>div{
    margin-right: 165px;
}
#paramAddAlertModal .selfAdaptionRight{
    position: relative;
    float: right;
    width: 60px;
    margin-left: -60px;
}
#paramAddAlertModal .selfAdaptionRight button{
    height: 30px;
}
.paramAddTableContainer{
    margin-top: 8px;
}
/*表格样式修改*/
.paramAddTableContainer table.dataTable tbody th,
.paramAddTableContainer table.dataTable tbody td,
.paramAddTableContainer table.dataTable thead th,
.paramAddTableContainer table.dataTable thead td{
    padding:0 8px;
    line-height: 10px;
}
.paramAddTableContainer .checkbox label{
    vertical-align: middle;
}
.paramAddTableContainer .checkbox input{
    margin: 0;
    cursor: pointer;
}
#paramAddAlertModal .dropdown-menu {
    width: 100%;
    overflow: auto;
    max-height: 280px;
}
