<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/css/metadata/metadataMgr.css" rel="stylesheet"/>
<div id="page">
    <div>
        <input id="folderId" value="${folderId!}" type="hidden"/>
    </div>
    <div id="pageHeader">
        <p>当前位置：<span id="title"></span></p>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <!--规则包下输入/输出/关联关系-->
            <div id="dsMgrContainer">
                <!--输入表-->
                <div id="inputContainer" class="panel">
                    <div class="panel-heading">
                        <span>输入表</span>
                        <button class="btn btn-warning scanButton" type="button" tableKind="1">扫描</button>
                    </div>
                    <div class="panel-body"></div>
                </div>
                <!--输出表-->
                <div id="outputContainer" class="panel">
                    <div class="panel-heading">
                        <span>输出表</span>
                        <button class="btn btn-warning scanButton" type="button" tableKind="2">扫描</button>
                    </div>
                    <div class="panel-body"></div>
                </div>
                <!--关联关系-->
                <div id="relationContainer" class="panel">
                    <div class="panel-heading">
                        <span>关联关系</span>
                        <button class="btn btn-success addRelationButton" type="button">添加</button>
                    </div>
                    <div id="relation" class="panel-body">

                        <div class="panelEle panelElement_relation">
                            <i class=" icon icon-link"> </i>
                            <span>relName</span>
                        </div>

                    </div>
                </div>
            </div>
            <!--返回规则包页面-->
            <div id="returnButton">
                <button class="btn  btn-primary" type="button" onclick="returnPage('${folderId!}');">返回</button>
            </div>
        </div>
    </div>
</div>
</div>

<!--添加输出表弹框-->
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title" id="addModalTitle">添加输出表</h4>
            </div>
            <!--添加字段-->
            <div class="modal-body">
                <form id="addTableModalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="tableName" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>表别名
                        </label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="tableName" type="text" class="form-control" placeholder="必填"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tableCode" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <i class="mustIcon">*</i>表编码
                        </label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <input id="tableCode" type="text" class="form-control" placeholder="必填"/>
                        </div>
                    </div>
                    <!--                    <div id="isTempGroup" class="form-group">-->
                    <!--                        <label for="isTemp" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">是否删除已存在的表</label>-->
                    <!--                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
                    <!--                            <select id="isTemp" class="form-control">-->
                    <!--                                <option isTemp="1">是</option>-->
                    <!--                                <option isTemp="0">否</option>-->
                    <!--                            </select>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div id="isPublicGroup" class="form-group">-->
                    <!--                        <label for="isPublic" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">是否通用</label>-->
                    <!--                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
                    <!--                            <select id="isPublic" class="form-control">-->
                    <!--                                <option isPublic="1">是</option>-->
                    <!--                                <option isPublic="0">否</option>-->
                    <!--                            </select>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div id="tableTypeGroup" class="form-group">-->
                    <!--                        <label for="tableType" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">表类型</label>-->
                    <!--                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
                    <!--                            <select id="tableType" class="form-control">-->
                    <!--                                <option tableType="TABLE">表</option>-->
                    <!--                                <option tableType="VIEW">视图</option>-->
                    <!--                            </select>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div id="addDataSourceGroup" class="form-group">
                        <label for="addDataSourceGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">数据源</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="addDatasourceList" class="form-control datasourceList"></select>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="addModalInsertButton" type="button" class="btn btn-primary">保存</button>
                <button type="button" class="btn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--扫描元数据弹框-->
<div class="modal fade" id="scanModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">扫描元数据</h4>
            </div>
            <!--弹框内容-->
            <div class="modal-body">
                <form id="dsModalForm" class="form-horizontal">
                    <div id="scanDatasourceGroup" class="form-group">
                        <label for="scanDatasourceGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">数据源</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="scanDatasourceList" class="form-control datasourceList"></select>
                        </div>
                    </div>
                    <div id="datasourceTablesGroup" class="form-group">
                        <label for="datasourceTablesGroup" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">适配表</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <select id="scanTables" class="form-control"></select>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="scanConfirm" type="button" class="btn btn-primary">扫描</button>
                <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--(扫描成功后->选择列) 弹框-->
<div class="modal fade" id="scanColsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">选择列</h4>
            </div>
            <!--弹框内容-->
            <div class="modal-body">
                <div class="panel">
                    <!--列检索操作-->
                    <div class="panel-heading" id="colsSearchPanel">
                        <div id="colsSearchButtons">
                            <button id="allCancelButton" class="btn btn-danger" type="button">全不选</button>
                            <button id="allSelectButton" class="btn btn-success" type="button">全选</button>
                        </div>

                        <div id="colsSearchInputGroup" class="input-group">
                            <div class="input-control search-box has-icon-left has-icon-right">
                                <input id="colsSearchInput" type="search" class="form-control search-input"
                                       placeholder="请输入列名">
                                <label class="input-control-icon-left search-icon"><i
                                        class="icon icon-search"></i></label>
                            </div>
                            <span class="input-group-btn">
                                <button id="colsSearchBtn" class="btn btn-primary" type="button">搜索</button>
                            </span>
                        </div>
                    </div>
                    <!--列展示-->
                    <div class="panel-body">
                        <div id="colsListContainer" class="container-fluid"></div>
                    </div>
                </div>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="scanSaveToTableButton" type="button" class="btn btn-primary">保存</button>
                <button id="scanCancelButton" type="button" class="btn btn-minor">取消</button>
            </div>
        </div>
    </div>
</div>

<!--添加关联表弹框-->
<div class="modal fade" id="addRelationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">添加关联表</h4>
            </div>
            <!--弹框内容-->
            <div class="modal-body">
                <form id="addRelFormGroup" class="form-horizontal">
                    <div class="form-group">
                        <label for="tableName" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <i class="mustIcon">*</i>关联关系名:
                        </label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <input id="relModal_tableName" data-id="tableName" class="form-control" type="text"
                                   placeholder="必填">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tableCode" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <i class="mustIcon">*</i>关系编码:
                        </label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <input id="relModal_tableCode" data-id="tableCode" class="form-control" type="text"
                                   placeholder="必填">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="three" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">选择关联表: </label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="three">
                            <div id="relationPanel" class="panel">
                                <div class="panel-body">
                                    <!--输入表-->
                                    <div>
                                        <span><i class="icon icon-database"> </i>输入表</span>
                                        <div id="relationInputs" class="relationPanelContent"></div>
                                    </div>
                                    <!--输出表-->
                                    <!--                                    <div>-->
                                    <!--                                        <span><i class="icon icon-table"> </i>输出表</span>-->
                                    <!--                                        <div id="relationOutputs" class="relationPanelContent"></div>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--操作按钮-->
            <div class="modal-footer">
                <button id="saveRel" type="button" class="btn btn-primary">新建</button>
                <button id="addRelNextStep" type="button" class="btn btn-primary disabled">下一步</button>
                <button id="cancelSaveRel" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--绑定关系弹框-->
<div class="modal fade" id="bindRelationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">绑定关系</h4>
            </div>
            <!--弹框内容-->
            <div id="bindRelModalBody" class="modal-body">
                <!--绑定关系模版 START-->
                <div id="template" class="bindPanelElement">
                    <div class="panel bindRelPanel">
                        <!--面板head-->
                        <div class="panel-heading bindPanelElement_heading">
                            <p class="bindRelTableName">
                                <i class="icon icon-table"> </i>
                                <span class="tableNameTitle"></span>
                            </p>
                            <span class="bindRel_idMain label label-warning tableSpan">主表</span>
                            <span class="bindRel_setMain tableSpan">设为主表
                                <i class="icon icon-check-circle"></i></span>
                        </div>
                        <!--关联关系内容展示-->
                        <div class="panel-body">
                            <div class="bindRelContent"></div>
                        </div>
                    </div>
                    <!--编辑按钮-->
                    <div class="bindRelOperate">
                        <div>
                            <button class="btn btn-warning bindRel_editButton" type="button">点击编辑
                                <i class="icon icon-edit"></i></button>
                        </div>
                        <div class="input-group bindTypeGroup">
                            <button class="btn btn-success" type="button" data-toggle="dropdown">
                                <span class="join">连接方式</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li join="left outer join"><a>左连接</a></li>
                                <li join="right outer join"><a>右连接</a></li>
                                <li join="join"><a>内连接</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
                <!--绑定关系模版 END-->

            </div>
            <!--弹框操作按钮-->
            <div class="modal-footer">
                <button id="saveBindRel" type="button" class="btn btn-primary">保存</button>
                <button id="relBindCancel" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--绑定关系->编辑弹框-->
<div class="modal fade" id="bindEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--弹框标题-->
            <div class="modal-header">
                <h4 class="modal-title">绑定关系 > 编辑</h4>
            </div>
            <!--弹框内容-->
            <div class="modal-body">
                <!--tree-->
                <div id="bindEditModal_left">
                    <ul id="modal_tree" class="tree tree-lines tree-angles"></ul>
                </div>
                <!--relation-->
                <div id="bindEditModal_right">
                    <div id="bindEditModal_relation" contenteditable="true"></div>
                    <div id="bindEditModal_footer">
                        <div id="operationSign">
                            <span> = </span>
                            <span> and </span>
                            <span> or </span>
                            <span> ( </span>
                            <span> ) </span>
                        </div>
                        <div id="bindEditModal_content_buttons">
                            <button id="clearAll" class="btn btn-primary" type="button">
                                <i class="icon icon-trash"></i>
                                清空
                            </button>
                            <button id="verify" class="btn btn-warning" type="button">
                                <i class="icon icon-shield"></i>
                                验证
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--弹框操作按钮-->
            <div class="modal-footer">
                <button id="bindEditConfirm" type="button" class="btn btn-primary">保存</button>
                <button id="bindEditCancel" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<#include "/pages/common/loading.html">
<#include "/commonFoot.html">
<script type="text/javascript">
    //设置标题
    var folderName = creCommon.getCookie('folderName');
    var title = folderName + ">元数据管理";
    $("#title").text(title);
    // var baseVariableType = JSON.parse('${baseVariableType!}');
    // var entityType = JSON.parse('${entityType!}');
    // var baseVariable = JSON.parse('${baseVariable!}');
</script>
<script src="${ctx.contextPath}/static/js/metadata/metadataMgr.js"></script>
<script src="${ctx.contextPath}/static/js/common/loading.js"></script>
</body>
</html>