<#include "/commonHead.html">
<link href="${ctx.contextPath}/static/plugin/zui1.8.1/lib/chosen/chosen.min.css" rel="stylesheet">
<link href="${ctx.contextPath}/static/css/kpi/kpiIndex.css" rel="stylesheet"/>
<div id="page">
    <div id="pageHeader">
        <p>当前位置：<span>指标库</span><span id="detailTitle"></span></p>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <!-- 指标库Index start -->
            <div id="kpiIndexPageContent">
                <div class="kpiContainer kpiBaseWrapper">
                    <div class="tableIcon"><i class="icon icon-cog"> 指标</i></div>
                    <div class="selfAdaptionLeft">
                        <div>
                            <div class="input-group">
                                <input data-col="kpiGroupName" type="text" class="form-control"
                                       placeholder="指标组（请选择）">
                                <label class="input-control-icon-right" data-toggle="dropdown">
                                    <i class="icon icon-caret-down "></i>
                                </label>
                                <ul class="dropdown-menu pull-right kpiGroupList"></ul>
                            </div>
                            <div class="input-group">
                                <input data-col="kpiName" type="text" class="form-control" placeholder="指标名称">
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p" data-link-field="dtp_input1">
                                <input data-col="startDate" class="form-control" size="16" type="text" value=""
                                       placeholder="开始时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                            <div class="input-group date form-datetime" data-date=""
                                 data-date-format="dd MM yyyy - HH:ii:ss p"
                                 data-link-field="dtp_input2">
                                <input data-col="endDate" class="form-control" size="16" type="text" value=""
                                       placeholder="结束时间">
                                <span class="input-group-addon"><span class="icon-remove"></span></span>
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="selfAdaptionRight">
                        <button tableType="0" class="btn btn-primary kpiSearch" type="button">搜索</button>
                        <button id="addKpi" class="btn btn-primary" type="button">添加指标</button>
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <table id="kpiTable"></table>
                    </div>
                </div>
                <hr/>
                <!-- 指标组 -->
                <div class="kpiContainer kpiGroupWrapper">
                    <div class="tableIcon"><i class="icon icon-cogs"> 指标组</i></div>
                    <div class="selfAdaptionLeft">
                        <div>
                            <div class="input-group">
                                <input data-col="kpiGroupName" type="text" class="form-control"
                                       placeholder="指标组（请选择）">
                                <label class="input-control-icon-right" data-toggle="dropdown">
                                    <i class="icon icon-caret-down "></i>
                                </label>
                                <ul class="dropdown-menu pull-right kpiGroupList"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="selfAdaptionRight">
                        <button tableType="1" class="btn btn-primary kpiSearch" type="button">搜索</button>
                        <button id="addKpiGroup" class="btn btn-primary" type="button">添加组</button>
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <table id="kpiGroupTable"></table>
                    </div>
                </div>
            </div>
            <!-- 指标库Index end -->

            <!-- 指标定义/修改 start -->

            <!-- 指标定义/修改 end -->
        </div>
    </div>
</div>

<!--添加/修改指标 弹框-->
<div class="modal fade" id="editKpi">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加指标</h4>
            </div>
            <div class="modal-body">
                <div id="kpiDefContentWarp">
                    <!-- 1 指标通用基础信息 -->
                    <div class="kpiDefBase">
                        <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">指标组：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select col-name="kpiGroupId" class="form-control kpiGroupSelector"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">指标名称：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input id="kpiNameInput" col-name="kpiName" type="text" class="form-control"
                                           data-rule="指标名称:required;length[1~127, true];">
                                </div>
                                <label class="cron_msg icon icon-exclamation-sign hide" data-toggle="tooltip"
                                       data-placement="bottom" title="引用状态下不能修改指标名称！">
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">指标编码：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input id="kpiCodeInput" col-name="kpiCode" type="text" class="form-control"
                                           data-rule="指标编码:required;length[1~30];code;">
                                </div>
                                <label class="cron_msg icon icon-exclamation-sign hide" data-toggle="tooltip"
                                       data-placement="bottom" title="引用状态下不能修改指标编码！">
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">数据类型：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select id="kpiTypeSel" col-name="kpiType" class="form-control"></select>
                                </div>
                                <label class="cron_msg icon icon-exclamation-sign hide" data-toggle="tooltip"
                                       data-placement="bottom" title="引用状态下不能修改数据类型！">
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">默认值：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <input id="kpiDefaultValue" col-name="kpiDefaultValue" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">指标描述：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <textarea id="kpiDes" col-name="kpiDesc" type="text"
                                              class="form-control" data-rule="指标描述:length[~255, true];"></textarea>
                                </div>
                            </div>
                            <div id="kpiSourceTypeRadioDiv" class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">取数方式：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 kpiSourceTypeRadio">
                                    <div class="radio">
                                        <label><input type="radio" name="kpiSourceTypeRadio" typeValue="0"
                                                      checked>数据源</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="kpiSourceTypeRadio"
                                                      typeValue="1">接口</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="kpiSourceTypeRadio"
                                                      typeValue="2">输入指标</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 2-1 数据源字段类型 -->
                    <div class="kpiSourceWrapper kpiDBWrapper">
                        <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">数据源：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select id="kpiDef_dsSel" col-name="dbId" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">表：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select
                                            id="kpiDef_tableInput"
                                            data-placeholder="请选择/输入表名"
                                            class="chosen-select form-control"
                                            col-name="tableId"
                                            tabindex="2"
                                            data-rule="表名:required;"
                                            onchange="kpiModal.handleDbTableChange( $( this ) )"
                                    ></select>
                                    <!--                                <div class="input-control has-icon-right">-->
                                    <!--                                    <input id="kpiDef_tableInput" col-name="tableId" class="form-control"-->
                                    <!--                                           placeholder="请选择/输入表名" data-rule="表名:required;">-->
                                    <!--                                    <label for="kpiDef_tableInput" class="input-control-icon-right" data-toggle="dropdown">-->
                                    <!--                                        <i class="icon icon-caret-down"></i>-->
                                    <!--                                    </label>-->
                                    <!--                                    <ul class="dropdown-menu kpiDropDown kpiDef_dsTablesList"></ul>-->
                                    <!--                                </div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">取值字段：</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select
                                            id="kpiDef_colInput"
                                            data-placeholder="请选择/输入取值字段"
                                            class="chosen-select form-control"
                                            col-name="kpiValueSource"
                                            tabindex="2"
                                            data-rule="字段:required;"
                                            onchange="kpiModal.handleKpiValueChange( $( this ) )"
                                    ></select>
                                    <!--                                <div class="input-control">-->
                                    <!--                                    <input id="kpiDef_colInput" col-name="kpiValueSource" class="form-control"-->
                                    <!--                                           placeholder="请选择/输入取值字段" data-rule="字段:required;">-->
                                    <!--                                    <label for="kpiDef_colInput" class="input-control-icon-right" data-toggle="dropdown">-->
                                    <!--                                        <i class="icon icon-caret-down"></i>-->
                                    <!--                                    </label>-->
                                    <!--                                    <ul id="kpiValueSourceList" class="dropdown-menu kpiDropDown kpiDef_tbColsList"></ul>-->
                                    <!--                                </div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">限定字段：</label>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <div class="panel kpiLimitColsPanel">
                                        <div class="panel-heading">
                                            <div class="topTxt">
                                                <span>满足以下</span>
                                                <!--                                            <div class="limitColsConnSel"></div>-->
                                                <span>条件</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <p id="dsKpiLimitP">请先选择表</p>
                                            <div id="dsKpiLimitContent" class="hide">
                                                <div id="dsKpiLimitCols">
                                                    <!--col start-->
                                                    <!--col end-->
                                                </div>
                                                <button id="addKpiLimitColRow" type="button" class="butD">新增字段</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 2-2 接口类型 -->
                    <div class="kpiSourceWrapper kpiApiWrapper">
                        <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">接口：</label>
                                <div class="input-control has-icon-right col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <select id="kpiDef_apiInput" col-name="apiId" class="form-control"
                                            data-rule="接口:required;"
                                            onchange="kpiLimitColsModal.apiKpiChange( $( this ) )"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">取值字段：</label>
                                <div class="input-control has-icon-right col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <!--                                <input id="kpiDef_apiReturnInput" col-name="kpiValueSource" class="form-control">-->
                                    <div id="actRuleConnSel" data-rule="取值字段:required;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">限定字段：</label>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <div id="" class="panel kpiLimitColsPanel">
                                        <div class="panel-heading">
                                            <div class="topTxt"><span>接口参数列表</span></div>
                                        </div>
                                        <div class="panel-body">
                                            <p id="apiKpiLimitP">请先选择接口</p>
                                            <table id="kpiDef_apiParamsTable"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- 2-3 输入指标类型 -->
                    <div class="kpiSourceWrapper kpiKPIWrapper">
                        <form class="form-horizontal" data-validator-option="{stopOnError:true}">
<!--                            <div class="form-group">-->
<!--                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">接口：</label>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">取值字段：</label>-->
<!--                                <div class="input-control has-icon-right col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
<!--                                    &lt;!&ndash;                                <input id="kpiDef_apiReturnInput" col-name="kpiValueSource" class="form-control">&ndash;&gt;-->
<!--                                    <div id="actRuleConnSel" data-rule="取值字段:required;"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">限定字段：</label>-->
<!--                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
<!--                                    <div id="" class="panel kpiLimitColsPanel">-->
<!--                                        <div class="panel-heading">-->
<!--                                            <div class="topTxt"><span>接口参数列表</span></div>-->
<!--                                        </div>-->
<!--                                        <div class="panel-body">-->
<!--                                            <p id="apiKpiLimitP">请先选择接口</p>-->
<!--                                            <table id="kpiDef_apiParamsTable"></table>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveKpiContent" type="button" class="btn btn-primary">保存</button>
                    <button id="closeKpiContent" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewKpiContent" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--添加/修改组 弹框-->
<div class="modal fade" id="kpiGroupAlert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加指标组</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" data-validator-option="{stopOnError:true}">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><i class="mustIcon">*</i>指标组名称</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input id="kpiGroupNameInput" col-name="kpiGroupName" type="text" class="form-control"
                                   data-rule="指标组名称:required;length[1~64, true];">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">指标组描述</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <textarea col-name="kpiGroupDesc" type="text" class="form-control" data-rule="指标组描述:length[~255, true];"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="notView">
                    <button id="saveKpiGroup" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
                </div>
                <button id="closeViewKpiGroup" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<#include "/pages/common/confirmAlert.html">
<#include "/commonFoot.html">
<script>
    var kpiTypeList = JSON.parse('${kpiTypeList!}');
</script>
<script src="${ctx.contextPath}/static/js/kpi/kpiIndex.js"></script>
<script src="${ctx.contextPath}/static/plugin/zui1.8.1/lib/chosen/chosen.min.js"></script>
<script src="${ctx.contextPath}/static/js/common/confirmAlert.js"></script>

</body>
</html>