<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.frame.mapper.analysis.AnalysisMapper">


    <select id="modelExecuteStatis" resultType="map" parameterType="map">
        select count(*) as "count",STATE as "state"
        from CRE_RULE_LOG
        where 1=1
        <if test="day != null">
            and START_TIME &gt;= TRUNC( SYSDATE - #{day} )
        </if>
        <if test="folderId != null and '' != folderId">
            AND FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        </if>
        <if test="deptId != null and '' != deptId">
            AND DEPT_ID = #{deptId,jdbcType=VARCHAR}
        </if>
        GROUP BY STATE
    </select>

    <select id="modelExecuteStatisWithAuthFilter" resultType="map" parameterType="map">
        select count(*) as "count", A.STATE as "state"
        from CRE_RULE_LOG A
        LEFT JOIN (
        SELECT
        RULE_ID, RULE_NAME
        FROM
        CRE_RULE_DETAIL
        UNION ALL
        SELECT
        RULE_ID, RULE_NAME
        FROM
        CRE_RULE_DETAIL_DRAFT
        ) C ON A .RULE_ID = C.RULE_ID
        where 1=1
        AND C.RULE_NAME IN (
        SELECT DISTINCT
        (A .RESOURCE_ID)
        FROM
        CRE_AUTH_AUTHORITY A
        WHERE
        A .SUBJECT_ID IN
        <foreach collection="subjectIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND A .RESOURCE_TYPE_ID IN ('3', '8')
        AND A .RESOURCE_ID != '*'
        )
        <if test="day != null">
            and A.START_TIME &gt;= TRUNC( SYSDATE - #{day} )
        </if>
        <if test="folderId != null and '' != folderId">
            AND A.FOLDER_ID = #{folderId,jdbcType=VARCHAR}
        </if>
        <if test="deptId != null and '' != deptId">
            AND A.DEPT_ID = #{deptId,jdbcType=VARCHAR}
        </if>
        GROUP BY STATE
    </select>

    <select id="allmodelExecuteTopThree" resultType="map" parameterType="map">
        SELECT
        "count",
        c.FOLDER_ID as "folderId",
        d.FOLDER_NAME as "folderName",
        c.RULE_NAME as "ruleName",
        c.MODULE_NAME as "moduleName"
        from (
        SELECT count(*) as "count", a.FOLDER_ID, b.RULE_NAME,b.MODULE_NAME
        FROM (select FOLDER_ID,RULE_ID FROM CRE_RULE_LOG
        WHERE 1=1
        <if test="day != null">
            and START_TIME &gt;= TRUNC( SYSDATE - #{day} )
        </if>
        )a
        INNER JOIN (
        SELECT RULE_NAME,MODULE_NAME, RULE_ID FROM CRE_RULE_DETAIL
        UNION ALL
        SELECT RULE_NAME,MODULE_NAME, RULE_ID FROM CRE_RULE_DETAIL_DRAFT
        ) b ON a.RULE_ID = b.RULE_ID
        GROUP BY a.FOLDER_ID, b.RULE_NAME,b.MODULE_NAME
        ) c INNER JOIN CRE_RULE_FOLDER d ON c.FOLDER_ID = d.FOLDER_ID
        ORDER BY "count" DESC
    </select>

    <select id="allmodelExecuteTopThreeWithAuthFilter" resultType="map" parameterType="map">
        SELECT
        "count",
        c.FOLDER_ID as "folderId",
        d.FOLDER_NAME as "folderName",
        c.RULE_NAME as "ruleName",
        c.MODULE_NAME as "moduleName"
        from (
        SELECT count(*) as "count", a.FOLDER_ID, b.RULE_NAME,b.MODULE_NAME
        FROM (select FOLDER_ID,RULE_ID FROM CRE_RULE_LOG
        WHERE 1=1
        <if test="day != null">
            and START_TIME &gt;= TRUNC( SYSDATE - #{day} )
        </if>
        )a
        INNER JOIN (
        SELECT RULE_NAME,MODULE_NAME, RULE_ID FROM CRE_RULE_DETAIL
        UNION ALL
        SELECT RULE_NAME,MODULE_NAME, RULE_ID FROM CRE_RULE_DETAIL_DRAFT
        ) b ON a.RULE_ID = b.RULE_ID
        WHERE
        b.RULE_NAME IN (
        SELECT DISTINCT
        (A .RESOURCE_ID)
        FROM
        CRE_AUTH_AUTHORITY A
        WHERE
        A .SUBJECT_ID IN
        <foreach collection="subjectIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND A .RESOURCE_TYPE_ID IN ('3', '8')
        AND A .RESOURCE_ID != '*'
        )
        GROUP BY a.FOLDER_ID, b.RULE_NAME,b.MODULE_NAME
        ) c INNER JOIN CRE_RULE_FOLDER d ON c.FOLDER_ID = d.FOLDER_ID
        ORDER BY "count" DESC
    </select>

    <select id="allmodelStatis" resultType="com.bonc.frame.entity.analysis.ModelStatisticsInfo" parameterType="map">
            SELECT
                COUNT (DISTINCT(RULE_NAME)) AS modelCount,
                COUNT (VERSION) AS modelVersionCount,
                RULE_TYPE AS ruleType
            FROM
                (
                    SELECT
                        RULE_NAME,
                        VERSION,
                        RULE_TYPE
                    FROM
                        CRE_RULE_DETAIL
                    WHERE
                        IS_DEL = '0'
                    UNION
                    SELECT
                        RULE_NAME,
                        VERSION,
                        RULE_TYPE
                    FROM
                        CRE_RULE_DETAIL_DRAFT
                    WHERE
                        IS_DEL = '0'
                )
            GROUP BY
                RULE_TYPE
    </select>

    <select id="allmodelStatisWithAuthFilter" resultType="com.bonc.frame.entity.analysis.ModelStatisticsInfo"
            parameterType="map">
        SELECT
        COUNT (DISTINCT(RULE_NAME)) AS modelCount,
        COUNT (VERSION) AS modelVersionCount,
        RULE_TYPE AS ruleType
        FROM
        (
        SELECT
        RULE_NAME,
        VERSION,
        RULE_TYPE
        FROM
        CRE_RULE_DETAIL
        WHERE
        IS_DEL = '0'
        AND RULE_NAME IN (
        SELECT DISTINCT
        (A .RESOURCE_ID)
        FROM
        CRE_AUTH_AUTHORITY A
        WHERE
        A .SUBJECT_ID IN
        <foreach collection="subjectIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND A .RESOURCE_TYPE_ID IN ('3', '8')
        AND A .RESOURCE_ID != '*'
        )
        UNION
        SELECT
        RULE_NAME,
        VERSION,
        RULE_TYPE
        FROM
        CRE_RULE_DETAIL_DRAFT
        WHERE
        IS_DEL = '0'
        AND RULE_NAME IN (
        SELECT DISTINCT
        (A .RESOURCE_ID)
        FROM
        CRE_AUTH_AUTHORITY A
        WHERE
        A .SUBJECT_ID IN
        <foreach collection="subjectIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND A .RESOURCE_TYPE_ID IN ('3', '8')
        AND A .RESOURCE_ID != '*'
        )
        )
        GROUP BY
        RULE_TYPE
    </select>

    <select id="allModelStatusStatis" resultType="com.bonc.frame.entity.analysis.ModelStatisticsInfo"
            parameterType="map">
        SELECT
        COUNT (DISTINCT(RULE_NAME)) AS modelCount,
        RULE_STATUS AS ruleStatus
        FROM
        (
        SELECT
        RULE_NAME,
        RULE_ID,
        CASE
        WHEN RULE_STATUS = '0' THEN
        '2'
        ELSE
        RULE_STATUS
        END AS RULE_STATUS
        FROM
        CRE_RULE_DETAIL
        WHERE
        IS_DEL = '0'
        AND IS_HEADER = '0'
        )
        GROUP BY
        RULE_STATUS
    </select>

    <select id="allModelStatusStatisWithAuthFilter" resultType="com.bonc.frame.entity.analysis.ModelStatisticsInfo"
            parameterType="map">
        SELECT
        COUNT (DISTINCT(RULE_NAME)) AS modelCount,
        RULE_STATUS AS ruleStatus
        FROM
        (
        SELECT
        RULE_NAME,
        RULE_ID,
        CASE
        WHEN RULE_STATUS = '0' THEN
        '2'
        ELSE
        RULE_STATUS
        END AS RULE_STATUS
        FROM
        CRE_RULE_DETAIL
        WHERE
        IS_DEL = '0'
        AND IS_HEADER = '0'
        AND RULE_NAME IN (
        SELECT DISTINCT
        (A .RESOURCE_ID)
        FROM
        CRE_AUTH_AUTHORITY A
        WHERE
        A .SUBJECT_ID IN
        <foreach collection="subjectIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND A .RESOURCE_TYPE_ID IN ('3', '8')
        AND A .RESOURCE_ID != '*'
        )
        )
        GROUP BY
        RULE_STATUS
    </select>

    <select id="taskStatusStatis" resultType="com.bonc.frame.entity.analysis.TaskStatusStatisInfo">
        SELECT TASK_STATUS as status,count(*) as count from (
                SELECT
                       CASE
                           WHEN
                               TASK_STATUS = '2' THEN
                               '4'
                           WHEN TASK_STATUS = '-2' THEN
                               '-1' ELSE TASK_STATUS
                               END as TASK_STATUS
                FROM
                     CRE_RULE_TASK
                )
        WHERE TASK_STATUS != '6'
        GROUP BY TASK_STATUS
    </select>

    <select id="taskStatusStatisWithAuthFilter" resultType="com.bonc.frame.entity.analysis.TaskStatusStatisInfo">
        SELECT TASK_STATUS as status,count(*) as count from (
        SELECT
        CASE
        WHEN
        TASK_STATUS = '2' THEN
        '4'
        WHEN TASK_STATUS = '-2' THEN
        '-1' ELSE TASK_STATUS
        END as TASK_STATUS
        FROM
        CRE_RULE_TASK
        WHERE TASK_STATUS != '6'
        AND TASK_ID IN (
        SELECT DISTINCT
        (A .RESOURCE_ID)
        FROM
        CRE_AUTH_AUTHORITY A
        WHERE
        A .SUBJECT_ID IN
        <foreach collection="subjectIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND A .RESOURCE_TYPE_ID = '10'
        AND A .RESOURCE_ID != '*'
        )
        )
        GROUP BY TASK_STATUS
    </select>

</mapper>